{% if settings.auto_calculate_shipping %}
  {% liquid
    assign single_rate = 'shipping.single_rate' | t
    assign multi_rate = 'shipping.multiple_rates' | t
    assign no_rate = 'shipping.no_rates' | t
    assign default_country = localization.country.name
    if customer.default_address
      assign default_country = customer.default_address.country
    endif
    if customer.default_address.province
      assign default_province = customer.default_address.province
    endif
    if customer.default_address.zip
      assign default_zip = customer.default_address.zip
    endif
  %}
  <div class="auto-calculate-shipping__wrapper list-style-none flex {% if is_cart_page %} pt-2{% else %} pt-1{% endif %}" x-data="xEstimateShipping($el,`{{ single_rate }}`,`{{ multi_rate }}`, `{{ no_rate }}`)" x-intersect.once="load(); submit()">
    <div class="hidden">
      <div class="w-full pb-4{% if cartPage %} md:pb-0{% endif %}">
        <div class="relative">
          <select data-default="{{ default_country }}" class="country-select shipping-rate w-full pl-5 pr-10 rtl:pr-5 rtl:pl-10 pt-3 pb-3 appearance-none border bg-transparent focus:border-current border-solid{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}" name="country">
            {{ country_option_tags }}
          </select>
        </div>
      </div>
      <div class="w-full province-container pb-4{% if cartPage %} md:pb-0{% endif %}">
        <select {% if default_province %} data-default="{{ default_province }}"{% endif %} class="province-select shipping-rate w-full pl-5 pr-10 rtl:pr-5 rtl:pl-10 pt-3 pb-3 bg-transparent focus:border-current appearance-none border border-solid{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}" name="province">
        </select>
      </div>
      <input id="AutoCalculateShippingCart" class="zip-input w-full pl-5 pr-5 pt-3 pb-3 border bg-transparent focus:border-current border-solid{% if settings.edges_type == 'rounded_corners' %} rounded-md{% endif %}" type="text"{% if default_zip %} value="{{ default_zip }}"{% endif %}>
      <label for="AutoCalculateShippingCart" class="hidden">{{ 'shipping.auto_calculate' | t }}</label>
    </div>
    <div class="rates hidden w-full flash-message">
      <div class="rates-heading">{{ 'shipping.auto_calculate' | t }}</div>
      <div x-html="rates_text" class="rates-text"></div>
    </div>
    <div class="errors hidden pt-3 w-full pb-3">
      <p>{{ 'shipping.empty_calculate' | t }}</p>
    </div>
  </div>
  <script src="{{ 'estimate-shipping-rate.js' | asset_url }}" defer></script>
{% else %}
  <p>
    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
      {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
    {%- elsif cart.taxes_included -%}
      {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
    {%- elsif shop.shipping_policy.body != blank -%}
      {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
    {%- else -%}
      {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
    {%- endif -%}
  </p>
{% endif %}
