{%- liquid
  assign name_edt = settings.name_edt
  if settings.name_edt == blank
    assign name_edt = 'general.estimate_delivery' | t
  endif
  assign market = localization.country.iso_code
  assign data_min = settings.estimate_delivery_min
  if product.metafields.custom.delivery_date_min != blank
    assign data_min = product.metafields.custom.delivery_date_min
  endif

  if data_min contains ';'
    assign estimate_mins = data_min | split: ";"
    for estimate_min in estimate_mins
      assign code_market_min = estimate_min | split: ":" | first | remove: " "
      assign min_value_market = estimate_min | split: ":" | last

      if code_market_min == market
        assign delivery_date_min = min_value_market | plus: 0
      endif 
    endfor
  else
    if data_min contains ':'
      assign code_market_min = data_min | split: ":" | first | remove: " "
      assign min_value_market = data_min | split: ":" | last

      if code_market_min == market
        assign delivery_date_min = min_value_market | plus: 0
      endif 
    else
      assign delivery_date_min = data_min | plus: 0
    endif 
  endif

  assign data_max = settings.estimate_delivery_max
  if product.metafields.custom.delivery_date_max != blank
    assign data_max = product.metafields.custom.delivery_date_max
  endif 

  if data_max contains ';'
    assign estimate_maxs = data_max | split: ";"
    for estimate_max in estimate_maxs
      assign code_market_max = estimate_max | split: ":" | first | remove: " "
      assign max_value_market = estimate_max | split: ":" | last

      if code_market_max == market
        assign delivery_date_max = max_value_market | plus: 0
      endif 
    endfor
  else
    if data_max contains ':'
      assign code_market_max = data_max | split: ":" | first | remove: " "
      assign max_value_market = data_max | split: ":" | last

      if code_market_max == market
        assign delivery_date_max = max_value_market | plus: 0
      endif 
    else
      assign delivery_date_max = data_max | plus: 0
    endif 
  endif

  assign current_variant = product.selected_or_first_available_variant
  assign variant_mtf_msg = current_variant.metafields.custom.delivery_date_message | metafield_text | strip
  if variant_mtf_msg != ''
    assign mtf_message = current_variant.metafields.custom.delivery_date_message | metafield_text | strip
    if mtf_message != ''
      assign message = current_variant.metafields.custom.delivery_date_message | metafield_tag
    endif
  else
    assign mtf_message = product.metafields.custom.delivery_date_message | metafield_text | strip
    if mtf_message != ''
      assign message = product.metafields.custom.delivery_date_message | metafield_tag
    endif
  endif

  assign current_minute = "now" | date: "%M"
  assign current_time_of_day = "now" | date: "%H" | append: current_minute | plus: 0
  assign cutoff_time = settings.estimate_delivery_cutoff_hour | append: settings.estimate_delivery_cutoff_minute | plus: 0

  if current_time_of_day > cutoff_time
    assign delivery_date_min = delivery_date_min | plus: 1
    assign delivery_date_max = delivery_date_max | plus: 1
  endif

  assign to_min_date_seconds = delivery_date_min | times: 24 | times: 60 | times: 60
  assign to_max_date_seconds = delivery_date_max | times: 24 | times: 60 | times: 60

  assign min_date_month = 'now' | date: "%s" | plus: to_min_date_seconds | date: "%B"
  assign min_date_day = 'now' | date: "%s" | plus: to_min_date_seconds | date: "%d"
  assign min_date_string = 'date_time.month.' | append: min_date_month | t | append: ' ' | append: min_date_day

  assign max_date_month = 'now' | date: "%s" | plus: to_max_date_seconds | date: "%B"
  assign max_date_day = 'now' | date: "%s" | plus: to_max_date_seconds | date: "%d"

  assign min_date_month_format =  'date_time.month.' | append: min_date_month | t
  assign max_date_month_format =  'date_time.month.' | append: max_date_month | t

  assign min_date_string = min_date_month_format | append: ' ' | append: min_date_day
  assign max_date_string = max_date_month_format | append: ' ' | append: max_date_day
  if settings.date_format_estimate_cart == 'dd-mm'
     assign min_date_string = min_date_day | append: ' ' | append: min_date_month_format
     assign max_date_string = max_date_day | append: ' ' | append: max_date_month_format
  endif
-%}
<input
  class="hidden cart-edt-properties"
  name="properties[{{ name_edt }}]"
  value="{{ message | replace: 'earliest_delivery_date', min_date_string | replace: 'latest_delivery_date', max_date_string | strip_html }}"
  {% if product_form_id != blank %}
    form="{{ product_form_id }}"
  {% endif %}
  {% if disable_cart_edt %}
    disabled
  {% endif %}
    id="PropertiesCartEDT__{{ product_form_id }}"
>
<label class="hidden" for="PropertiesCartEDT__{{ product_form_id }}">Properties Cart EDT</label>
{% if disable_cart_edt %}
<input
  name="properties[_preorder]"
  value="preorder"
  class="hidden"
  {% if product_form_id != blank %}
    form="{{ product_form_id }}"
  {% endif %}
    id="PropertiesPreorder__{{ product_form_id }}"
>
{% endif %}
<label class="hidden" for="PropertiesPreorder__{{ product_form_id }}">Properties Preorder</label>
<input
  class="hidden"
  type="text" 
  name="attributes[datetime-updated]" 
  value="{{ update_date_string }}"
  {% if product_form_id != blank %}
    form="{{ product_form_id }}"
  {% endif %}
    id="DateTimeUpdated__{{ product_form_id }}"
>
<label class="hidden" for="DateTimeUpdated__{{ product_form_id }}">Date Time Updated</label>