{% if settings.search_bar_enabled != 'none' %}
  {% liquid
    assign search_type = ''
    if settings.predictive_search_show_products
      assign search_type = search_type | append: ',product'
    endif
    if settings.predictive_search_show_articles
      assign search_type = search_type | append: ',article'
    endif
    if settings.predictive_search_show_collections
      assign search_type = search_type | append: ',collection'
    endif
    if settings.predictive_search_show_pages
      assign search_type = search_type | append: ',page'
    endif

    assign search_type = 'query' | append: search_type
    assign is_search_refined = false

    if settings.search_bar_enabled == 'refined'
      assign is_search_refined = true
    endif
  %}
  {% liquid
    assign reponsive_search = false
    if section.settings.section_width == "page-width" and section.settings.logo_position == 'logo-on-top'
      assign minimal = true
    endif
    if section.settings.logo_position == 'logo-on-top'
      if section.settings.section_width == "page-width"
        assign minimal = true
      else
        assign reponsive_search = true
      endif
    endif
  %}
  <div
    x-data="xModalSearch('{{ search_type }}', {{ settings.search_desktop_maximum_results }}, {{ settings.search_mobile_maximum_results }}, '{{ 'templates.search.product_type_default' | t }}')"
    class="header-search flex lg:flex items-center{% unless minimal %} justify-center{% endunless %}{% if reponsive_search %} md:justify-start 2xl:justify-center{% endif %}"
    @keydown.escape="close(); $store.xMaximizeDrawer.handleClose();"
  >
    {% if minimal or reponsive_search %}
      <a
        id="SearchOpen"
        href="{{ routes.search_url }}"
        aria-label="search"
        role="button"
        class="flex items-center px-1 py-1{% if reponsive_search %} 2xl:hidden{% endif %} cursor-pointer justify-center focus-inset md:relative md:top-auto bg-none rtl:right-0 rtl:md:right-auto ltr:left-0 ltr:md:left-auto"
        @click.prevent="open();$store.xHeaderMenu.hideMenu('main-menu-nav');"
      >
        <span class="icon w-5 h-5 lg:w-6 lg:h-6 translate-y-0">{% render 'icon-all', icon: 'icon-search' %}</span>
      </a>
    {% endif %}

    <div
      id="FormSearch__{{ type }}"
      x-ref="open_search"
      {% if minimal %}
        class="form-search-wrapper search-popup fixed flex flex-col md:absolute left-0 top-0 origin-top invisible h-full opacity-0 ease-in-out overflow-hidden"
      {% else %}
        class="form-search-wrapper w-full"
      {% endif %}
      :class="isFocusedSearchForm ? 'is-open' : ''"
    >
      <div class="fixed top-0 bottom-0 right-0 left-0 duration-500 color-bg-[rgba(var(--color-background))] bg-gradient" :class="isFocusedSearchForm ? 'opacity-100 delay-500' : 'opacity-0 invisible'" x-cloak></div>
      <div class="w-full flex justify-end">
        <button
          id="SearchClose__{{ type }}"
          class="focus-inset cursor-pointer modal__button-close"
          x-on:click="close(); $store.xFocusElement.removeTrapFocus();"
          x-ref="close_button"
          :class="isFocusedSearchForm ? '' : 'hidden'"
          aria-label="{{ 'general.search.search' | t }}"
        >
          <span class="button__close icon-close-large-desktop icon-close-large-mobile">{% render 'icon-all', icon: 'icon-close' %}</span>
        </button>
      </div>
      <div
        class="search-box-wrapper relative {% if settings.predictive_search_enabled %} w-full{% endif %}"
        data-loading-text="{{ 'accessibility.loading' | t }}"
        x-cloak
        :class="isFocusedSearchForm ? 'page-width' : 'md:top-0{% if reponsive_search %} hidden 2xl:block{% endif %}'"
      >
        <div
          class="mx-auto w-full relative"
          :class="isFocusedSearchForm && 'border-b pb-2 md:pb-5'"
        >
          <div
            class="header-search-inner h-full w-full field flex items-center rounded-corners py-1.5 {% if is_search_refined %} px-1.5{% endif %}"
            :class="{'border': !isFocusedSearchForm}"
          >
            {% if is_search_refined %}
              <select-element
                class="header-search-refined dropdown-large rtl:ml-5 ltr:mr-5"
                data-picker-type="dropdown"
              >
                <div class="select relative">
                  <div 
                    class="select-button rounded-corners relative w-28 lg:w-36 xl:w-[10.5rem] flex gap-4 lg:gap-5 justify-between items-center rounded-corners color-bg-[rgba(var(--color-text-header),0.06)] color-text-[rgba(var(--color-text-header))] py-2 px-4 rtl:text-right ltr:text-left cursor-pointer hover:color-text-[rgba(var(--color-button))]"
                    role="button"
                    tabindex="0"
                    aria-expanded="false"
                    aria-controls="CategoriesList"
                    aria-describedby="CategoriesHeading"
                    x-bind:class="{
                      'md:px-5 md:py-3': isFocusedSearchForm,
                      'md:py-1.5 md:px-3 text-small': !isFocusedSearchForm
                    }"
                    @click="fetchRefinedSearch()"
                  >
                    <span
                      class="select-button__label line-clamp-1 flex-1 p-break-words"
                      data-section-id="{{ section.id }}"
                    >
                      {{ 'templates.search.product_type_default' | t }}
                    </span>
                    <span class="select-arrow transition-transform w-2.5 h-2.5 flex">{% render 'icon-all', icon: 'icon-caret' %}</span>
                    <div class="absolute inset-0 flex justify-center items-center color-bg-[rgba(var(--color-overlay),0.2)] rounded-corners" x-show="loadingProductType === 'loading'" x-cloak>
                      <span class="w-4 h-4 right-3 animate-spin left-1/2">{% render 'icon-all', icon: 'icon-loading' %}</span>
                    </div>
                  </div>
                  <div 
                    class="select-options-wrapper max-h-64 scrollbar-visible scrollbar-body color-bg-gradient-[var(--gradient-background)]"
                    data-adjust-position="false"
                  >
                    <ul
                      role="listbox"
                      class="select-options hidden"
                      aria-label="CategoriesList"
                    >
                      <li
                        tabindex="-1"
                        class="select-option hidden"
                        data-type="dropdown"
                        aria-selected="true"
                        role="option"
                        data-no-instant
                        data-value="{{ 'templates.search.product_type_default' | t }}"
                        data-select-value="{{ 'templates.search.product_type_default' | t }}"
                        @click="setProductType($el, true)"
                        @keydown.enter="setProductType($el, true)"
                        @keydown.space="setProductType($el, true)"
                      >
                        {{ 'templates.search.product_type_default' | t }}
                      </li>
                    </ul>
                  </div>
                </div>
                <label class="hidden">
                  <input
                    name="product_type"
                    class="select-option-selected"
                    value="product_type:"
                    data-disclosure-input
                    @change="handleChangeProductType()"
                  >
                </label>
              </select-element>
            {% endif %}
            <form
              id="form-search-{{ section.id }}"
              class="form-search grow z-0"
              action="{{ routes.search_url }}"
              method="get"
              role="search"
            >
              <label for="search-in-modal-{{ type }}" class="hidden" aria-hidden="true">{{ 'general.search.search' | t }}</label>
              <input
                id="search-in-modal-{{ type }}"
                class="peer input-search py-1.5 focus-visible:outline-none w-full rtl:pl-20 rtl:md:pl-[70px] ltr:pr-20 ltr:md:pr-[70px] appearance-none relative outline-none bg-transparent placeholder:text-current color-text-[rgba(var(--color-text),0.4)]
                  {%- unless is_search_refined %} ps-5{% endunless -%}"
                type="search"
                x-bind:class="isFocusedSearchForm ? 'md:py-3' : 'text-small'"
                name="q"
                value=""
                x-on:keydown="handleKeyUpModal($event)"
                @input.debounce.500ms="handleChangeInput()"
                @click="focusForm()"
                placeholder="{{ settings.search_bar_default_message }}"
                x-ref="input_search"
              >
              <input
                type="hidden"
                name="type"
                value="product"
              >
              <input
                type="hidden"
                :value="productTypeSelected == '{{ 'templates.search.product_type_default' | t }}' ? '' : productTypeSelected"
                name="filter.p.product_type"
                x-bind:disabled="productTypeSelected == '{{ 'templates.search.product_type_default' | t }}'"
              >
              <button
                class="btn-search form-button icon absolute none_border w-8 h-8 p-[7px] md:p-1.5 bg-none text-current rtl:left-3.5 ltr:right-3.5 top-1/2 -translate-y-1/2 "
                aria-label="{{ 'general.search.search' | t }}"
              >
                {%- render 'icon-all', icon: 'icon-search' -%}
              </button>
              {% if settings.show_speech_search %}
                <button
                  class="search__speech form-button icon absolute cursor-pointer w-8 h-8 p-[7px] md:p-1.5 rtl:left-12 ltr:right-12 top-1/2 -translate-y-1/2 bg-none text-current"
                  x-data="xSpeechSearch($el)"
                  x-show="show"
                  x-cloak
                  tabindex="0   0 1"
                  aria-label="{{ 'general.search.voice' | t }}"
                >
                  {% render 'icon-all', icon: 'icon-voice' %}
                </button>
                <script
                  src="{{ 'speech-search.js' | asset_url }}"
                  defer
                ></script>
              {% endif %}
              <div
                x-ref="search_content"
                class="absolute top-full mt-4 md:mt-7.5 w-full left-0"
                style="--input-search-to-top: 0px; height: calc(var(--viewport-height) - var(--input-search-to-top) - 10px)"
                x-show="isFocusedSearchForm"
                x-transition:enter="transition-[500ms_500ms] ease-out"
                x-transition:enter-start="opacity-0 transform translate-y-[30px]"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="ease-in"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform translate-y-[30px]"
                x-cloak
                x-intersect.full="$store.xFocusElement.trapFocus('FormSearch__{{ type }}', 'search-in-modal-{{ type }}');"
              >
                <div
                  id="search-result"
                  class="h-full"
                  tabindex="-1"
                  data-predictive-search
                  x-html="result"
                  x-cloak
                  x-show="loading == false && openResults"
                  x-transition:enter="transition-[500ms_500ms] ease-out"
                  x-transition:enter-start="opacity-0"
                  x-transition:enter-end="opacity-100"
                ></div>
                {% comment %}{% if settings.search_recomendation != blank or settings.popular_product_search != blank %}{% endcomment %}
                <div
                  id="suggest-search"
                  class="h-full lg:pb-5"
                  tabindex="-1"
                  data-predictive-search
                  x-cloak
                  x-show="showSuggest && isFocusedSearchForm"
                >
                  {%- render 'suggest-search' -%}
                </div>
              </div>
              {% comment %}{% endif %}{% endcomment %}
            </form>
          </div>
        </div>
      </div>
      <div
        class="element-end-modal h-0 w-0 absolute pointer-events-none"
        :tabindex="isFocusedSearchForm ? '0' : '-1'"
        @focus="document.getElementById('SearchClose__{{ type }}')?.focus()">
      </div>
    </div>
  </div>
{% endif %}
