<div
  class="product-card__swatches-wrapper empty:hidden px-0.5"
  data-card-swatch-type="{{ settings.pc_swatches_type }}"
>
  <product-card-swatch-option
    data-variant-id="{{ current_variant.id }}"
    data-product-id="{{ product.id }}"
    data-show-edt="{{ show_edt }}"
    data-product-url="{{ product_url }}"
    {% if product.featured_media.preview_image != blank %}
      data-preview_img="{{ product.featured_media.preview_image | image_url }}"
    {% endif %}
    {% if settings.pc_effect_to_mouse_hover == 'carousel' and product.media.size > 1 %}
      data-effect-image="carousel"
    {% endif %}
  >
    {%- liquid
      assign swatch_color_show_by_default = settings.pc_swatch_color_show_by_default
      assign swatch_text_show_by_default = settings.pc_swatch_text_show_by_default
      assign text_option_name = settings.pc_swatch_text_option_name | split: ';'
      assign swatch_option_name = settings.swatch_option_name | split: ';'
      assign settings_show_swatch = false
      if settings.pc_swatches_type == 'color' or settings.pc_swatches_type == 'both_text_and_color'
        assign settings_show_swatch = true
        assign list_swatch_option_values = settings.swatch_option_values | newline_to_br | strip_newlines | split: '<br />'
      endif
    -%}

    {%- for option in product.options_with_values -%}
      {%- liquid
        assign show_text_swatch = false
        assign show_color_swatch = false
        assign limit_swatch_show_by_default = option.values.size

        if settings_show_swatch
          if swatch_option_name contains option.name
            assign show_color_swatch = "color-setting"
          else
            for option_value in option.values
              if option_value.swatch
                assign show_color_swatch = "category-mtf"
                break
              endif
            endfor
          endif
        endif

        if show_color_swatch and swatch_color_show_by_default != 0
          assign limit_swatch_show_by_default = swatch_color_show_by_default
        endif

        if settings.pc_swatches_type == 'text' or settings.pc_swatches_type == 'both_text_and_color'
          unless show_color_swatch == "color-setting"
            if text_option_name contains option.name
              if swatch_text_show_by_default != 0
                assign limit_swatch_show_by_default = swatch_text_show_by_default
              endif
              assign show_color_swatch = false
              assign show_text_swatch = true
            endif
          endunless
        endif
        assign show_swatch = false
        if show_text_swatch or show_color_swatch
          assign show_swatch = true
        endif
      -%}

      {% if show_swatch %}
        <fieldset
          id="Option-{{ section_id }}-{{ product_card_id }}-{{ forloop.index0 }}"
          class="product-form__input mb-3 pl-0 gap-1 swatch-options__wrapper {% unless show_swatch %} hidden{% endunless %}"
        >
          <div class="product-card__swatches--name mb-2 hidden">{{ option.name }}</div>
          <div
            class="inline-flex gap-1 flex-wrap items-center{% if settings.pc_swatches_type == 'color' or settings.pc_swatches_type == 'both_text_and_color' %} -ml-0.5 rtl:-mr-0.5{% endif %} justify-{{ content_alignment }} md:list-layout:justify-start md:rtl:list-layout:justify-end"
          >
            {% for option_value in option.values limit: limit_swatch_show_by_default %}
              {% liquid
                assign variant_value = option_value.variant

                assign option_id = section_id | append: '-' | append: product_card_id | append: '-' | append: option.position | append: '-' | append: forloop.index0 | append: '-' | append: product.id
                assign data_position = option.position | append: '-' | append: forloop.index0 | append: '-' | append: product.id

                if settings_show_swatch
                  if variant_value.featured_media.preview_image != blank
                    assign preview_image = variant_value.featured_media.preview_image
                  elsif product.featured_media.preview_image != blank
                    assign preview_image = product.featured_media.preview_image
                  endif

                  assign swatch_color_value = option_value | downcase | handle
                  assign swatch_image_value = false

                  assign swatch_value_option = null
                  assign multi_colors = null

                  if show_color_swatch == "color-setting"
                    for swatch_option in list_swatch_option_values
                      assign swatch_item_key = swatch_option | split: ':' | first
                      assign swatch_item_value = swatch_option | split: ':' | last | strip
                      if swatch_item_key == option_value
                        assign swatch_value_option = swatch_item_value
                        break
                      endif
                    endfor
                  endif

                  if show_color_swatch
                    if option_value.swatch.color
                      assign swatch_color_value = 'rgba(' | append: option_value.swatch.color.rgba | append: ')'
                    endif
                    if option_value.swatch.image
                      assign image_url = option_value.swatch.image | image_url: width: 40
                      assign swatch_image_value = 'url(' | append: image_url | append: ')'
                    endif

                    if swatch_value_option
                      if swatch_value_option contains '.'
                        assign image_url = swatch_value_option | file_img_url: '50x50'
                        assign swatch_image_value = 'url(' | append: image_url | append: ')'
                      else
                        assign multi_colors = swatch_value_option | remove_first: '#' | split: '#'
                        assign swatch_color_value = swatch_value_option
                      endif
                    endif
                  endif
                  if settings.replace_color_with_variant_images and preview_image != blank
                    assign image_url = preview_image | image_url: width: 40
                    assign swatch_image_value = 'url(' | append: image_url | append: ')'
                  endif

                  if forloop.first
                    assign ratio_image = 1
                    if settings.replace_color_with_variant_images and preview_image != blank
                      assign ratio_image = 1 | divided_by: preview_image.aspect_ratio
                    elsif option_value.swatch.image and show_color_swatch == "category-mtf"
                      assign ratio_image = 1 | divided_by: option_value.swatch.image.aspect_ratio
                    endif
                  endif
                endif

                if option_value.available
                  assign option_disabled = false
                else
                  assign option_disabled = true
                endif
              %}
              {% capture linear_background %}
              {% if multi_colors.size == 3 %}
                linear-gradient(45deg, {{ '#' | append: multi_colors[0] }}, {{ '#' | append: multi_colors[0] }} 33.3%, {{ '#' | append: multi_colors[1] }} 33.3%, {{ '#' | append: multi_colors[1] }} 66.6%, {{ '#' | append: multi_colors[2] }} 66.6%, {{ '#' | append: multi_colors[2] }});
              {% elsif multi_colors.size == 2 %}
                linear-gradient(45deg, {{ '#' | append: multi_colors[0] }}, {{ '#' | append: multi_colors[0] }} 50%, {{ '#' | append: multi_colors[1] }} 50%, {{ '#' | append: multi_colors[1] }});
              {% endif %}
            {% endcapture %}
              {% liquid
                if multi_colors.size > 1 and swatch_image_value == false
                  assign swatch_image_value = linear_background
                endif
              %}
              <input
                class="swatch-option__value variant-option__input hidden {% if option_disabled %} disabled{% endif %} {% if option_value.selected %} selected{% endif %}"
                type="radio"
                id="{{ option_id }}"
                name="{{ option.name | escape }}-{{section.id }}-{{ block_id }}-{{ index }}-{{ section.index }}"
                value="{{ option_value | escape }}"
                data-media-id="{{ variant_value.featured_media.id }}"
                data-value="{{ option_value.name | escape }}"
                data-option-value-id="{{ option_value.id }}"
                data-option-position="{{ option.position }}"
              >
              {% if show_color_swatch and settings_show_swatch or settings.pc_swatches_type == 'both_text_and_color' %}
                <label
                  class="swatch-option__label variant-option__label flex items-center variant-{{ product_card_id }}-{{ option.position }}-{{ forloop.index0 }}-{{ product.id }} cursor-pointer block {% if swatch_natural %} swatch-option__natural{% endif %} swatch-{{ settings.swatch_size }} border relative{{ classSwatch }} {% if option_disabled and settings.pc_swatches_type != 'both_text_and_color' %}disabled{% endif %} color-border-[rgba(var(--color-text),0.12)]"
                  for="{{ option_id }}"
                  style="--swatch-color-value: {{ swatch_color_value }}; --swatch-image-value: {{ swatch_image_value }};{% if swatch_natural %}--swatch-option-ratio: {{ ratio_image }};{% endif %}"
                  tabindex="0"
                  aria-label="{{ value | escape }}"
                  data-swatch-type="color"
                  data-swatch-value="{{ option_value | downcase | escape }}"
                  @keyup.enter="$el.click()"
                  data-position="{{ data_position }}"
                >
                </label>
              {% elsif settings.pc_swatches_type == 'text' or settings.pc_swatches_type == 'both_text_and_color' and text_option_name contains option.name %}
                {% liquid
                  assign text_custom = blank
                  assign text_value = ''
                  assign swatch_option_text_values = settings.pc_swatch_text_option_values | newline_to_br | strip_newlines | split: '<br />'
                  for text_option_value in swatch_option_text_values
                    assign option_key = text_option_value | split: ':' | first
                    assign text_value = text_option_value | split: ':' | last

                    if option_key == option_value
                      assign text_custom = option_key
                      break
                    endif
                  endfor
                %}

                <label
                  class="
                    swatch-option__label items-center font-medium color-border-[rgba(var(--color-text),0.12)] cursor-pointer text-small overflow-hidden relative pl-3.5 pr-3.5 pt-1.5 pb-1.5 border
                    {%- if content_alignment == 'right' %} rtl:mr-0{% endif -%}
                    {%- if settings.edges_type == 'rounded_corners' %} rounded{% endif -%}
                  "
                  for="{{ option_id }}"
                  data-swatch-type="text"
                  data-swatch-value="{{ option_value | downcase | escape }}"
                  @keyup.enter="$el.click()"
                  tabindex="0"
                  data-position="{{ data_position }}"
                >
                  <span class="p-break-words">
                    {% if text_custom != blank %}{{ text_value | escape }}{% else %}{{ option_value | escape }}{% endif %}
                  </span>
                </label>
              {% endif %}
            {% endfor %}
            {% if limit_swatch_show_by_default < option.values.size %}
              <p class="ml-0.5">+{{ option.values.size | minus: limit_swatch_show_by_default }}</p>
            {% endif %}
          </div>
        </fieldset>
      {% endif %}
    {%- endfor -%}
  </product-card-swatch-option>
</div>
