{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are padding bottom of image" (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - section_id: {String} The ID of the section that contains this card.
  - block_id: {String} The ID of the block that contains this card.
  - info_alignment: {String} alignment of card information.
  - disable_badges: {Boolean} Don't show labels and badges
  - collection: {Object} Collection Liquid object (optional),
  - index: {Number} The index of the product card in the collection,
  - product_complementary: Classes are used for product complementary
  - show_quickview: {Boolean} Show quick view button. Default: true (optional)
  - enable_sticky_button: {Boolean} Enable sticky add to cart button. Default: true (optional)
  Usage:
  {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{% liquid
  if settings.lang_direction contains request.locale.iso_code
    assign rtl = true
  endif
  if column_mobile == blank
    assign column_mobile = 1
  endif
  unless index_param
    assign index_param = section.index | append: forloop.index | plus: 0
  endunless
  assign current_variant = product.selected_or_first_available_variant
  assign media_aspect_ratio = media_aspect_ratio | default: settings.pc_media_ratio
  assign content_alignment = info_alignment | default: settings.pc_content_alignment

  assign list_layout_wrapper_class = ""
  if settings.pc_background_color_light.alpha != 0.0
    assign list_layout_wrapper_class = 'md:list-layout:p-5'
  endif
  if settings.pc_background_color_dark.alpha != 0.0
    assign list_layout_wrapper_class = list_layout_wrapper_class | append: " md:dark:list-layout:p-5"
  else
    assign list_layout_wrapper_class = list_layout_wrapper_class | append: " md:dark:list-layout:p-0"
  endif

  assign button_style = settings.pc_button_style

  assign section_id_for_class = section.id
  if request.visual_preview_mode
    assign section_id_for_class = section_id_for_class | replace: '=', '\='
  endif

%}

{% liquid
  assign is_show_preorder = false
  assign is_apply_preorder = false
  if settings.applied_products_preorder == blank and settings.applied_collections_preorder == blank
    assign is_apply_preorder = true
  else
    assign list_product = ''
    for prod in settings.applied_products_preorder
      assign list_product = list_product | append: ';' | append: prod.id
    endfor
    for collec in settings.applied_collections_preorder
      for prod in collec.products
        assign list_product = list_product | append: ';' | append: prod.id
      endfor
    endfor
    if list_product contains product.id
      assign is_apply_preorder = true
    endif
  endif

  if is_apply_preorder
    if settings.preorder_show == 'yes'
      if current_variant.inventory_management == null
        assign is_show_preorder = true
      else
        if current_variant.inventory_quantity > 0
          assign is_show_preorder = true
        elsif current_variant.inventory_policy == 'continue' and current_variant.inventory_management != null
          assign is_show_preorder = true
        endif
      endif
    elsif settings.preorder_show == 'on_back_ordered'
      if current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity < 1 and current_variant.inventory_management != null
        assign is_show_preorder = true
      endif
    endif
  endif

  assign message_preorder = 'general.preorder.message_preorder' | t
  if settings.message_preorder_cart != blank
    assign message_preorder = settings.message_preorder_cart
  endif
  assign enable_cart_edt = true
  if is_show_preorder and settings.pc_hide_when_pre_order
    assign enable_cart_edt = false
  endif
  assign show_edt = false
  unless disable_estimate_delivery
    if settings.pc_show_shipping_information
      assign show_edt = true
    endif
  endunless

  assign current_date = 'now' | date: '%s'
  assign product_created_at = product.created_at | date: "%s"
  assign product_published_at = product.published_at | date: "%s"
  assign difference_in_seconds_created = current_date | minus: product_created_at
  assign difference_in_days_created = difference_in_seconds_created | times: 1.0 | divided_by: 86400 | round: 2
  assign difference_in_seconds_published = current_date | minus: product_published_at
  assign difference_in_days_published = difference_in_seconds_published | times: 1.0 | divided_by: 86400 | round: 2

  assign inventory_quantity = 0
  for variant in product.variants
    if variant.inventory_management == 'shopify'
      assign inventory_quantity = inventory_quantity | plus: variant.inventory_quantity
      assign track_inventory_status = true
    endif
  endfor
  if inventory_quantity > 0
    assign label_quantity = inventory_quantity
  endif
  assign sale_amount = product.compare_at_price | minus: product.price
  if sale_amount <= 0
    assign sale_amount = ""
  endif

  assign options_string = ""
  for option in current_variant.options
    assign options_string = options_string | append: option.id | append: ', '
  endfor
  if enable_sticky_button != nil
    assign pc_sticky_buttons = enable_sticky_button 
  else 
    assign pc_sticky_buttons = settings.pc_sticky_buttons 
  endif 
%}
{%- unless disable_badges -%}
  {% liquid
    assign label_position = block_labels_and_badge.settings.label_position | default: 'content_inline'
    assign inventory_management = track_inventory_status | default: false
  %}
  {% capture data_for_label %}
    {%
      render "data-for-label",
      product: product,
      current_variant: current_variant,
      target: product,
      sale_amount: sale_amount,
      label_quantity: label_quantity,
      container: "card",
      inventory_management: inventory_management,
      is_show_preorder: is_show_preorder,
      diff_day_create: diff_day_create,
      diff_day_publish: diff_day_publish
    %}
  {% endcapture %}
{%- endunless -%}

{% if product and product != empty %}
  {%- liquid
    assign product_form_id = 'product-form-' | append: section_id | append: '-' | append: product.id | append: '-' | append: index

    assign swatch_natural = false
    if settings.swatch_style == 'natural'
      assign swatch_natural = true
    endif
  -%}

  {% liquid
    assign product_card_image = product.featured_media.preview_image
  %}
  {% liquid
    assign show_secondary_image_when_hover = false
    assign show_carousel_image_when_hover = false
    if settings.pc_effect_to_mouse_hover == 'reveal' and product.media.size > 1
      assign show_secondary_image_when_hover = true
    endif

    if settings.pc_effect_to_mouse_hover == 'carousel' and product.media.size > 1
      assign show_carousel_image_when_hover = true
    endif

    assign img_first_class = 'product-card__image w-full is-active object-cover h-full'
    if show_secondary_image_when_hover
      assign img_first_class = img_first_class | append: 'product-card__image w-full h-full'
    endif
    assign product_card_id = section_id | append: '-' | append: block_id | append: '-' | append: product.id | append: '-' | append: index_param
    if append_id
      assign product_card_id = product_card_id | append: append_id
    endif
    assign product_card_element_id = 'ProductCard_' | append: product_card_id
    assign product_url = product.url | within: collection | split: '?' | first
    assign show_border_class = ""
    if settings.pc_show_border
      assign show_border_class = 'border border-solid rgba(var(--color-line-and-border)) rounded-corners'
    endif
  %}

  {% liquid
    assign desktop_show_atc = false
    assign mobile_show_atc = false
    assign desktop_show_quantity = false
    assign mobile_show_quantity = false

    if settings.pc_desktop_atc_button_layout == 'desktop_show_atc'
      assign desktop_show_atc = true
    endif
    if settings.pc_mobile_atc_button_layout == 'mobile_show_atc'
      assign mobile_show_atc = true
    endif
    if settings.pc_desktop_atc_button_layout == 'desktop_show_atc_with_quantity'
      assign desktop_show_quantity = true
      assign desktop_show_atc = true
    endif
    if settings.pc_mobile_atc_button_layout == 'mobile_show_atc_with_quantity'
      assign mobile_show_quantity = true
      assign mobile_show_atc = true
    endif        
   %}

  {% style %}
    #{{ product_card_element_id }} .product-card__image-wrapper {
    {% if media_aspect_ratio == "auto" %}
      {% if product_card_image != blank %}
        padding-bottom: {{ 1 | divided_by: product_card_image.aspect_ratio | times: 100 }}%;
      {% else %}
        padding-bottom: 100%;
      {% endif %}
    {% endif %}
    }
  {% endstyle %}
  <div
    class="product-card__wrapper color-scheme-theme anm-reveal-item rounded-corners overflow-hidden tooltip-boundary text-{{ content_alignment }} h-full overflow-hidden flex flex-col gap-2 relative md:list-layout:flex-row md:list-layout:gap-x-4 {{ list_layout_wrapper_class }} {{ show_border_class }}"
    id="{{ product_card_element_id }}"
    data-current-variant-id="{{ current_variant.id }}"
      x-data="{
        showOptions: false,
        activeElement: null
      }
    "
    data-list-option-values-id-selected="{{ options_string }}"
    data-active="{% if is_always_active %}true{% else %}false{% endif %}"
  >
    <div class="product-card__image-container w-full md:list-layout:w-[30%] md:list-layout:shrink-0">
      <div
        class="product-card__image-wrapper pb-[{{ media_aspect_ratio }}%] rounded-corners overflow-hidden w-full relative {% if show_carousel_image_when_hover %} swiffy-slider{% endif %}"
        id="ProductCardImage__{{ block_id }}__{{ product.id }}"
        {% if show_carousel_image_when_hover %}
          x-intersect.once="
            $store.xSwiffy.load($el, {
              'effect': 'fade',
              'isLoop': false,
              'paginationBar': 'number_bar'
            });
            $store.xProductCard.handleCardHover($el);
          "
          data-effect="fade"
        {% endif %}
      >
        <a
          href="{{ product_url }}"
          aria-label="{{ product.title | escape }}"
          class="link-product-variant rounded-corners w-full{% if product_card_image != blank %} absolute top-0 left-0 bottom-0{% endif %}{% if show_carousel_image_when_hover %} slider-container !absolute h-full{% endif %}"
          {% unless disable_badges %}
            x-data="{ lastWindowWidth: 0 }"
            x-intersect.once.margin.200px="
              $nextTick(() => {
                $store.xLabelsAndBadges?.load($el);
              })
            "
            x-labels-data="{{ data_for_label | escape }}"
          {% endunless %}
          tabindex="-1"
        >
          {% if product_card_image != blank %}
            {% capture attributes_first_image %}data-media-id="{{ product.featured_media.id }}"{% endcapture %}
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {% if section.settings.section_width == 'page-width' %}{{ settings.page_width | plus: 100 | divided_by: columns_desktop | plus: 1 }}px{% else %}calc(100vw / {{ columns_desktop | plus: 1 }}){% endif %}, (min-width: 1024px) calc((100vw) / {{ columns_desktop | plus: 1 }}), (min-width: 768px)
              calc((100vw) / 2), calc(100vw /{{ column_mobile }})
            {%- endcapture -%}
            {% liquid
              assign eager_loading = false
              if section.index == 1 and section.location == 'template'
                assign eager_loading = true
              endif
            %}
            <div
                class="slide-item{% if show_carousel_image_when_hover %} pointer-events-none{% endif %} h-full is-active {% if show_secondary_image_when_hover %} transition-opacity duration-300 first-hover-image{% endif %}" {{ attributes_first_image }}>
              {% render 'image', img_class: img_first_class, img: product_card_image, alt: product.featured_media.alt, img_width: 500, sizes: sizes, eager_loading: eager_loading %}
            </div>
            {% if settings.pc_effect_to_mouse_hover != 'none' %}
              {% for media in product.media limit: 4 %}
                {%- if forloop.index > 1 -%}
                  {% liquid
                    assign img_class = 'product-card__image object-cover w-full h-full '
                    if show_secondary_image_when_hover and forloop.index == 2
                      assign img_class = img_class | append: ' absolute object-cover top-0 h-full'
                    endif
                  %}

                  {% capture attributes_image %}data-media-id="{{ media.id }}"{% endcapture %}
                  <div
                      class="slide-item h-full {% if show_carousel_image_when_hover %} pointer-events-none{% endif %} {% if show_secondary_image_when_hover %} transition-opacity duration-300 opacity-0 second-hover-image{% endif %}" {{ attributes_image }}>
                    {% render 'image', img_class: img_class, img: media, alt: media.title, img_width: 500, loading: 'lazy', sizes: sizes %}
                  </div>
                  {% if show_secondary_image_when_hover %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% else %}
            <div class="product-card__img-placeholder-wrapper absolute w-full h-full flex items-center justify-center">
              <div class="product-card__img-placeholder w-full h-full overflow-hidden">
                {% liquid
                  assign index = index | default: 1
                  assign index = 'now' | date: '%M' | times: index | modulo: 5 | plus: 1
                  assign placeholder_product_name = 'product_' | append: index
                %}
                {% render 'placeholder-image', image_type: placeholder_product_name %}
              </div>
            </div>
          {% endif %}
        </a>
        {% if show_carousel_image_when_hover %}
          <div
              class="slider-indicators z-10 mb-1.5 px-3 py-1.5 pointer-events-none invisible justify-center items-center w-full left-0 right-0 gap-1">
            {% for media in product.media limit: 4 %}
              <button class="slider-indicator w-full{% if settings.edges_type == 'rounded_corners' %} rounded-full{% endif %}{% if forloop.index == 1 %} active{% endif %}"></button>
            {% endfor %}
          </div>
        {% endif %}
        {% if settings.hide_cart == false %}
          <div
            id="QuickViewErrorMessage__{{ section.id }}__{{ product.id }}"
            class="quick-view__error-message-wrapper absolute w-full flex items-center justify-center px-1.5 bottom-3{% if show_carousel_image_when_hover %} anm-err-message{% endif %}"
          ></div>
        {% endif %}
        {% unless disable_button %}
          <div
              class="product-card__widget flex flex-col gap-1 h-fit absolute w-fit right-0 top-auto bottom-0 md:top-0 p-1.5 md:bottom-auto transform md:list-layout:hidden">
            {% if show_quickview %}
              <div
                class="product-card__widget-quick-view product-card__widget-item"
                x-show="$store.xQuickView && $store.xQuickView.enabled"
              >
                <custom-button>
                  <button
                    class="button-quick-view__product-card w-[34px] h-[34px] md:w-9 md:h-9 rounded-full p-[9px] flex items-center justify-center button-{{ button_style }}"
                    x-on:click="$store.xQuickView && $store.xQuickView.load('{{ product.id }}', '{{ product_url }}', $el) && $store.xQuickView.open();"
                    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                    aria-label="{{ 'products.product_card.quick_view_button' }}"
                  >
                    {% render 'icon-all', icon: 'icon-quickview' %}
                  </button>
                </custom-button>
              </div>
            {% endif %}

            {% if settings.hide_cart == false %}
              <div
                class="product-card__widget-choose-option product-card__widget-item delay-100 
                {% if settings.pc_mobile_atc_button_layout == 'on_product_image' %} block {% else %} hidden {% endif %}
                {% if settings.pc_desktop_atc_button_layout == 'on_product_image' %} md:block {% else %} md:hidden {% endif %}"
              >
                {% if product.available and product.has_only_default_variant == false %}
                  <custom-button>
                    <button
                      href="{{ product_url }}"
                      type="button"
                      tabindex="0"
                      class="flex justify-center items-center font-bold w-[34px] h-[34px] md:w-9 md:h-9 p-[9px] rounded-full button-{{ button_style }}"
                      @click.prevent="$store.xProductCard.loadChooseOptions('{{ product.url | within: collection | split: "?" | first }}', $el, '{{ section_id }}-{{ product.id }}-{{ block_id }}', {{ index_param }}); showOptions=true; activeElement=$el;"
                      aria-label="{{ 'products.product.choose_option' | t }}"
                    >
                      {% render 'icon-cart', icon: 'icon-cart' %}
                    </button>
                  </custom-button>
                {% else %}
                  <div
                    class="product-info__form-wrapper w-full"
                    id="ProductForm-{{ section.id }}-{{ block.id }}"
                    x-data="xProductForm('{{ product_form_id }}', '{{ current_variant.id }}', {{ current_variant.available | default: false }}, {% if is_show_preorder %} '{{ 'products.product.pre_order' | t }}'{% else %}{% if current_variant.available == false %}'{{ 'products.product.sold_out' | t }}'{% else %}'{{ 'products.product.add_to_cart' | t }}'{% endif %}{% endif %}, '{{ 'products.product.add_to_cart' | t }}', '{{ section.id }}', '', '{{ settings.preorder_show }}', '{{ 'products.product.pre_order' | t }}', {{ is_show_preorder }}, {{ false }}, '{{ settings.pc_atc_button_label }}')"
                    x-intersect.once.margin.200px="handleInitProductForm()"
                  >
                    <template x-teleport="#QuickViewErrorMessage__{{ section.id }}__{{ product.id }}">
                      <div
                        class="hidden rounded-[var(--border-radius-flash-message)] bg-white"
                        @click.away="errorMessage = false"
                      >
                        <div
                          x-ref="error_message" class="flash-message error-message relative overflow-hidden"
                          data-auto-hide-message="true"
                        ></div>
                      </div>
                    </template>
                    <div class="md:list-layout:w-fit">
                      {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form', x-ref: 'product_form' -%}
                        <input
                          class="product-form__variant-id w-full px-4 py-3 hidden "
                          name="id"
                          type="hidden"
                          form="{{ product_form_id }}"
                          :value="variantId"
                          :disabled="!isOptionAvailable"
                        >
                        {%- capture estimate_shipping_message -%}
                          {%- render 'estimate-shipping-message', product: product, variant: product.selected_or_first_available_variant -%}
                        {%- endcapture -%}
                        {%- assign message_update = estimate_shipping_message | strip -%}
                        {% if message_update != blank and settings.estimate_show_in_cart == 'show_item' %}
                          {% liquid
                            assign name_edt = settings.name_edt
                            if settings.name_edt == blank
                              assign name_edt = 'general.estimate_delivery' | t
                            endif
                          %}
                          <input
                            name="properties[{{ name_edt }}]"
                            value="{{ message_update }}"
                            class="choose-option__form__estimate-delivery hidden"
                            {% if product_form_id != blank %}
                              form="{{ product_form_id }}"
                            {% endif %}
                            id="PropertiesCartEDT__{{ product_form_id }}"
                          >
                          <label class="hidden" for="PropertiesCartEDT__{{ product_form_id }}">Propperties Cart EDT</label>
                        {% endif %}

                        {% if is_show_preorder %}
                          <input
                            type="hidden"
                            class="choose-option__form__preorder hidden"
                            form="{{ product_form_id }}"
                            name="properties[{{ 'general.preorder.name' | t }}]"
                            value="{{ message_preorder }}"
                          >
                        {% endif %}
                        <div class="w-full">
                          <div>
                            <custom-button>
                              <button
                                class="product-form__btn-add-to-cart w-[34px] h-[34px] md:w-9 md:h-9 rounded-full flex items-center justify-center p-2 button-{{ button_style }}"
                                type="submit"
                                name="add"
                                aria-haspopup="dialog"
                                aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                                aria-label="{{ 'products.product.add_to_cart' | t }}"
                                aria-live="polite"
                                data-sold-out-message="true"
                                :class="
                                  {
                                    'opacity-60 cursor-not-allowed': (!isAvailableButton || errorMessage),
                                    'visible': visible,
                                    'invisible': !visible,
                                    'is-loading': isLoading
                                  }
                                "
                                :disabled="!isAvailableButton || errorMessage"
                                :aria-disabled="!isAvailableButton || isLoading"
                                :tabindex="isAvailableButton ? '0' : '-1'"
                                @click.prevent="handleAddToCart($event, false, '{{ product.selected_or_first_available_variant.id }}')"
                              >
                                <span
                                  class="btn__text"
                                  :class="{'invisible': isLoading}"
                                >
                                  {% render 'icon-cart', icon: 'icon-cart' %}
                                </span>
                                <span
                                  class="inline-block w-5 h-5 animate-spin absolute left-[calc(50%-10px)]"
                                  x-show="isLoading"
                                  x-cloak
                                >
                                  {% render 'icon-all', icon: 'icon-loading' %}
                                </span>
                              </button>
                            </custom-button>
                          </div>
                        </div>
                      {%- endform -%}
                    </div>
                    <script type="application/json" data-type="init-current-variant">{{ current_variant | json }}</script>
                  </div>
                {% endif %}
              </div>
            {% endif %}
            {% if settings.enable_product_compare and template.name == 'collection' or template.name == 'search' or template.name == 'product' or is_recommendation %}
              <div x-show="$store.xProductComparison && $store.xProductComparison.hasSection"
                   class="product-card__widget-compare product-card__widget-item delay-200">
                <div class="relative">
                  <custom-button>
                    <button
                      x-cloak
                      x-show="$store.xProductComparison?.listComparisonProducts && !$store.xProductComparison.listComparisonProducts.some(item => item.productId === '{{ product.id }}')"
                      class="product-card__comparison-button flex justify-center items-center font-bold w-[34px] h-[34px] md:w-9 md:h-9 p-[9px] rounded-full button-{{ button_style }}"
                      :class="[$store.xProductComparison?.listComparisonProducts.length >= $store.xProductComparison?.maximumProductCompare && !$store.xProductComparison.isClickAddToCompare && 'cursor-not-allowed tooltip-icon-compare']"
                      @click.prevent="$store.xProductComparison?.addProductToCompare('{{ product.id }}', '{{ product.handle }}')"
                      aria-label="{{ 'products.product.compare' | t }}"
                    >
                      {% render 'icon-all', icon: 'icon-product-comparison' %}
                    </button>
                  </custom-button>
                  <div
                    class="hidden hover:flex rtl:hover:flex-row-reverse tooltip-popup tooltip-row absolute bottom-0 md:bottom-auto md:top-0 right-full mx-0.5 z-10"
                    x-show="!$store.xProductComparison.isClickAddToCompare"
                  >
                    <div class="w-[100px] md:w-[130px] rounded-[var(--border-radius-flash-message)] bg-white">
                      <div
                        x-init="$el.innerHTML = $el.innerHTML.replace('count_product', $store.xProductComparison?.maximumProductCompare)"
                        class="flash-message error-message w-full text-center"
                      >
                        <span
                            class="text-x-small tooltip-text">{{ 'product_comparison.tooltip_limit_products' | t }}</span>
                      </div>
                    </div>
                    <div class="relative self-end md:self-start z-10">
                      <div class="triangle-right color-border-l-[rgba(var(--error-message-color),0.1)] my-1"></div>
                      <div class="triangle-right border-l-white my-1 absolute top-0 left-0 -z-10"></div>
                    </div>
                  </div>
                </div>
                <div class="relative">
                  <custom-button>
                    <button
                      x-cloak
                      x-show="$store.xProductComparison?.listComparisonProducts && $store.xProductComparison.listComparisonProducts.some(item => item.productId === '{{ product.id }}')"
                      class="product-card__comparison-button cursor-default flex justify-center items-center font-bold w-[34px] h-[34px] md:w-9 md:h-9 p-[9px] rounded-full tooltip-icon-compare button-{{ button_style }}"
                      aria-label="{{ 'products.product.compare' | t }}"
                      disabled
                    >
                      {% render 'icon-all', icon: 'icon-check-compare' %}
                    </button>
                  </custom-button>
                  <div
                      class="hidden hover:flex rtl:hover:flex-row-reverse tooltip-popup tooltip-row absolute bottom-0 md:bottom-auto md:top-0 right-full mx-0.5 z-10">
                    <div class="w-[100px] md:w-[130px] rounded-[var(--border-radius-flash-message)] bg-white">
                      <div class="flash-message success-message w-full text-center relative">
                        <span class="text-x-small">{{ 'product_comparison.tooltip_added_to_compare' | t }}</span>
                      </div>
                    </div>
                    <div class="relative self-end md:self-start z-10">
                      <div class="triangle-right color-border-l-[rgba(var(--success-message-color),0.1)] my-1"></div>
                      <div class="triangle-right border-l-white my-1 absolute top-0 left-0 -z-10"></div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endunless %}
      </div>
    </div>
    <div class="below-image ltr flex flex-wrap justify-{{ content_alignment }} mb-2 gap-1 empty:hidden"></div>
    <div
      class="product-card__info-wrapper ltr flex flex-col w-full md:list-layout:overflow-visible md:list-layout:w-[calc(100%-30%-1rem)] relative text-{{ content_alignment }} md:list-layout:p-0 {% if pc_sticky_buttons %} h-full {% endif %}
        {%- unless product.has_only_default_variant %} product-has-options{% endunless -%}"
    >
      <div
        id="current-variant-{{ section_id }}-{{ product.id }}-{{ block_id }}"
        class="current-variant hidden"
      >
        {{ product.selected_or_first_available_variant.id }}
      </div>
      <div class="product-card__info md:list-layout:text-start {% if pc_sticky_buttons %}h-full flex flex-col{% endif %}">
        {% if show_vendor %}
          <div
              class="product-card__vendor product-info__vendor mb-1 text-small color-text-[rgba(var(--color-text),0.6)]">
            <span class="p-break-words">{{ product.vendor | escape }}</span>
          </div>
        {% endif %}
        <div class="product-card__title h5 md:h6 mb-1">
          <a
            class="link-product-variant touch-element inline-flex title-link p-break-words"
            href="{{ product_url }}"
            aria-label="{{ product.title | escape }}"
          >
            {{- product.title -}}
          </a>
        </div>
        {%- if show_rating -%}
          <div class="product-card__rating">
            {% render 'review-product', product: product, product_card: true %}
          </div>
        {%- endif -%}
        <div class="product-card__price mb-3 h5 inline-block">
          {% liquid
            assign price_wrapper = 'justify-' | append: content_alignment | append: ' h4 md:h5'
          %}
          {% liquid
            assign is_show_sale_label = false
            if settings.show_sale_label and settings.sale_label_content != blank
              assign is_show_sale_label = true
            endif
            assign price_id = 'Price' | append: '-' | append: product_card_id
          %}
          {% render 'price',
            product: product,
            use_variant: false,
            price_class: price_class,
            price_wrapper: price_wrapper,
            price_id: price_id,
            is_show_sale_label: is_show_sale_label,
            class_sale_label: ' text-x-small font-base-body pt-0.5 pb-0.5 pl-1 pr-1',
            sale_label_content: settings.sale_label_content,
            sale_label_light: settings.sale_label_light,
            sale_label_dark: settings.sale_label_dark,
            sale_label_text_light: settings.sale_label_text_light,
            sale_label_text_dark: settings.sale_label_text_dark,
            alignment: content_alignment,
            product_card: true
          %}
          <div class="next-price empty:hidden"></div>
        </div>
        {% if show_description %}
          <div
              class="product-card__description rte hidden md:list-layout:line-clamp-2 md:list-layout:text-ellipsis text-medium mb-2 {% if rtl %} rtl{% endif %} p-break-words">
            {{
              product.description
              | replace: '<img', '<noimg'
              | replace: '</img>', '</noimg>'
              | replace: '<iframe', '<noiframe'
              | replace: '</iframe>', '</noiframe>'
              | replace: 'src=', 'nosrc='
              | replace: '<h1', '<p class="h2"'
              | replace: '<h2', '<p class="h2"'
              | replace: '<h3', '<p class="h3"'
              | replace: '<h4', '<p class="h4"'
              | replace: '<h5', '<p class="h5"'
              | replace: '<h6', '<p class="h6"'
            }}
          </div>
        {% endif %}
        {% unless disable_color_swatch %}
          {% if settings.pc_swatches_type != 'none' %}
            {% render 'product-card-options', product: product, current_variant: current_variant, product_card_element_id: product_card_element_id, section_id: section_id, block_id: block_id, product_url: product_url, show_edt: show_edt, swatch_natural: swatch_natural, content_alignment: content_alignment %}
          {% endif %}
        {% endunless %}
        {% unless disable_inventory_status %}
          {% if settings.pc_show_inventory != 'none' or show_inventory_status %}
            <div
                class="product-card__inventory-wrapper ltr text-small flex mb-3 justify-{{ content_alignment }} md:list-layout:justify-start md:rtl:list-layout:justify-end empty:hidden">
              {%- case settings.pc_show_inventory -%}
                {%- when 'products_sold' -%}
                  {%- if product.metafields.custom.product_sold != blank -%}
                    <div class="product-card__product-sold flex gap-0.5 items-center rtl:flex-row-reverse">
                      <span class="inline-block w-4.5 h-4.5">{%- render 'icon-all', icon: 'icon-fire' -%}</span>
                      <span>
                        {{- product.metafields.custom.product_sold }}
                        {{ 'products.product.inventory_status.sold' | t -}}
                      </span>
                    </div>
                  {%- endif -%}
                {%- when 'inventory_status' -%}
                  {%- render 'pc-inventory-status', product: product -%}
              {%- endcase -%}
            </div>
          {% endif %}
        {% endunless %}
        {% unless disable_highlight_attributes %}
          {%- if settings.pc_show_highlight -%}
            <custom-tooltip-container class="product-card__highlight-attributes-wrapper ltr flex justify-{{ content_alignment }} md:list-layout:justify-start">
              {%- if settings.highlight_att_enable_auto_rotate -%}
                {%- liquid
                  assign metafield_icon_1 = settings.pc_metafield_icon_1 | split: '.'
                  assign metafield_attribute_1 = settings.pc_metafield_attribute_1 | split: '.'
                  assign icon_value_1 = product.metafields[metafield_icon_1.first][metafield_icon_1.last]
                  assign attribute_value_1 = product.metafields[metafield_attribute_1.first][metafield_attribute_1.last].value

                  assign metafield_icon_2 = settings.pc_metafield_icon_2 | split: '.'
                  assign metafield_attribute_2 = settings.pc_metafield_attribute_2 | split: '.'
                  assign icon_value_2 = product.metafields[metafield_icon_2.first][metafield_icon_2.last]
                  assign attribute_value_2 = product.metafields[metafield_attribute_2.first][metafield_attribute_2.last].value

                  assign metafield_icon_3 = settings.pc_metafield_icon_3 | split: '.'
                  assign metafield_attribute_3 = settings.pc_metafield_attribute_3 | split: '.'
                  assign icon_value_3 = product.metafields[metafield_icon_3.first][metafield_icon_3.last]
                  assign attribute_value_3 = product.metafields[metafield_attribute_3.first][metafield_attribute_3.last].value

                  assign has_icon_in_list = false
                  assign has_text_in_list = false

                  if icon_value_1 != blank or icon_value_2 != blank or icon_value_3 != blank
                    assign has_icon_in_list = true
                  endif
                  if attribute_value_1 != blank or attribute_value_2 != blank or attribute_value_3 != blank
                    assign has_text_in_list = true
                  endif
                -%}
                {%- if has_text_in_list or has_icon_in_list -%}
                  {% liquid
                    assign custom_class = 'flex'
                    assign wrapper_class = ''
                    assign wrapper_background = ''

                    if settings.highlight_att_show_bg
                      assign wrapper_class = 'p-1.5'
                      assign wrapper_background = 'rgba(var(--color-text),0.06)'
                    endif
                    
                    assign wrapper_rounded_class = 'rounded-corners rounded-corners-sm'
                    assign content_class = 'flex items-center gap-1 text-x-small'
                    assign text_class = 'p-break-words'
                    assign content_container_class = 'flex list-layout:md:justify-start list-layout:rtl:md:justify-end justify-' | append: content_alignment
                  %}
                  {% capture slide_element_config %}
                    {
                      "timeToNext": {{ settings.highlight_att_auto_rotate_every }}
                    }
                  {% endcapture %}
                  <slide-element 
                    class="product-card__highlight-attributes__rotate slide-element relative w-full mb-3 [--icon-size:16px]"
                    data-animation="{{ settings.highlight_att_animation }}"
                    data-config='{{ slide_element_config }}'
                  >
                    <div class="product-card__highlight-attributes__rotate-list slide-element__list-items">
                      {%- if icon_value_1 or attribute_value_1 -%}
                        <div class="slide-element__item w-full">
                          {%- render 'icon-with-text',
                            icon_type: icon_value_1.type,
                            icon: icon_value_1,
                            text: attribute_value_1,
                            custom_class: custom_class,
                            wrapper_class: wrapper_class,
                            wrapper_background: wrapper_background,
                            wrapper_rounded_class: wrapper_rounded_class,
                            content_class: content_class,
                            text_class: text_class,
                            currentId: 'product-card',
                            content_container_class: content_container_class
                          -%}
                        </div>
                      {%- endif -%}
                      {%- if icon_value_2 or attribute_value_2 -%}
                        <div class="slide-element__item w-full">
                          {%- render 'icon-with-text',
                            icon_type: icon_value_2.type,
                            icon: icon_value_2,
                            text: attribute_value_2,
                            custom_class: custom_class,
                            wrapper_class: wrapper_class,
                            wrapper_background: wrapper_background,
                            wrapper_rounded_class: wrapper_rounded_class,
                            content_class: content_class,
                            text_class: text_class,
                            currentId: 'product-card',
                            content_container_class: content_container_class
                          -%}
                        </div>
                      {%- endif -%}
                      {%- if icon_value_3 or attribute_value_3 -%}
                        <div class="slide-element__item w-full">
                          {%- render 'icon-with-text',
                            icon_type: icon_value_3.type,
                            icon: icon_value_3,
                            text: attribute_value_3,
                            custom_class: custom_class,
                            wrapper_class: wrapper_class,
                            wrapper_background: wrapper_background,
                            wrapper_rounded_class: wrapper_rounded_class,
                            content_class: content_class,
                            text_class: text_class,
                            currentId: 'product-card',
                            content_container_class: content_container_class
                          -%}
                        </div>
                      {%- endif -%}
                    </div>
                    {% if has_text_in_list %}
                      {% liquid
                        assign tooltip_class = 'icon-with-text__tooltip__wrapper max-w-[calc(100%*2/3)] z-10 mx-1 list-layout:ltr:md:left-0 list-layout:md:translate-x-0 list-layout:rtl:md:right-0 list-layout:rtl:md:left-auto'
                        if content_alignment == 'left'
                          assign tooltip_class = tooltip_class | append: ' left-0'
                        elsif content_alignment == 'center'
                          assign tooltip_class = tooltip_class | append: ' left-1/2 -translate-x-1/2'
                        else
                          assign tooltip_class = tooltip_class | append: ' right-0'
                        endif
                      %}
                      {% render 'tooltip',
                        tooltip_class: tooltip_class,
                        content_class: 'icon-with-text__tooltip-message',
                        content: '',
                        tooltip_position: 'top'
                      %}
                    {% endif %}
                  </slide-element>
                {%- endif -%}
              {%- else -%}
                <div class="product-card__highlight-attributes-wrapper empty:hidden flex flex-wrap gap-[3px] mb-3 justify-self-{{ content_alignment }} rtl:flex-row-reverse md:list-layout:justify-start">
                  {%- for i in (1..3) -%}
                    {%- liquid
                      assign pc_metafield_icon = 'pc_metafield_icon_' | append: i
                      assign pc_metafield_attribute = 'pc_metafield_attribute_' | append: i
                      assign metafield_icon = settings[pc_metafield_icon] | split: '.'
                      assign metafield_attribute = settings[pc_metafield_attribute] | split: '.'
  
                      assign icon_value = product.metafields[metafield_icon.first][metafield_icon.last]
                      assign attribute_value = product.metafields[metafield_attribute.first][metafield_attribute.last].value
                    -%}
                    {%- if metafield_icon == blank or icon_value == blank -%}
                      {%- if attribute_value != blank -%}
                        <div
                            class="product-card__highlight-attributes text-x-small py-0.5 px-2.5 color-bg-[rgba(var(--color-text),0.06)] w-fit flex justify-center gap-[3px] items-center {% if settings.edges_type == 'rounded_corners' %} rounded{% endif %}">
                          {{- attribute_value -}}
                        </div>
                      {%- endif -%}
                    {%- elsif metafield_icon != blank and icon_value != blank -%}
                      {%- capture highlight_card_icon -%}
                        {{- highlight_card_icon -}}
                        {%- render 'highlight-icon-card-product', highlight_icon: icon_value, label_icon: attribute_value -%}
                      {%- endcapture -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </custom-tooltip-container>
          {%- endif -%}
        {% endunless %}
        {% if show_edt %}
          <div class="product-card__shipping-information">
            <div
              id="x-estimate-delivery-{{ section_id }}"
              class="estimate-delivery-card-msg w-fit inline-block empty:hidden"
            >
              {%- if enable_cart_edt -%}
                {%- render 'estimate-delivery-product-card', product: product, variant: product.selected_or_first_available_variant, content_alignment: content_alignment -%}
              {%- endif -%}
            </div>
          </div>
        {% endif %}
        {% unless disable_pickup_message %}
          <div id="x-availability-notice-{{ section.id }}"
            class="flex items-center justify-{{ content_alignment }} md:list-layout:justify-start md:rtl:list-layout:justify-end flex-wrap gap-1">
            {%- render 'pickup-message',
              product: product
            -%}
          </div>
        {% endunless %}
        {% unless disable_highlight_attributes %}
          {%- if highlight_card_icon != blank and settings.highlight_att_enable_auto_rotate == false -%}
            <div
                class="flex card-info ltr justify-{{ content_alignment }} md:list-layout:justify-start md:rtl:list-layout:justify-end">
              <div
                class="flex flex-wrap gap-1 mb-3 md:list-layout:justify-start md:rtl:list-layout:justify-end rtl:flex-row-reverse empty:hidden"
                x-data="
                  {
                    setPosition(el) {
                      const parentEl = el.closest('.card-info').getBoundingClientRect();
                      el.style.setProperty('--max-width-tooltip', parentEl.width - 20 + 'px');
                      const elRect = el.getBoundingClientRect();
                      let currentLeftValue = el.style.getPropertyValue('--left-tooltip').trim();
                      if (currentLeftValue === '' || !currentLeftValue) {
                        currentLeftValue === 0;
                      } else {
                        currentLeftValue = parseFloat(currentLeftValue)
                      }
                      let spacingLeft = elRect.left - currentLeftValue - parentEl.left - 5;
                      if (spacingLeft < 0) {
                        el.style.setProperty('--left-tooltip', Math.abs(spacingLeft) + 'px');
                      }
                      let spacingRight = parentEl.right - elRect.right - 5;
                      if (spacingRight < 0) {
                        el.style.setProperty('--left-tooltip', spacingRight + currentLeftValue + 'px');
                      }
                    },
                    addResizeHandler(el) {
                      Alpine.store('xResizeHandler').register(this.setPosition, true, el)
                    }
                  }
                "
              >
                {{ highlight_card_icon }}
              </div>
            </div>
          {%- endif -%}
        {% endunless %}
        {% comment %} button add to card in bottom of card {% endcomment %}
        {% unless disable_button %}
          <div
            class="pb-2 hidden justify-{{ content_alignment }}"
            @click.away="errorMessage=false"
          >
            <div
              x-ref="error_message"
              class="flash-message error-message"
              data-auto-hide-message="true"
            ></div>
          </div>
            <div
              class="product-card__widget-list-layout items-center gap-1 h-fit flex{% if collection_page %} md:list-layout:flex md:rtl:list-layout:flex-row-reverse md:list-layout:flex-wrap md:list-layout:mt-3.5{% endif %} {% if pc_sticky_buttons %}mt-auto{% endif %}"
              {% if settings.hide_cart == false %}
                x-data="xProductForm('{{ product_form_id_list }}', '{{ current_variant.id }}', {{ current_variant.available | default: false }}, {% if is_show_preorder %} '{{ 'products.product.pre_order' | t }}'{% else %}{% if current_variant.available == false %}'{{ 'products.product.sold_out' | t }}'{% else %}'{{ 'products.product.add_to_cart' | t }}'{% endif %}{% endif %}, '{{ 'products.product.add_to_cart' | t }}', '{{ section.id }}', '', '{{ settings.preorder_show }}', '{{ 'products.product.pre_order' | t }}', {{ is_show_preorder }}, {{ false }}, '{{ settings.pc_atc_button_label }}')"
              {% endif %}
              x-cloak
            >
              {% if settings.hide_cart == false %}
                  {%- assign atc_form_id = product_form_id | append: '-atc-list' -%}
                  {%-
                    render 'add-to-cart-buttons',
                    section: section,
                    product: product,
                    variant: current_variant,
                    product_form_id: atc_form_id,
                    is_apply_preorder: is_apply_preorder,
                    is_show_preorder: is_show_preorder,
                    last_block_has_qty_box: block.id,
                    block: block,
                    index_param: index_param,
                    desktop_show_quantity: desktop_show_quantity,
                    mobile_show_quantity: mobile_show_quantity,
                    desktop_show_atc: desktop_show_atc,
                    mobile_show_atc: mobile_show_atc,
                  -%}
              {% endif %}
              {% if show_quickview %}
                <div
                  class="product-card__widget-quick-view hidden md:list-layout:block self-start"
                  x-show="$store.xQuickView && $store.xQuickView.enabled"
                >
                  <custom-button>
                    <button
                      class="button-quick-view__product-card button flex items-center justify-center button-{{ button_style }}"
                      x-bind:class="[$store.xQuickView && $store.xQuickView.buttonLabel === '' ? 'w-11 h-11 px-3 py-3' : 'w-auto h-auto']"
                      x-on:click="$store.xQuickView && $store.xQuickView.load('{{ product.id }}', '{{ product_url }}', $el) && $store.xQuickView.open();"
                      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                      aria-label="{{ 'products.product_card.quick_view_button' }}"
                    >
                      <span
                          x-show="$store.xQuickView && $store.xQuickView.buttonLabel === ''">{% render 'icon-all', icon: 'icon-quickview' %}</span>
                      <span
                        x-show="$store.xQuickView && $store.xQuickView.buttonLabel !== ''"
                        x-text="$store.xQuickView && $store.xQuickView.buttonLabel"
                      ></span>
                    </button>
                  </custom-button>
                </div>
              {% endif %}
              {% if settings.enable_product_compare and template.name == 'collection' or template.name == 'search' or template.name == 'product' or is_recommendation %}
                {% style %}
                  .product-card__comparison-icon {
                    height: calc(var(--button-font-size) * var(--line-height-button));
                    width: calc(var(--button-font-size) * var(--line-height-button));
                    min-width: calc(var(--button-font-size) * var(--line-height-button));
                  }
                {% endstyle %}
                <div x-show="$store.xProductComparison && $store.xProductComparison.hasSection"
                    class="product-card__widget-compare hidden self-end md:list-layout:flex">
                  <div class="relative">
                    <custom-button>
                      <button
                        x-cloak
                        x-show="$store.xProductComparison?.listComparisonProducts && !$store.xProductComparison.listComparisonProducts.some(item => item.productId === '{{ product.id }}')"
                        class="button product-card__comparison-button flex justify-center items-center gap-1.5 px-[var(--button-padding-y-desktop,12px)] button-{{ button_style }}"
                        :class="[$store.xProductComparison?.listComparisonProducts.length >= $store.xProductComparison?.maximumProductCompare && !$store.xProductComparison.isClickAddToCompare && 'cursor-not-allowed disable-button-compare tooltip-icon-compare']"
                        @click.prevent="$store.xProductComparison?.addProductToCompare('{{ product.id }}', '{{ product.handle }}')"
                      >
                        <div class="product-card__comparison-icon">
                          {% render 'icon-all', icon: 'icon-product-comparison' %}
                        </div>
                      </button>
                    </custom-button>
                    <div
                      x-show="!$store.xProductComparison.isClickAddToCompare"
                      class="hidden hover:flex flex-col gap-y-0 tooltip-popup absolute bottom-full right-0 rtl:left-0 rtl:right-auto my-0.5 z-10"
                    >
                      <div class="w-[100px] md:w-[130px] rounded-[var(--border-radius-flash-message)] bg-white">
                        <div
                          x-init="$el.innerHTML = $el.innerHTML.replace('count_product', $store.xProductComparison?.maximumProductCompare)"
                          class="flash-message error-message w-full text-center"
                        >
                          <span
                              class="text-x-small tooltip-text">{{ 'product_comparison.tooltip_limit_products' | t }}</span>
                        </div>
                      </div>
                      <div class="relative self-end rtl:self-start z-10">
                        <div class="triangle-down color-border-t-[rgba(var(--error-message-color),0.1)] mx-1"></div>
                        <div class="triangle-down border-t-white mx-1 absolute top-0 left-0 -z-10"></div>
                      </div>
                    </div>
                  </div>
                  <div class="relative">
                    <custom-button>
                      <button
                        x-cloak
                        x-show="$store.xProductComparison?.listComparisonProducts && $store.xProductComparison.listComparisonProducts.some(item => item.productId === '{{ product.id }}')"
                        class="button product-card__comparison-button cursor-default flex justify-center items-center gap-1.5 px-[var(--button-padding-y-desktop,12px)] tooltip-icon-compare button-{{ button_style }}"
                        disabled
                      >
                        <div class="product-card__comparison-icon">
                          {% render 'icon-all', icon: 'icon-check-compare' %}
                        </div>
                      </button>
                    </custom-button>
                    <div
                        class="hidden hover:flex flex-col gap-y-0 tooltip-popup absolute bottom-full right-0 rtl:left-0 rtl:right-auto my-0.5 z-10">
                      <div class="w-[100px] md:w-[130px] rounded-[var(--border-radius-flash-message)] bg-white">
                        <div class="flash-message success-message w-full text-center relative">
                          <span class="text-x-small">{{ 'product_comparison.tooltip_added_to_compare' | t }}</span>
                        </div>
                      </div>
                      <div class="relative self-end rtl:self-start z-10">
                        <div class="triangle-down color-border-t-[rgba(var(--success-message-color),0.1)] mx-1"></div>
                        <div class="triangle-down border-t-white mx-1 absolute top-0 left-0 -z-10"></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              <script type="application/json" data-type="init-current-variant">{{ current_variant | json }}</script>
              {% if is_apply_preorder %}
              <script
                type="application/json"
                data-type="current-variant-additional-info"
                class="product-card-variant-inventory"
              >
                {
                  "id": {{ current_variant.id |  default: false }},
                  "inventory_policy": "{{ current_variant.inventory_policy }}",
                  "inventory_quantity": {{ current_variant.inventory_quantity | default: false }},
                  "inventory_management": "{{ current_variant.inventory_management }}"
                }
              </script>
              {% endif %}
            </div>
        {% endunless %}
        {% comment %} end comment {% endcomment %}
      </div>
    </div>
    <div
      class="choose-option-wrapper absolute top-0 left-0 right-0 bottom-0 z-20 bg-gradient rounded-corners md:list-layout:left-auto md:rtl:list-layout:left-0 md:rtl:list-layout:right-auto md:list-layout:w-[calc(70%-16px)] transition-choose-option"
      :class="showOptions ? ' opacity-100' : ' opacity-0 translate-y-full'"
      x-bind:inert="!showOptions"
      x-cloak
    >
      <div class="choose-option w-full h-full"></div>
      <div class="icon-loading hidden absolute top-0 left-0 right-0 h-full w-full z-20 bg-gradient">
        <div
            class="lg:inline-block animate-spin w-4 h-4 md:w-5 md:h-5 absolute top-[calc(50%-8px)] left-[calc(50%-8px)] md:top-[calc(50%-10px)] md:left-[calc(50%-10px)]">
          {% render 'icon-all', icon: 'icon-loading' %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  {% style %}
    .skeleton-product-card-{{ section_id_for_class }}-{{ block.id }} .product-card-skeleton__image-wrapper {
    {% if media_aspect_ratio == 'auto' %}
      padding-bottom: 100%;
    {% else %}
      padding-bottom: {{ media_aspect_ratio }}%;
    {% endif %}
    }
  {% endstyle %}
  <div
      class="skeleton-product-card-{{ section.id }}-{{ block.id }} product-card-skeleton__wrapper text-{{ content_alignment }} w-full overflow-hidden flex flex-col relative">
    <div class="product-card-skeleton__image-wrapper relative w-full rounded-corners overflow-hidden">
      <div class="h-full w-full absolute flex items-center justify-center">
        <div class="product-card__img-placeholder overflow-hidden w-full h-full ">
          {% liquid
            assign index = index | default: 1
            assign index = 'now' | date: '%M' | times: index | modulo: 5 | plus: 1
            assign placeholder_product_name = 'product_' | append: index
          %}
          {% render 'placeholder-image', image_type: placeholder_product_name %}
        </div>
      </div>
    </div>
    <div
        class="product-card-skeleton__info-wrapper overflow-hidden flex flex-col relative text-{{ content_alignment }} ">
      <div class="product-card-skeleton__info bg-primary justify-start mt-2">
        {% if show_vendor %}
          <div class="product-card__vendor product-info__vendor pb-1 text-small color-text-[rgba(var(--color-text),0.6)]">
            <span>{{ 'products.product.vendor' | t }}</span>
          </div>
        {% endif %}
        <div class="product-card__title h6 pb-2">
          <span
            class="inline-flex"
            href="{{ product_url }}"
            aria-label="{{ product.title | escape }}"
          >
            {{ 'products.product.title' | t }}
          </span>
        </div>

        <div class="product-card__price pb-4">
          <span
            class="iw-price h5"
            data-iw-product-id="{{ product_id }}"
            data-iw-variant-id="{{ variant_id }}"
          >
            {% if settings.currency_code_enable %}{{ 0.00 | money_with_currency }}{% else %}{{ 0.00 | money }}{% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
{% endif %}
