{% if settings.enable_free_shipping %}
  {% capture free_shipping %}
    {% render 'free-shipping', enable_progress: true, is_cart_drawer: is_cart_drawer %}
  {% endcapture %}
  {% assign free_shipping = free_shipping | strip %}
  {% if free_shipping != '' %}
    <div class="{% if is_cart_drawer %}cart-drawer__free-shipping empty:hidden{% else %}main-cart__free-shipping{% endif %}">
      {{- free_shipping -}}
    </div>
  {% endif %}
{% endif %}

{% if settings.estimate_show_in_cart == 'show_cart' and settings.message_estimate_cart != blank %}
  {% liquid
    assign items = cart.items
    assign estimate_message = settings.message_estimate_cart
    assign tooltip_content = settings.tooltip_content
    assign enable_tooltip = settings.enable_tooltip
    assign show_background = settings.show_background_estimate_cart
    assign box_type = settings.box_type_estimate_cart
    assign background_color_light = settings.background_color_light_estimate_cart
    assign message_color_light = settings.message_color_light_estimate_cart
    assign background_color_dark = settings.background_color_dark_estimate_cart
    assign message_color_dark = settings.message_color_dark_estimate_cart
  %}

  {%- style -%}
    {%- if show_background -%}
      .maximize-theme:not(.dark) {{ container_id }} .x-estimate-delivery {
        {% if background_color_light.alpha != 0.0 %}
          --color-background: {{ background_color_light.red }} {{ background_color_light.green }} {{ background_color_light.blue }} / {{ background_color_light.alpha }};
        {% else %}
          --color-background: var(--color-text-no-alpha) / 0.06;
        {% endif %}
      }
      .maximize-theme.dark {{ container_id }} .x-estimate-delivery {
        {% if background_color_dark.alpha != 0.0 %}
          --color-background: {{ background_color_dark.red }} {{ background_color_dark.green }} {{ background_color_dark.blue }} / {{ background_color_dark.alpha }};
        {% else %}
          --color-background: var(--color-text-no-alpha) / 0.06;
        {% endif %}
      }
    {% endif %}

    .maximize-theme:not(.dark) {{ container_id }} {
      {%- if message_color_light != 'rgba(0,0,0,0)' -%}
        --color-text: {{ message_color_light.red }} {{ message_color_light.green }} {{ message_color_light.blue }} / {{ message_color_light.alpha }};
      {%- endif -%}
    }

    .maximize-theme.dark {{ container_id }} {
      {%- if message_color_dark != 'rgba(0,0,0,0)' -%}
        --color-text: {{ message_color_dark.red }} {{ message_color_dark.green }} {{ message_color_dark.blue }} / {{ message_color_dark.alpha }};
      {%- endif -%}
    }

    .estimate-content svg {
      width: calc(var(--body-font-size)*1.4);
      height: calc(var(--body-font-size)*1.4);
      display: unset;
    }

  {%- endstyle -%}

  {%- liquid
    assign name_edt = settings.name_edt
    if settings.name_edt == blank
      assign name_edt = 'general.estimate_delivery' | t
    endif

    assign market = localization.country.iso_code
    assign delivery_date_min_global = 0
    assign delivery_date_min_custom = 0
    assign check_data_min_global = false

    assign delivery_date_max_global = 0
    assign delivery_date_max_custom = 0
    assign check_data_max_global = false

    for item in items
      if item.product.metafields.custom.delivery_date_min != blank or item.variant.metafields.custom.delivery_date_min != blank
        if item.variant.metafields.custom.delivery_date_min != blank
          assign item_delivery_date_min = item.variant.metafields.custom.delivery_date_min
        else
          assign item_delivery_date_min = item.product.metafields.custom.delivery_date_min
        endif
        if item_delivery_date_min contains ';'
          assign estimate_mins = item_delivery_date_min | split: ';'
          for estimate_min in estimate_mins
            assign code_market_min_custom = estimate_min | split: ':' | first | remove: ' '
            assign min_custom_value_market = estimate_min | split: ':' | last

            if code_market_min_custom == market
              assign delivery_date_min_custom_item = min_custom_value_market | plus: 0
            endif
          endfor
        else
          if item_delivery_date_min contains ':'
            assign code_market_min_custom = item_delivery_date_min | split: ':' | first | remove: ' '
            assign min_custom_value_market = item_delivery_date_min | split: ':' | last

            if code_market_min == market
              assign delivery_date_min_custom_item = min_custom_value_market | plus: 0
            endif
          else
            assign delivery_date_min_custom_item = item_delivery_date_min | plus: 0
          endif
        endif

        if delivery_date_min_custom_item > delivery_date_min_custom
          assign delivery_date_min_custom = delivery_date_min_custom_item
        endif
      else
        assign check_data_min_global = true
      endif

      if item.product.metafields.custom.delivery_date_max != blank or item.variant.metafields.custom.delivery_date_max != blank
        if item.variant.metafields.custom.delivery_date_max != blank
          assign item_delivery_date_max = item.variant.metafields.custom.delivery_date_max
        else
          assign item_delivery_date_max = item.product.metafields.custom.delivery_date_max
        endif
        if item_delivery_date_max contains ';'
          assign estimate_maxs = item_delivery_date_max | split: ';'
          for estimate_max in estimate_maxs
            assign code_market_max_custom = estimate_max | split: ':' | first | remove: ' '
            assign max_custom_value_market = estimate_max | split: ':' | last

            if code_market_max_custom == market
              assign delivery_date_max_custom_item = max_custom_value_market | plus: 0
            endif
          endfor
        else
          if item_delivery_date_max contains ':'
            assign code_market_max_custom = item_delivery_date_max | split: ':' | first | remove: ' '
            assign max_custom_value_market = item_delivery_date_max | split: ':' | last

            if code_market_max == market
              assign delivery_date_max_custom_item = max_custom_value_market | plus: 0
            endif
          else
            assign delivery_date_max_custom_item = item_delivery_date_max | plus: 0
          endif
        endif

        if delivery_date_max_custom_item > delivery_date_max_custom
          assign delivery_date_max_custom = delivery_date_max_custom_item
        endif
      else
        assign check_data_max_global = true
      endif
    endfor

    if check_data_min_global
      if settings.estimate_delivery_min contains ';'
        assign estimate_mins = settings.estimate_delivery_min | split: ';'
        for estimate_min in estimate_mins
          assign code_market_min_global = estimate_min | split: ':' | first | remove: ' '
          assign min_global_value_market = estimate_min | split: ':' | last

          if code_market_min_global == market
            assign delivery_date_min_global = min_global_value_market | plus: 0
          endif
        endfor
      else
        if settings.estimate_delivery_min contains ':'
          assign code_market_min_global = settings.estimate_delivery_min | split: ':' | first | remove: ' '
          assign min_global_value_market = settings.estimate_delivery_min | split: ':' | last

          if code_market_min_global == market
            assign delivery_date_min_global = min_global_value_market | plus: 0
          endif
        else
          assign delivery_date_min_global = settings.estimate_delivery_min | plus: 0
        endif
      endif
    endif

    assign delivery_date_min = delivery_date_min_global
    if delivery_date_min_custom > delivery_date_min_global
      assign delivery_date_min = delivery_date_min_custom
    endif

    if check_data_max_global
      if settings.estimate_delivery_max contains ';'
        assign estimate_maxs = settings.estimate_delivery_max | split: ';'
        for estimate_max in estimate_maxs
          assign code_market_max_global = estimate_max | split: ':' | first | remove: ' '
          assign max_global_value_market = estimate_max | split: ':' | last

          if code_market_max_global == market
            assign delivery_date_max_global = max_global_value_market | plus: 0
          endif
        endfor
      else
        if settings.estimate_delivery_max contains ':'
          assign code_market_max_global = settings.estimate_delivery_max | split: ':' | first | remove: ' '
          assign max_global_value_market = settings.estimate_delivery_max | split: ':' | last

          if code_market_max_global == market
            assign delivery_date_max_global = max_global_value_market | plus: 0
          endif
        else
          assign delivery_date_max_global = settings.estimate_delivery_max | plus: 0
        endif
      endif
    endif

    assign delivery_date_max = delivery_date_max_global
    if delivery_date_max_custom > delivery_date_max_global
      assign delivery_date_max = delivery_date_max_custom
    endif

    assign current_minute = 'now' | date: '%M'
    assign current_time_of_day = 'now' | date: '%H' | append: current_minute | plus: 0
    assign cutoff_time = settings.estimate_delivery_cutoff_hour | append: settings.estimate_delivery_cutoff_minute | plus: 0

    if current_time_of_day > cutoff_time
      assign delivery_date_min = delivery_date_min | plus: 1
      assign delivery_date_max = delivery_date_max | plus: 1
    endif

    assign to_min_date_seconds = delivery_date_min | times: 24 | times: 60 | times: 60
    assign to_max_date_seconds = delivery_date_max | times: 24 | times: 60 | times: 60

    assign min_date_month = 'now' | date: '%s' | plus: to_min_date_seconds | date: '%B'
    assign min_date_day = 'now' | date: '%s' | plus: to_min_date_seconds | date: '%d'
    assign max_date_month = 'now' | date: '%s' | plus: to_max_date_seconds | date: '%B'
    assign max_date_day = 'now' | date: '%s' | plus: to_max_date_seconds | date: '%d'

    assign min_date_month_format = 'date_time.month.' | append: min_date_month | t
    assign max_date_month_format = 'date_time.month.' | append: max_date_month | t

    assign min_date_string = min_date_month_format | append: ' ' | append: min_date_day
    assign max_date_string = max_date_month_format | append: ' ' | append: max_date_day
    if settings.date_format_estimate_cart == 'dd-mm'
      assign min_date_string = min_date_day | append: ' ' | append: min_date_month_format
      assign max_date_string = max_date_day | append: ' ' | append: max_date_month_format
    endif
  -%}

  {% capture tooltip %} 
    {% if enable_tooltip and tooltip_content != blank %}
      <span 
        class="mx-1 z-10 w-4 h-4 min-w-4 relative color-bg-[rgba(var(--color-text),0.12)] cursor-pointer pointer-events-auto rounded-full inline-flex justify-center items-center tooltip-icon-estimate"
        x-intersect.once="$store.xEstimateDelivery && $store.xEstimateDelivery.setupTooltipPopup($el, {{ is_cart_drawer }})"
      >
        <span class="text-xx-small">!</span>

        {% comment %} popup tooltip {% endcomment %}
        <span class="absolute hidden tooltip-popup bottom-full mb-[9px] shadow-small">
          <span class="rounded-[var(--border-radius-flash-message)] flex w-fit bg-white">
            <span class="flash-message color-bg-[rgba(var(--color-text),0.06)] relative">
              <span class="text-xx-small">{{ tooltip_content }}</span>
            </span>
          </span>
        </span>

        <span class="absolute hidden tooltip-popup bottom-full mb-1 left-1/2 -translate-x-1/2">
          <span class="relative flex">
            <span class="triangle-down color-border-t-[rgba(var(--color-text),0.06)]"></span>
            <span class="triangle-down border-t-white absolute top-0 left-0 -z-10"></span>
          </span>
        </span>
      </span>
    {% endif %}
  {% endcapture %}

  {% assign final_estimate_message = estimate_message | replace: 'earliest_delivery_date', min_date_string | replace: 'latest_delivery_date', max_date_string | remove_last: '</p>' | append: tooltip | append: '</p>' %}

  <div
    class="x-estimate-delivery flex color-text-[rgba(var(--color-text))]
      {%- if is_cart_drawer %} cart-drawer__estimate-delivery{% else %} main-cart__estimate-delivery{% endif -%}
      {%- if free_shipping != '' %} mt-1.5 md:mt-2.5{% endif -%}
      {%- if show_background %} color-bg-[rgba(var(--color-background))] pt-2 pb-2 pl-2.5 pr-2.5 md:pt-2.5 md:pb-2.5 md:pl-3.5 md:pr-3.5
        {%- if settings.edges_type == 'rounded_corners' %} rounded-md{% endif -%}
      {%- endif -%} 
      {%- if box_type == 'round' %} rounded-md{% endif -%}"
    x-init="updateEstimateShippingCart($el, '{{ name_edt }}')"
  >
    <div class="{% if is_cart_drawer %}cart-drawer__estimate-delivery__container{% else %}main-cart__estimate-delivery__container{% endif %} inline-flex flex-row items-center relative gap-2">
      <div class="w-5 min-w-[20px]">{% render 'icon-all', icon: 'icon-delivery' %}</div>
      <div class="estimate-content hover:pointer-events-auto p-break-words rte{% unless is_cart_drawer %} text-medium{% endunless %}">
        {{ final_estimate_message }}
      </div>
    </div>
  </div>
{% endif %}
