{% if settings.social_facebook_link != blank or settings.social_twitter_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_linkedin_link != blank or settings.email_address != blank or settings.phone_number != blank %}
  <ul class="social inline-flex{{ class }} ltr justify-{{ content_alignment }}">
    {%- if settings.social_facebook_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_facebook_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.facebook' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-facebook' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_twitter_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_twitter_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.twitter' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-twitter' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_pinterest_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.pinterest' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-pinterest' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_instagram_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.instagram' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-instagram' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_tiktok_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.tiktok' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-tiktok' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_tumblr_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.tumblr' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-tumblr' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_snapchat_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.snapchat' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-snapchat' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_youtube_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.youtube' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-youtube' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_vimeo_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.vimeo' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-vimeo' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_linkedin_link != blank -%}
      <li class="social-link">
        <a
          href="{{ settings.social_linkedin_link }}"
          target="blank"
          aria-label="{{ 'general.social.links.linkedin' | t }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-media', icon: 'icon-linkedin' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.email_address != blank -%}
      <li class="social-link">
        <a
          aria-label="{{ 'accessibility.email' | t }}"
          href="mailto:{{ settings.email_address }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-all', icon: 'icon-email' -%}
        </a>
      </li>
    {%- endif -%}
    {%- if settings.phone_number != blank -%}
      <li class="social-link">
        <a
          aria-label="{{ 'accessibility.phone_number' | t }}"
          href="tel:{{ settings.phone_number }}"
          class="flex items-center justify-center icon h-6 w-6 lg:hover:color-text-[rgba(var(--color-link))]"
        >
          {%- render 'icon-all', icon: 'icon-phone' -%}
        </a>
      </li>
    {%- endif -%}
  </ul>
{% endif %}