{% liquid
  assign product = closest.product
  assign current_variant = product.selected_or_first_available_variant
  assign product_form_id = 'product-form-' | append: block.id | append: '-' | append: product.id

  assign is_rtl = false
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  endif
%}

{% liquid
  assign is_product_page = false
  if template.name == 'product'
    assign is_product_page = true
  endif
%}

{% if product != blank %}
  {% style %}
    .block-{{ block.id }} {
      --pad-top: {{ block.settings.desktop_padding_top }}px;
      --pad-bottom: {{ block.settings.desktop_padding_bottom }}px;
      --pad-left: {{ block.settings.desktop_padding_left }}px;
      --pad-right: {{ block.settings.desktop_padding_right }}px;
      --pad-top-m: {{ block.settings.mobile_padding_top }}px;
      --pad-bottom-m: {{ block.settings.mobile_padding_bottom }}px;
      --pad-left-m: {{ block.settings.mobile_padding_left }}px;
      --pad-right-m: {{ block.settings.mobile_padding_right }}px;
    }
  {% endstyle %}
  <div 
    class="block-variant-picker block-{{ block.id }}{% unless closest.product.has_only_default_variant %} block-padding{% endunless %} maximize-block w-full" 
    data-block-id="{{ block.id }}" 
    {{ block.shopify_attributes }}
  >
    {% if closest.product != blank %}
      {% unless closest.product.has_only_default_variant %}
        {% render 'variant-picker',
          product: closest.product,
          variant: current_variant,
          section: section,
          block: block,
          product_form_id: product_form_id,
          is_product_page: is_product_page,
          enable_size_chart: block.settings.enable_size_chart,
          size_chart_label: block.settings.size_chart_label,
          associated_option_name: block.settings.associated_option_name,
          size_chart_page: block.settings.size_chart_page,
          show_content_center: false,
          is_enable_sticky_atc: false,
          is_rtl: is_rtl,
          swatch_size: block.settings.swatch_size
        %}
      {% endunless %}
    {% endif %}
  </div>
{% endif %}
{% schema  %}
{
  "name": "t:main_product.blocks.variant_picker.name",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "picker_type",
      "options": [
        {
          "value": "dropdown",
          "label": "t:main_product.blocks.variant_picker.settings.type.dropdown"
        },
        {
          "value": "button",
          "label": "t:main_product.blocks.variant_picker.settings.type.button"
        }
      ],
      "default": "button",
      "label": "t:global.header.style"
    },
    {
      "type": "checkbox",
      "id": "enable_color_swatches",
      "label": "t:main_product.blocks.variant_picker.settings.enable_swatches",
      "default": false,
      "visible_if": "{{ block.settings.picker_type == 'button' }}"
    },
    {
      "type": "select",
      "id": "swatch_size",
      "default": "medium",
      "label": "t:settings.product_swatches.settings.general.swatch_size",
      "options": [
        {
          "value": "small",
          "label": "t:global.size.small"
        },
        {
          "value": "medium",
          "label": "t:global.size.medium"
        },
        {
          "value": "large",
          "label": "t:global.size.large"
        }
      ],
      "visible_if": "{{ block.settings.enable_color_swatches and block.settings.picker_type == 'button' }}"
    },
    {
      "type": "checkbox",
      "id": "show_variant_label",
      "label": "t:main_product.blocks.variant_picker.settings.show_selected_option",
      "default": true
    },
    {
      "type": "header",
      "content": "t:main_product.blocks.variant_picker.settings.size_chart.header"
    },
    {
      "type": "checkbox",
      "id": "enable_size_chart",
      "default": false,
      "label": "t:main_product.blocks.variant_picker.settings.size_chart.enable_size_chart"
    },
    {
      "type": "text",
      "id": "size_chart_label",
      "label": "t:main_product.blocks.variant_picker.settings.size_chart.size_chart_label",
      "default": "Size chart",
      "visible_if": "{{ block.settings.enable_size_chart }}"
    },
    {
      "type": "text",
      "id": "associated_option_name",
      "label": "t:main_product.blocks.variant_picker.settings.size_chart.associated_option_name",
      "default": "Size",
      "info": "t:main_product.blocks.variant_picker.settings.size_chart.associated_option_name_info",
      "visible_if": "{{ block.settings.enable_size_chart }}"
    },
    {
      "type": "page",
      "id": "size_chart_page",
      "label": "t:main_product.blocks.vendor.settings.select_page"
    },
    {
      "type": "header",
      "content": "t:global.section.padding"
    },
    {
      "type": "select",
      "id": "device_padding",
      "label": "t:global.header.choose_device",
      "info": "Desktop and Mobile settings are configured separately.",
      "options": [
        {
          "value": "desktop",
          "label": "t:global.section.desktop"
        },
        {
          "value": "mobile",
          "label": "t:global.section.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "desktop_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.top",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "desktop_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.bottom",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "desktop_padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.left",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "desktop_padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.right",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.top",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.bottom",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "mobile_padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.left",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "mobile_padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.position.right",
      "default": 0,
      "visible_if": "{{ block.settings.device_padding == 'mobile' }}"
    }
  ],
  "presets": [
    {
      "name": "t:main_product.blocks.variant_picker.name",
      "category": "t:global.product.product"
    }
  ]
}
{% endschema %}
