{% liquid
	if settings.lang_direction contains request.locale.iso_code
		assign is_rtl = true
	else
		assign is_rtl = false
	endif

  assign show_additional_content = ''
  case section.settings.show_additional_content
    when 'image'
      if section.settings.image != blank
        assign show_additional_content = 'image'
      endif
    when 'information'
      if section.settings.additional_information != blank
        assign show_additional_content = 'information'
      endif
    when 'both'
      if section.settings.image != blank or section.settings.additional_information != blank
        assign show_additional_content = 'both'
      endif
  endcase
%}
{% assign default_image_alt = 'accessibility.default_alt' | t %}
{%- style -%}
  .section-{{ section.id }} {
    padding-top: calc({{ section.settings.padding_top }}px * var(--mobile-padding-ratio));
    padding-bottom: calc({{ section.settings.padding_bottom }}px * var(--mobile-padding-ratio));
  }
  @media screen and (min-width: 768px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% render 'section-divider' %}

<div class="faq section-{{ section.id }} {{ section.settings.section_width }} rounded-corners-container relative color-{{ section.settings.color_scheme_light }} dark-color-{{ section.settings.color_scheme_dark }}">
  <div class="faq__heading heading-content-spacing text-{{ section.settings.heading_alignment }} heading-{{ section.settings.heading_alignment }}{% unless section.settings.heading_alignment contains 'center' %} flex items-center{% endunless %}">
    {%- if section.settings.heading != blank -%}
      <{{ section.settings.heading_tag }} class="faq__heading__heading heading-{{ section.settings.heading_size }} block flex-auto p-break-words">
        {% render 'text-highlight',
          id: section.id,
          text: section.settings.heading,
          highlight_effect: section.settings.highlight_effect,
          text_transform: section.settings.text_transform
        %}
      </{{ section.settings.heading_tag }}>
    {%- endif -%}
    {%- if section.settings.show_view_all_button != blank and section.settings.view_all_position == 'top' -%}
      <div class="faq__view-all-top flex justify-center pt-0.5 md:pt-2.5">
        <a {% if section.settings.button_link %} href="{{ section.settings.button_link }}"{% if section.settings.open_new_window %} target="_blank"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %}
          class="text-medium relative flex items-center link-hover empty:hidden cursor-pointer{% if section.settings.button_link == blank %} opacity-70 hover:cursor-not-allowed{% endif %}"
        >
          {{ section.settings.show_view_all_button }}
          <span class="w-2 h-2 inline-block ml-1.5 mt-0.5 rtl:rotate-180 rtl:mr-1.5 rtl:ml-0 rtl:mt-0">
            {% render 'icon-all', icon: 'icon-double-arrow' %}
          </span>
        </a>
      </div>
    {%- endif -%}
  </div>
  <div class="faq__content__wrapper flex ltr gap-4 md:gap-7.5
    {%- if section.settings.image_alignment == "right" %} lg:flex-row-reverse{% else %} lg:flex-row{% endif -%}
    {%- if section.settings.image_alignment_mobile == "right" %} flex-col-reverse{% else %} flex-col{% endif -%}"
  >
    {% if show_additional_content != blank %}
      <div class="faq__additional w-full flex flex-col gap-y-5 lg:w-1/2">
        {% if section.settings.image != blank and show_additional_content == 'image' or show_additional_content == 'both' %}
          {% if section.settings.desktop_height == 'auto' or section.settings.mobile_height == 'auto' %}
            {%- style -%}
              @media screen and (min-width: 1024px) {
              {% if section.settings.desktop_height == 'auto' %}
                .natural-image-{{ section.id }} {
                  height: 0;
                  padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%
                }
              {% endif %}
              }
              {% if section.settings.mobile_height == 'auto' %}
                @media screen and (max-width: 1024px) {
                  .natural-image-mobile-{{ section.id }} {
                    height: 0;
                    padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%
                  }
                }
              {% endif %}
            {%- endstyle -%}
          {% endif %}
          <div class="faq__additional__image-img relative w-full
            {%- if section.settings.mobile_height == 'auto' %} natural-image-mobile-{{ section.id -}}
            {%- else %} h-[{{ section.settings.mobile_height }}]{% endif -%}
            {%- if section.settings.desktop_height == 'auto' %} natural-image-{{ section.id -}}
            {%- elsif section.settings.desktop_height == 'adapt' %} lg:h-full
            {%- else %} lg:h-[{{ section.settings.desktop_height }}]{% endif -%}"
          >
            <div class="overflow-hidden absolute top-0 left-0 h-full w-full rounded-corners">
              <parallax-image class="h-full w-full">
                <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
                  <img
                    class="w-full h-full object-cover"
                    srcset="{{ section.settings.image | image_url: width: 450 }} 450w,
                      {{ section.settings.image | image_url: width: 750 }} 750w,
                      {{ section.settings.image | image_url: width: 900 }} 900w,
                      {{ section.settings.image | image_url: width: 1100 }} 1100w,
                      {{ section.settings.image | image_url: width: 1500 }} 1500w,
                      {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                    src="{{ section.settings.image | image_url: width: 1500 }}"
                    alt="{{ section.settings.image.alt | default: default_image_alt | escape }}"
                    loading="lazy"
                    sizes="(min-width: 1024px)
                      {%- if section.settings.section_width == 'page-width' -%}
                        {%- if section.settings.desktop_layout == "1" %} {{ settings.page_width | divided_by: 2 }}px{% else %} {{ settings.page_width | divided_by: 3 }}px{% endif -%}
                      {%- else -%}
                        {%- if section.settings.desktop_layout == "1" %} 50vw{% else %} 35vw{% endif -%} 
                      {% endif -%}, 100vw"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                    style="object-position: {{ section.settings.image.presentation.focal_point }}"
                  >
                </parallax-movement>
              </parallax-image>
            </div>
          </div>
        {% endif %}
        {% if section.settings.additional_information != blank and show_additional_content == 'information' or show_additional_content == 'both' %}
          <div class="faq__additional__information text-{{ section.settings.additional_content_alignment }} rte">
            {{ section.settings.additional_information }}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="faq__content flex flex-col gap-1.5 w-full
      {%- if is_rtl %} rtl{% endif -%}
      {%- if show_additional_content != blank %} lg:w-1/2{% endif -%}
      {%- if section.settings.desktop_layout == "2" %} md:flex-row{% endif -%}"
    >
      {% assign blocks_size = section.blocks.size %}
      {% assign blocks_col_1 = blocks_size | times: 1.0 | divided_by: 2 | round %}
      <div class="faq__content-column-1 flex flex-col gap-y-1.5 w-full{% if section.settings.desktop_layout == "2" %} md:w-1/2{% endif %}">
        {%- for block in section.blocks -%}
          {% if block.settings.heading != blank %}
            <div 
              class="faq-item rounded-corners p-3.5 md:p-5
                {%- if section.settings.collapsible %} border color-border-[rgba(var(--color-text),0.12)]{% else %} color-bg-[rgba(var(--color-heading),0.06)]{% endif %}"
              x-data="{open: false}"
              {%- if section.settings.collapsible -%} :class="open && 'color-bg-[rgba(var(--color-text),0.06)]'"{%- endif -%}
              {{ block.shopify_attributes }}
            >
              <div
                class="faq-collapsible relative w-full flex items-center color-text-[rgba(var(--color-heading))]{% unless section.settings.collapsible %} font-semibold{% endunless %}"
                {% if section.settings.collapsible %}
                  :class="open && 'font-semibold'"
                {% endif %}
              >
                {% if section.settings.collapsible and block.settings.row_content != blank  %}
                  <button @click="open = !open" class="absolute -inset-3.5 md:-inset-5 bg-transparent cursor-pointer z-10" aria-label="{{ 'sections.faq.collapse_button' | t }}"></button>
                {% endif %}
                {%- unless block.settings.icon == "none" or block.settings.custom_icon_image == blank and block.settings.icon == 'another' and block.settings.another_icon == blank -%}
                  <div class="flex items-center">
                    <span class="inline-block mr-2 md:mr-3 h-5 w-5 md:h-7 md:w-7 rtl:ml-2 rtl:mr-0">
                      {% if block.settings.custom_icon_image != blank %}
                        <img 
                          src="{{ block.settings.custom_icon_image | image_url: width: section.settings.icon_size }}"
                          alt="{{ block.settings.custom_icon_image.alt | default: default_image_alt | escape }}"
                          {% if section.index == 1 and section.location == 'template' %}
                            loading="eager"
                            fetchpriority="high"
                            decoding="sync"
                          {% else %}
                            loading="lazy"
                          {% endif %} 
                          width="{{ block.settings.custom_icon_image.width }}"
                          height="{{ block.settings.custom_icon_image.height }}"
                          style="object-position: {{ block.settings.custom_icon_image.presentation.focal_point }}"
                          class="object-cover w-full h-full rounded-corners custom-icon-image_rounded-corners"
                        >
                      {% else %}
                        {% if block.settings.icon == 'another' %}
                          {% render 'icon-another', icon: block.settings.another_icon %}  
                        {% else %}
                          {% render 'icon-labels-bags', icon: block.settings.icon %}
                        {% endif %}
                      {% endif %}
                    </span>
                  </div>
                {%- endunless -%}
                <p class="text-medium min-h-[20px] md:min-h-[28px] flex items-center max-w-full
                  {%- if section.settings.collapsible %} pr-6 rtl:pl-6 rtl:pr-0{% endif -%}"
                >
                  {{ block.settings.heading | default: block.settings.page.title }}
                </p>
                {%- if section.settings.collapsible and block.settings.row_content != blank -%}
                  <span
                    class="w-4 duration-200 inline-block absolute{% if settings.lang_direction contains request.locale.iso_code %} left-0{% else %} right-0{% endif %}"
                    :class="open ? 'rotate-0' : 'rotate-90'">
                    {% render 'icon-all', icon: 'icon-up-right' %}
                  </span>
                {%- endif -%}
              </div>
              <div class="faq-content"
                {% if section.settings.collapsible %}
                  x-show="open"
                  x-cloak
                  x-collapse
                {% endif %}
              >
                <div class="rte leading-normal pt-3.5 md:pt-5">
                  {% render 'text-highlight',
                    id: block.id,
                    text: block.settings.row_content,
                    highlight_effect: block.settings.highlight_effect,
                    text_transform: block.settings.text_transform,
                    allow_html: true
                  %}
                </div>
              </div>
            </div>
          {% endif %}
          {% if forloop.index == blocks_col_1 %}
            {% break %}
          {% endif %}
        {%- endfor -%}
      </div>
      <div class="faq__content-column-2 flex flex-col gap-y-1.5 w-full{% if section.settings.desktop_layout == "2" %} md:w-1/2{% endif %}">
        {%- for block in section.blocks offset: blocks_col_1 -%}
          {% if block.settings.heading != blank %}
            <div 
              class="faq-item rounded-corners p-3.5 md:p-5
                {%- if section.settings.collapsible %} border color-border-[rgba(var(--color-text),0.12)]{% else %} color-bg-[rgba(var(--color-heading),0.06)]{% endif %}"
              x-data="{open: false}"
              {%- if section.settings.collapsible -%} :class="open && 'color-bg-[rgba(var(--color-text),0.06)]'"{%- endif -%}
              {{ block.shopify_attributes }}
            >
              <div
                class="faq-collapsible relative w-full flex items-center color-text-[rgba(var(--color-heading))]{% unless section.settings.collapsible %} font-semibold{% endunless %}"
                {% if section.settings.collapsible %}
                  :class="open && 'font-semibold'"
                {% endif %}
              >
                {% if section.settings.collapsible and block.settings.row_content != blank %}
                  <button @click="open = !open" class="absolute -inset-3.5 md:-inset-5 bg-transparent cursor-pointer z-10" aria-label="{{ 'sections.faq.collapse_button' | t }}"></button>
                {% endif %}
                {%- unless block.settings.icon == "none" or block.settings.custom_icon_image == blank and block.settings.icon == 'another' and block.settings.another_icon == blank -%}
                  <div class="flex items-center">
                    <span class="inline-block mr-2 md:mr-3 h-5 w-5 md:h-7 md:w-7 rtl:ml-2 rtl:mr-0">
                      {% if block.settings.custom_icon_image != blank %}
                        <img 
                          src="{{ block.settings.custom_icon_image | image_url: width: section.settings.icon_size }}"
                          alt="{{ block.settings.custom_icon_image.alt | default: default_image_alt | escape }}"
                          {% if section.index == 1 and section.location == 'template' %}
                            loading="eager"
                            fetchpriority="high"
                            decoding="sync"
                          {% else %}
                            loading="lazy"
                          {% endif %} 
                          width="{{ block.settings.custom_icon_image.width }}"
                          height="{{ block.settings.custom_icon_image.height }}"
                          style="object-position: {{ block.settings.custom_icon_image.presentation.focal_point }}"
                          class="object-cover w-full h-full rounded-corners custom-icon-image_rounded-corners"
                        >
                      {% else %}
                        {% if block.settings.icon == 'another' %}
                          {% render 'icon-another', icon: block.settings.another_icon %}  
                        {% else %}
                          {% render 'icon-labels-bags', icon: block.settings.icon %}
                        {% endif %}
                      {% endif %}
                    </span>
                  </div>
                {%- endunless -%}
                <p class="text-medium min-h-[20px] md:min-h-[28px] flex items-center max-w-full
                  {%- if section.settings.collapsible %} pr-6 rtl:pl-6 rtl:pr-0{% endif -%}"
                >
                  {{ block.settings.heading | default: block.settings.page.title }}
                </p>
                {%- if section.settings.collapsible and block.settings.row_content != blank -%}
                  <span
                    class="w-4 duration-200 inline-block absolute{% if settings.lang_direction contains request.locale.iso_code %} left-0{% else %} right-0{% endif %}"
                    :class="open ? 'rotate-0' : 'rotate-90'">
                    {% render 'icon-all', icon: 'icon-up-right' %}
                  </span>
                {%- endif -%}
              </div>
              <div class="faq-content"
                {% if section.settings.collapsible %}
                  x-show="open"
                  x-cloak
                  x-collapse
                {% endif %}
              >
                <div class="rte leading-normal pt-3.5 md:pt-5">
                  {% render 'text-highlight',
                    id: block.id,
                    text: block.settings.row_content,
                    highlight_effect: block.settings.highlight_effect,
                    text_transform: block.settings.text_transform,
                    allow_html: true
                  %}
                </div>
              </div>
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- if section.settings.show_view_all_button != blank and section.settings.view_all_position == 'bottom' -%}
    <div class="faq__view-all-bottom flex justify-center mt-6.5 pt-0.5 pb-0.5 md:pb-2.5 md:pt-2.5">
      <a {% if section.settings.button_link %} href="{{ section.settings.button_link }}"{% if section.settings.open_new_window %} target="_blank"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %}
        class="text-medium relative flex items-center link-hover empty:hidden cursor-pointer{% if section.settings.button_link == blank %} opacity-70 hover:cursor-not-allowed{% endif %}"
      >
        {{ section.settings.show_view_all_button }}
        <span class="w-2 h-2 inline-block ml-1.5 mt-0.5 rtl:rotate-180 rtl:mr-1.5 rtl:ml-0 rtl:mt-0">
          {% render 'icon-all', icon: 'icon-double-arrow' %}
        </span>
      </a>
    </div>
  {%- endif -%}
</div>

{% if section.settings.enable_microdata_schema %}
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "FAQs",
			"mainEntity": [
		{%- for block in section.blocks -%}
			{% if block.settings.heading and block.settings.row_content %}
        {
          "@type": "Question",
          "name": {{ block.settings.heading | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ block.settings.row_content | strip_html | json }}
          }
        }{%- unless forloop.last -%},{%- endunless -%}
			{% endif -%}
		{%- endfor -%}
		]
	}
	</script>
{% endif %}

{% schema %}
{
  "name": "t:faq.name",
  "tag": "section",
  "class": "maximize-section section-faq",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:global.text.heading",
      "default": "FAQs",
      "info": "t:global.text.highlight_info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:global.text.heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:global.size.small"
        },
        {
          "value": "medium",
          "label": "t:global.size.medium"
        },
        {
          "value": "large",
          "label": "t:global.size.large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "t:global.text.heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "t:global.alignment.heading",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_effect",
      "label": "t:global.text.highlight_effect.label",
      "options": [
        {
          "value": "underline",
          "label": "t:global.text.highlight_effect.option_1"
        },
        {
          "value": "marker",
          "label": "t:global.text.highlight_effect.option_2"
        },
        {
          "value": "text-color-change",
          "label": "t:global.text.highlight_effect.option_3"
        },
        {
          "value": "shadow",
          "label": "t:global.text.highlight_effect.option_4"
        }
      ],
      "default": "underline"
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "t:global.text.transform.label",
      "options": [
        {
          "value": "none",
          "label": "t:global.text.transform.none"
        },
        {
          "value": "italic",
          "label": "t:global.text.transform.italic"
        },
        {
          "value": "uppercase",
          "label": "t:global.text.transform.uppercase"
        },
        {
          "value": "both",
          "label": "t:global.text.transform.italic_and_uppercase"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "collapsible",
      "default": true,
      "label": "t:faq.settings.collapsible"
    },
    {
      "type": "text",
      "id": "show_view_all_button",
      "default": "View all",
      "label": "t:faq.settings.view_all_label"
    },
    {
      "type": "select",
      "id": "view_all_position",
      "default": "top",
      "label": "t:faq.settings.view_all_position",
      "options": [
        {
          "value": "top",
          "label": "t:global.position.top"
        },
        {
          "value": "bottom",
          "label": "t:global.position.bottom"
        }
      ]
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:faq.settings.view_all_link",
      "info": "t:faq.settings.view_all_link_info"
    },
    {
      "type": "checkbox",
      "id": "open_new_window",
      "default": false,
      "label": "t:global.text.open_link_new_tab"
    },
    {
      "type": "select",
      "id": "show_additional_content",
      "label": "t:faq.settings.show_additional_content.label",
      "options": [
        {
          "value": "none",
          "label": "t:faq.settings.show_additional_content.option_1"
        },
        {
          "value": "image",
          "label": "t:faq.settings.show_additional_content.option_2"
        },
        {
          "value": "information",
          "label": "t:faq.settings.show_additional_content.option_3"
        },
        {
          "value": "both",
          "label": "t:faq.settings.show_additional_content.option_4"
        }
      ],
      "default": "none"
    },
    {
      "type": "richtext",
      "id": "additional_information",
      "label": "t:faq.settings.additional_information",
      "default": "<p>Use this text to share information about your supporting agents, policies such as support operating hours and average answer time.</p>"
    },
    {
      "type": "select",
      "id": "additional_content_alignment",
      "label": "t:global.alignment.content",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.image.image",
      "info": "t:faq.settings.image_info"
    },
    {
      "type": "header",
      "content": "t:global.header.seo"
    },
    {
      "type": "checkbox",
      "id": "enable_microdata_schema",
      "default": false,
      "label": "t:global.seo.enable_microdata_schema"
    },
    {
      "type": "header",
      "content": "t:global.header.desktop_layout"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "label": "t:global.section.number_of_columns",
      "options": [
        {
          "value": "1",
          "label": "t:global.section.columns.1_column"
        },
        {
          "value": "2",
          "label": "t:global.section.columns.2_columns"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ],
      "default": "left",
      "label": "t:faq.settings.desktop_layout.additional_content_position"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "450px",
          "label": "450px"
        },
        {
          "value": "550px",
          "label": "550px"
        },
        {
          "value": "auto",
          "label": "t:global.image.natural"
        },
        {
          "value": "adapt",
          "label": "t:global.image.adapt_to_content"
        }
      ],
      "default": "400px",
      "label": "t:global.image.desktop_image_height"
    },
    {
      "type": "header",
      "content": "t:global.header.mobile_layout"
    },
    {
      "type": "select",
      "id": "image_alignment_mobile",
      "options": [
        {
          "value": "left",
          "label": "t:faq.settings.mobile_layout.additional_content_position.option_1"
        },
        {
          "value": "right",
          "label": "t:faq.settings.mobile_layout.additional_content_position.option_2"
        }
      ],
      "default": "left",
      "label": "t:faq.settings.mobile_layout.additional_content_position.label"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "250px",
          "label": "250px"
        },
        {
          "value": "300px",
          "label": "300px"
        },
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "auto",
          "label": "t:global.image.natural"
        }
      ],
      "default": "250px",
      "label": "t:global.image.mobile_image_height"
    },
    {
      "type": "header",
      "content": "t:global.header.section_layout"
    },
    {
      "type": "select",
      "label": "t:global.section.section_width.label",
      "id": "section_width",
      "options": [
        {
          "label": "t:global.section.section_width.option_1",
          "value": "page-width"
        },
        {
          "label": "t:global.section.section_width.option_2",
          "value": "full-width"
        },
        {
          "label": "t:global.section.section_width.option_3",
          "value": "full-width-padded"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.top_padding",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.bottom_padding",
      "default": 28
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:global.section.show_section_divider",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.header.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_light",
      "default": "scheme-1",
      "label": "t:global.colors.color_scheme_light"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_dark",
      "default": "scheme-2",
      "label": "t:global.colors.color_scheme_dark"
    }
  ],
  "blocks": [
    {
      "type": "frequently_asked_question",
      "name": "t:faq.blocks.frequently_asked_question.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "label": "t:global.icon.options.none",
              "value": "none"
            },
            {
              "label": "t:global.icon.options.another",
              "value": "another"
            },
            {
              "label": "t:global.icon.options.authentic",
              "value": "authentic"
            },
            {
              "label": "t:global.icon.options.award",
              "value": "award"
            },
            {
              "label": "t:global.icon.options.customer_support",
              "value": "customer-support"
            },
            {
              "label": "t:global.icon.options.delivery_to_door",
              "value": "delivery-to-door"
            },
            {
              "label": "t:global.icon.options.eco_friendly",
              "value": "eco-friendly"
            },
            {
              "label": "t:global.icon.options.exchange",
              "value": "exchange"
            },
            {
              "label": "t:global.icon.options.express_shipping",
              "value": "express-shipping"
            },
            {
              "label": "t:global.icon.options.free_shipping",
              "value": "free-shipping"
            },
            {
              "label": "t:global.icon.options.in_person_support",
              "value": "in-person-support"
            },
            {
              "label": "t:global.icon.options.international_shipping",
              "value": "international-shipping"
            },
            {
              "label": "t:global.icon.options.live_chat",
              "value": "live-chat"
            },
            {
              "label": "t:global.icon.options.money_back",
              "value": "money-back"
            },
            {
              "label": "t:global.icon.options.no_hidden_fees",
              "value": "no-hidden-fees"
            },
            {
              "label": "t:global.icon.options.online_support",
              "value": "online-support"
            },
            {
              "label": "t:global.icon.options.organic",
              "value": "organic"
            },
            {
              "label": "t:global.icon.options.payment_secured",
              "value": "payment-secured"
            },
            {
              "label": "t:global.icon.options.pickup_in_store",
              "value": "pickup-in-store"
            },
            {
              "label": "t:global.icon.options.quality",
              "value": "quality"
            },
            {
              "label": "t:global.icon.options.refund",
              "value": "refund"
            },
            {
              "label": "t:global.icon.options.sustainable",
              "value": "sustainable"
            },
            {
              "label": "t:global.icon.options.trending",
              "value": "trending"
            },
            {
              "label": "t:global.icon.options.trust",
              "value": "trust"
            },
            {
              "label": "t:global.icon.options.warranty",
              "value": "warranty"
            }
          ],
          "default": "in-person-support",
          "label": "t:global.icon.icon"
        },
        {
          "type": "text",
          "id": "another_icon",
          "label": "t:global.icon.another_icon",
          "info": "t:global.icon.another_icon_info"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_image",
          "label": "t:global.icon.custom_icon_image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Frequently asked question",
          "label": "t:faq.blocks.frequently_asked_question.settings.question"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>",
          "label": "t:faq.blocks.frequently_asked_question.settings.answer",
          "info": "t:global.text.highlight_info"
        },
        {
          "type": "select",
          "id": "highlight_effect",
          "label": "t:global.text.highlight_effect.label",
          "options": [
            {
              "value": "underline",
              "label": "t:global.text.highlight_effect.option_1"
            },
            {
              "value": "marker",
              "label": "t:global.text.highlight_effect.option_2"
            },
            {
              "value": "text-color-change",
              "label": "t:global.text.highlight_effect.option_3"
            },
            {
              "value": "shadow",
              "label": "t:global.text.highlight_effect.option_4"
            }
          ],
          "default": "underline"
        },
        {
          "type": "select",
          "id": "text_transform",
          "label": "t:global.text.transform.label",
          "options": [
            {
              "value": "none",
              "label": "t:global.text.transform.none"
            },
            {
              "value": "italic",
              "label": "t:global.text.transform.italic"
            },
            {
              "value": "uppercase",
              "label": "t:global.text.transform.uppercase"
            },
            {
              "value": "both",
              "label": "t:global.text.transform.italic_and_uppercase"
            }
          ],
          "default": "none"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:faq.name",
      "blocks": [
        {
          "type": "frequently_asked_question"
        },
        {
          "type": "frequently_asked_question"
        },
        {
          "type": "frequently_asked_question"
        },
        {
          "type": "frequently_asked_question"
        }
      ]
    }
  ]
}
{% endschema %}
