{% liquid
  assign columns_desktop = section.settings.columns_desktop
  assign columns_mobile = section.settings.columns_mobile
  assign swiper_on_mobile = false
  if section.settings.swiper_on_mobile and section.blocks.size > 1
    assign swiper_on_mobile = true
  endif

  assign section_id_for_class = section.id
  if request.visual_preview_mode
    assign section_id_for_class = section_id_for_class | replace: '=', '\='
  endif
%}
{% style %}
  .section--{{ section_id_for_class }} {
    padding-top: calc({{ section.settings.padding_top }}px * var(--mobile-padding-ratio));
    padding-bottom: calc({{ section.settings.padding_bottom }}px * var(--mobile-padding-ratio));
  }
  {% if swiper_on_mobile %}
    .preload-slide-{{ section_id_for_class }} {
      margin-right: {{ section.settings.spacing_mobile }}px;
    }
  {% endif %}
  .gap-{{ section_id_for_class }} {
    gap: {{ section.settings.spacing_mobile }}px;
  }
  .maximize-theme:not(.dark) .section--{{ section_id_for_class }} .hotspot-content {
    {% if section.settings.color_card_background_light.alpha != 0.0 and section.settings.color_card_background_light %}
      --gradient-background: {{ section.settings.color_card_background_light }};
    {% endif %}
  }
  .maximize-theme:not(.dark) .section--{{ section_id_for_class }} .hotspot-button,
  .maximize-theme:not(.dark) .section--{{ section_id_for_class }} .hotspot-button .animate-hotspot {
    {% if section.settings.color_hotspot_light.alpha != 0.0 %}
      background-color: {{ section.settings.color_hotspot_light }};
    {% else %}
      background-color: #FFFFFF;
    {% endif %}
  }
  .dark .section--{{ section_id_for_class }} .hotspot-content {
    {% if section.settings.color_card_background_dark.alpha != 0.0 and section.settings.color_card_background_dark %}
      --gradient-background: {{ section.settings.color_card_background_dark }};
    {% endif %}
  }
  .dark .section--{{ section_id_for_class }} .hotspot-button, 
  .dark .section--{{ section_id_for_class }} .hotspot-button .animate-hotspot {
    {% if section.settings.color_hotspot_dark.alpha != 0.0 %}
      background-color: {{ section.settings.color_hotspot_dark }};
    {% else %}
      background-color: #000000;
    {% endif %}
  }
  @media (min-width: 768px) {
    .section--{{ section_id_for_class }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    {% if swiper_on_mobile %}
      .preload-slide-{{ section_id_for_class }} {
        margin-right: 0px;
      }
    {% endif %}
    .gap-{{ section_id_for_class }} {
      gap: {{ section.settings.spacing }}px;
    }
  }
{% endstyle %}

{% render 'section-divider' %}

<div class="section--{{ section.id }} {{ section.settings.section_width }} rounded-corners-container color-{{ section.settings.color_scheme_light }} dark-color-{{ section.settings.color_scheme_dark }} overflow-hidden">
  <div class="section-highlight-product-set__container flex flex-col gap-[var(--spacing-between-heading-and-content)]">
    {% if section.settings.subheading != blank or section.settings.heading != blank %}
      <div class="section-heading__wrapper text-{{ section.settings.heading_alignment }} flex flex-col gap-0.5">
        {% if section.settings.subheading != blank %}
          <p class="section-heading__subheading anm-fade-element subheading" x-intersect.once="$el.classList.add('is-visible')">{{ section.settings.subheading }}</p>
        {% endif %}
        {% if section.settings.heading != blank %}
          <{{ section.settings.heading_tag }} class="h2 heading-{{ section.settings.heading_size }}">
            {% render 'text-highlight',
              id: section.id,
              text: section.settings.heading,
              highlight_effect: section.settings.highlight_effect,
              text_transform: section.settings.text_transform
            %}
          </{{ section.settings.heading_tag }}>
        {% endif %}
      </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      {% if swiper_on_mobile %}
        <div
          class="swiffy-slider md:!swiffy-slider slider-item-snapstart visible relative"
          x-intersect.once="$store.xSwiffy.load($el, {
            'effect': 'slide',
            'mediaQuery': 'max',
            'isLoop': false,
            'threshold': 50,
            'breakPoints':{
              '767': {
                'slidesPerView': {{ columns_mobile }},
                'gap': '{{ section.settings.spacing_mobile }}px'
              }
            },
          });"
        >
      {% endif %}
        <div class="highlight-card-container h-max w-full grid gap-{{ section.id }}{% if swiper_on_mobile %} slider-container md:overflow-visible{% else %} grid-cols-{{ columns_mobile }}{% endif %}  md:grid-cols-{{ columns_desktop }}">
          {% for block in section.blocks %}
            {% liquid
              assign col_span_desktop = block.settings.column_width_desktop
              assign col_span_mobile = block.settings.column_width_mobile
              assign row_height_desktop = block.settings.row_height_desktop
              assign row_height_mobile = block.settings.row_height_mobile
              if col_span_desktop > columns_desktop
                assign col_span_desktop = columns_desktop
              endif
              if col_span_mobile > columns_mobile
                assign col_span_mobile = columns_mobile
              endif

              assign block_id_for_class = block.id
              if request.visual_preview_mode
                assign block_id_for_class = block_id_for_class | replace: '=', '\='
              endif
            %}
            {% style %}
              .block-{{ block_id_for_class }} {
                min-height: calc({{ section.settings.mobile_image_height }}px * {{ row_height_mobile }});
              }
              .hotspot-{{ block_id_for_class }}-1 {
                top: {{ block.settings.hotspot_mobile_vertical_1 }}%;
                left: {{ block.settings.hotspot_mobile_horizontal_1 }}%;
                transform: translate(-{{ block.settings.hotspot_mobile_horizontal_1 }}%,-{{ block.settings.hotspot_mobile_vertical_1 }}%);
              }
              .hotspot-{{ block_id_for_class }}-2 {
                top: {{ block.settings.hotspot_mobile_vertical_2 }}%;
                left: {{ block.settings.hotspot_mobile_horizontal_2 }}%;
                transform: translate(-{{ block.settings.hotspot_mobile_horizontal_2 }}%,-{{ block.settings.hotspot_mobile_vertical_2 }}%);
              }
              .hotspot-{{ block_id_for_class }}-3 {
                top: {{ block.settings.hotspot_mobile_vertical_3 }}%;
                left: {{ block.settings.hotspot_mobile_horizontal_3 }}%;
                transform: translate(-{{ block.settings.hotspot_mobile_horizontal_3 }}%,-{{ block.settings.hotspot_mobile_vertical_3 }}%);
              }
              @media (min-width: 768px) {
                .block-{{ block_id_for_class }} {
                  min-height: calc({{ section.settings.desktop_image_height }}px * {{ row_height_desktop }});
                }
                .hotspot-{{ block_id_for_class }}-1 {
                  top: {{ block.settings.hotspot_desktop_vertical_1 }}%;
                  left: {{ block.settings.hotspot_desktop_horizontal_1 }}%;
                  transform: translate(-{{ block.settings.hotspot_desktop_horizontal_1 }}%,-{{ block.settings.hotspot_desktop_vertical_1 }}%);
                }
                .hotspot-{{ block_id_for_class }}-2 {
                  top: {{ block.settings.hotspot_desktop_vertical_2 }}%;
                  left: {{ block.settings.hotspot_desktop_horizontal_2 }}%;
                  transform: translate(-{{ block.settings.hotspot_desktop_horizontal_2 }}%,-{{ block.settings.hotspot_desktop_vertical_2 }}%);
                }
                .hotspot-{{ block_id_for_class }}-3 {
                  top: {{ block.settings.hotspot_desktop_vertical_3 }}%;
                  left: {{ block.settings.hotspot_desktop_horizontal_3 }}%;
                  transform: translate(-{{ block.settings.hotspot_desktop_horizontal_3 }}%,-{{ block.settings.hotspot_desktop_vertical_3 }}%);
                }
              }
            {% endstyle %}
            <div class="block-{{ block.id }} slide-item relative w-full md:col-span-{{ col_span_desktop }} md:row-span-{{ row_height_desktop }} h-auto  {% if swiper_on_mobile %} preload-slide-{{ section.id }} w-full{% else %} col-span-{{ col_span_mobile }} row-span-{{ row_height_mobile }}{% endif %}" {{ block.shopify_attributes }}>
              <div class="absolute h-full w-full top-0 left-0 rounded-corners overflow-hidden">
                {% if block.settings.image != blank %}
                  {% capture sizes %}
                    {% if section.settings.section_width == 'page-width' %}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | divided_by: columns_desktop | times: col_span_desktop }}px,
                    {% endif %}
                    (min-width: 768px) {{ 100 | divided_by: columns_desktop | times: col_span_desktop }}vw,
                    {{ 100 | divided_by: columns_mobile | times: col_span_mobile }}vw
                  {% endcapture %}
                  {% render 'image', img: block.settings.image, img_class: 'w-full h-full object-cover', img_width: 2000, alt: section.settings.image.alt, sizes: sizes %}
                {% else %}
                  <div class="w-full h-full flex items-center justify-center">
                    {% render 'placeholder-image', image_type: 'image' %}
                  </div>
                {% endif %}
              </div>
              <div class="hotspot-wrapper absolute w-full h-full top-0 left-0">
                {% for i in (1..3) %}
                  {% liquid
                    assign product_option = 'product_' | append: i
                    assign selected_product = block.settings[product_option]
                  %}
                  {% unless selected_product == blank %}
                    <div
                      class="hotspot-{{ block.id }}-{{ i }} absolute -translate-x-1/2 -translate-y-1/2"
                      x-data="xHighlightProductSet"
                      :class="open ? 'z-30' : 'z-20'"
                      x-cloak
                      x-on:mouseover="onMouseover()"
                      x-on:mouseout="onMouseout()"
                      x-on:click="openQuickView('{{ selected_product.url }}', '{{ selected_product.id }}')"
                      data-variant-id="{{ selected_product.selected_or_first_available_variant.id }}"
                      @click.outside="onClickOutside()"
                    >
                      <button
                        class="hotspot-button w-5 h-5 md:w-6 md:h-6 p-2 md:p-3 rounded-full relative z-10 hover:scale-125 duration-150 transition-transform {% if selected_product == blank %} cursor-not-allowed {% endif %}"
                        aria-label="Hotspot button"
                      >
                        <span class="animate-hotspot top-0 left-0 animate-[pingHotspot_2s_ease-in-out_infinite] absolute inline-flex h-full w-full rounded-full opacity-20"></span>
                      </button>
                      <div
                        class="hotspot-content shadow-medium color-bg-gradient-[var(--gradient-background)] p-2 min-w-[110px] max-w-[196px] md:min-w-[160px] md:max-w-[280px] w-max h-auto rounded-corners absolute left-1/2"
                        :class="[topPosition ? ' top-auto bottom-full' : ' top-full', open ? 'visible opacity-1 open' : 'invisible opacity-0']"
                        x-cloak
                        x-ref="content"
                        x-transition:enter="transition-opacity ease-out duration-300"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-in duration-300"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        tabindex="0"
                        @keyup.enter="$el.click()"
                      >
                        {% render 'highlight-product-card', product: selected_product, show_vendor: section.settings.show_vendor, show_rating: section.settings.show_product_rating %}
                      </div>
                    </div>

                  {% endunless %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        {%- if swiper_on_mobile -%}
          {% render 'progress-bar' %}
        {%- endif -%}
      {% if swiper_on_mobile %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
<script>
  requestAnimationFrame(() => {
    document.addEventListener('alpine:init', () => {
      Alpine.data('xHighlightProductSet', () => ({
        open: false,
        topPosition: false,
        isDesktop: window.matchMedia('(hover: hover)').matches,
        isShowQuickView: false,
        init() {
          this.$watch('open', value => this.calculateHotspotStyle(value));
          window.addEventListener("resize", () => this.__debounce(this.handleResize(), 300));
        },
        __debounce(func, wait) {
          let timeout;
          return function (...args) {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
          };
        },
        handleResize() {
          this.isDesktop = window.matchMedia('(hover: hover)').matches
        },
        onMouseover() {
          if (this.isDesktop) {
            this.open = true
          }
        },
        onMouseout() {
          if (this.isDesktop) {
            this.open = false
          } else {
            this.isShowQuickView = Alpine.store('xQuickView')?.show
            if (this.isShowQuickView) {
              setTimeout(() => {
                this.isShowQuickView = false
              }, 300)
            }
          }
        },
        onClickOutside() {
          if (!this.isShowQuickView) {
            this.open = false
          }
        },
        calculateHotspotStyle(value) {
          if (!value) {
            return;
          }
          const parentElement = this.$root.closest('.highlight-card-container');
          const parentRect = parentElement && parentElement.getBoundingClientRect();
          const contentRef = this.$refs.content;  
          const rect = contentRef.getBoundingClientRect();
          if (rect.right >= parentRect.right) {
            this.$root.style.setProperty('--position-translate-x', `${rect.right - parentRect.right + 5}px`);
          }
          if (rect.left < parentRect.left) {
            this.$root.style.setProperty('--position-translate-x', `${rect.left - parentRect.left - 5}px`);
          }
          if (rect.bottom > parentRect.bottom) {
            this.topPosition = true;
          }
        },
        openQuickView(productUrl, productId) {
          if (this.open) {
            Alpine.store('xQuickView') && Alpine.store('xQuickView').load(productId, productUrl, this.$el) && Alpine.store('xQuickView').open();
          }
          else {
            this.open = !this.open
          }
        }
      }));
    });
  })
</script>
{% schema %}
{
  "name": "t:highlighted_product_set.name",
  "tag": "section",
  "class": "maximize-section section-highlight-product-set",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "t:global.text.subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:global.text.heading",
      "default": "Highlighted product set",
      "info": "t:global.text.highlight_info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:global.text.heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:global.size.small"
        },
        {
          "value": "medium",
          "label": "t:global.size.medium"
        },
        {
          "value": "large",
          "label": "t:global.size.large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "t:global.text.heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:global.alignment.heading",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "highlight_effect",
      "label": "t:global.text.highlight_effect.label",
      "options": [
        {
          "value": "underline",
          "label": "t:global.text.highlight_effect.option_1"
        },
        {
          "value": "marker",
          "label": "t:global.text.highlight_effect.option_2"
        },
        {
          "value": "text-color-change",
          "label": "t:global.text.highlight_effect.option_3"
        },
        {
          "value": "shadow",
          "label": "t:global.text.highlight_effect.option_4"
        }
      ],
      "default": "underline"
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "t:global.text.transform.label",
      "options": [
        {
          "value": "none",
          "label": "t:global.text.transform.none"
        },
        {
          "value": "italic",
          "label": "t:global.text.transform.italic"
        },
        {
          "value": "uppercase",
          "label": "t:global.text.transform.uppercase"
        },
        {
          "value": "both",
          "label": "t:global.text.transform.italic_and_uppercase"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:highlighted_product_set.settings.product_items.header"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:global.product.show_vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "t:global.product.show_product_rating",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.header.desktop_layout"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "t:global.section.number_of_columns"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 4,
      "label": "t:global.section.block_spacing"
    },
    {
      "type": "range",
      "id": "desktop_image_height",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 300,
      "label": "t:highlighted_product_set.settings.desktop_layout.row_height.label"
    },
    {
      "type": "header",
      "content": "t:global.header.mobile_layout"
    },
    {
      "type": "checkbox",
      "id": "swiper_on_mobile",
      "default": false,
      "label": "t:global.carousel.enable_swipe_on_mobile"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:global.section.number_of_columns",
      "options": [
        {
          "value": "1",
          "label": "t:global.section.columns.1_column"
        },
        {
          "value": "2",
          "label": "t:global.section.columns.2_columns"
        }
      ]
    },
    {
      "type": "range",
      "id": "spacing_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8,
      "label": "t:global.section.block_spacing"
    },
    {
      "type": "range",
      "id": "mobile_image_height",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 250,
      "label": "t:highlighted_product_set.settings.desktop_layout.row_height.label"
    },
    {
      "type": "header",
      "content": "t:global.header.section_layout"
    },
    {
      "type": "select",
      "label": "t:global.section.section_width.label",
      "id": "section_width",
      "options": [
        {
          "label": "t:global.section.section_width.option_1",
          "value": "page-width"
        },
        {
          "label": "t:global.section.section_width.option_2",
          "value": "full-width"
        },
        {
          "label": "t:global.section.section_width.option_3",
          "value": "full-width-padded"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.top_padding",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.bottom_padding",
      "default": 28
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:global.section.show_section_divider",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.header.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_light",
      "default": "scheme-1",
      "label": "t:global.colors.color_scheme_light"
    },
    {
      "type": "color",
      "id": "color_hotspot_light",
      "label": "t:highlighted_product_set.settings.colors.hotspot_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_card_background_light",
      "label": "t:highlighted_product_set.settings.colors.product_card_bg_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_dark",
      "default": "scheme-2",
      "label": "t:global.colors.color_scheme_dark"
    },
    {
      "type": "color",
      "id": "color_hotspot_dark",
      "label": "t:highlighted_product_set.settings.colors.hotspot_dark",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_card_background_dark",
      "label": "t:highlighted_product_set.settings.colors.product_card_bg_dark",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "type": "highlight_set",
      "name": "t:highlighted_product_set.blocks.highlight.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.image"
        },
        {
          "type": "header",
          "content": "t:global.header.desktop_layout"
        },
        {
          "type": "range",
          "id": "column_width_desktop",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 1,
          "label": "t:highlighted_product_set.blocks.highlight.settings.column_width"
        },
        {
          "type": "range",
          "id": "row_height_desktop",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 2,
          "label": "t:highlighted_product_set.settings.desktop_layout.row_height.label"
        },
        {
          "type": "header",
          "content": "t:global.header.mobile_layout"
        },
        {
          "type": "select",
          "id": "column_width_mobile",
          "default": "1",
          "label": "t:highlighted_product_set.blocks.highlight.settings.column_width",
          "options": [
            {
              "value": "1",
              "label": "t:global.section.columns.1_column"
            },
            {
              "value": "2",
              "label": "t:global.section.columns.2_columns"
            }
          ]
        },
        {
          "type": "select",
          "id": "row_height_mobile",
          "default": "2",
          "label": "t:highlighted_product_set.settings.desktop_layout.row_height.label",
          "options": [
            {
              "value": "1",
              "label": "t:highlighted_product_set.settings.desktop_layout.row_height.option_1"
            },
            {
              "value": "2",
              "label": "t:highlighted_product_set.settings.desktop_layout.row_height.option_2"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:highlighted_product_set.blocks.highlight.product_1.header"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "t:global.product.product"
        },
        {
          "type": "range",
          "id": "hotspot_desktop_horizontal_1",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 30,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_desktop_horizontal_1"
        },
        {
          "type": "range",
          "id": "hotspot_desktop_vertical_1",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_desktop_vertical_1"
        },
        {
          "type": "range",
          "id": "hotspot_mobile_horizontal_1",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 27,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_mobile_horizontal_1"
        },
        {
          "type": "range",
          "id": "hotspot_mobile_vertical_1",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 47,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_mobile_vertical_1"
        },
        {
          "type": "header",
          "content": "t:highlighted_product_set.blocks.highlight.product_2.header"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "t:global.product.product"
        },
        {
          "type": "range",
          "id": "hotspot_desktop_horizontal_2",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 53,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_desktop_horizontal_1"
        },
        {
          "type": "range",
          "id": "hotspot_desktop_vertical_2",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 27,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_desktop_vertical_1"
        },
        {
          "type": "range",
          "id": "hotspot_mobile_horizontal_2",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 54,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_mobile_horizontal_1"
        },
        {
          "type": "range",
          "id": "hotspot_mobile_vertical_2",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 25,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_mobile_vertical_1"
        },
        {
          "type": "header",
          "content": "t:highlighted_product_set.blocks.highlight.product_3.header"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "t:global.product.product"
        },
        {
          "type": "range",
          "id": "hotspot_desktop_horizontal_3",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 64,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_desktop_horizontal_1"
        },
        {
          "type": "range",
          "id": "hotspot_desktop_vertical_3",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_desktop_vertical_1"
        },
        {
          "type": "range",
          "id": "hotspot_mobile_horizontal_3",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 64,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_mobile_horizontal_1"
        },
        {
          "type": "range",
          "id": "hotspot_mobile_vertical_3",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50,
          "label": "t:highlighted_product_set.blocks.highlight.product_1.hotspot_mobile_vertical_1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:highlighted_product_set.name",
      "blocks": [
        {
          "type": "highlight_set",
          "settings": {
              "column_width_desktop": 2,
              "row_height_desktop": 2,
              "column_width_mobile": "2",
              "row_height_mobile": "2"
            }
        },
        {
          "type": "highlight_set",
          "settings": {
              "column_width_desktop": 1,
              "row_height_desktop": 1,
              "column_width_mobile": "1",
              "row_height_mobile": "1"
            }
        },
        {
          "type": "highlight_set",
          "settings": {
              "column_width_desktop": 1,
              "row_height_desktop": 2,
              "column_width_mobile": "1",
              "row_height_mobile": "2"
            }
        },
        {
          "type": "highlight_set",
          "settings": {
              "column_width_desktop": 1,
              "row_height_desktop": 1,
              "column_width_mobile": "1",
              "row_height_mobile": "1"
            }
        }
      ]
    }
  ]
}
{% endschema %}
