{% style %}
  .section--{{ section.id }} {
    padding-top: calc({{ section.settings.padding_top }}px * var(--mobile-padding-ratio));
    padding-bottom: calc({{ section.settings.padding_bottom }}px * var(--mobile-padding-ratio));
  }
  @media (min-width: 768px) {
    .section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
<div class="section--{{ section.id }} page-width px-5 ml-auto mr-auto text-center">
  <h1 class="h2 mb-2 font-bold anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">{{ 'customer.reset_password.title' | t }}</h1>
  <p class="mb-8 md:mb-1 anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">{{ 'customer.reset_password.subtext' | t }}</p>
  {%- form 'reset_customer_password' -%}
    <div class="text-field__wrapper mx-auto mb-3 max-w-[570px] {% if form.errors contains 'password' %} color-outline-[rgba(var(--error-background-color))]{% endif %}">
      <input
        id="password"
        class="text-field__input"
        type="password"
        name="customer[password]"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
      >
      <label
        class="text-field__label"
        for="password"
      >
        {{ 'customer.reset_password.password' | t }}
      </label>
    </div>
    {%- if form.errors contains 'password' -%}
      <small id="password-error" class="form__message block text-left mt-3 mb-3 text-normal mr-auto ml-auto max-w-[570px]">
        <span>{% render 'icon-all', icon: 'icon-error', enable_customer_page: true %}</span>
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
      </small>
    {%- endif -%}
    <div class="text-field__wrapper mx-auto max-w-[570px] {% if form.errors contains 'password_confirmation' %} color-outline-[rgba(var(--error-background-color))]{% endif %}">
      <input
        id="password_confirmation"
        class="text-field__input"
        type="password"
        name="customer[password_confirmation]"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      >
      <label
        class="text-field__label"
        for="password_confirmation"
      >
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
    </div>
    {%- if form.errors contains 'password_confirmation' -%}
      <small id="password_confirmation-error" class="form__message block text-left mt-3 text-normal mr-auto ml-auto max-w-[570px]">
        <span>{% render 'icon-all', icon: 'icon-error', enable_customer_page: true %}</span>
        {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
      </small>
    {%- endif -%}
    <custom-button>
      <button class="button button-primary w-full block mr-auto ml-auto max-w-[570px] pt-2.5 pb-2.5 md:pt-3 md:pb-3 leading-normal mt-6 mb-5">
        {% assign button_label = 'customer.reset_password.submit' | t %}
        {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
      </button>
    </custom-button>
  {%- endform -%}
</div>
{% schema %}
{
  "name": "t:main_reset_password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:global.header.section_layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.top_padding",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.bottom_padding",
      "default": 52
    }
  ]
}
{% endschema %}
