{%- liquid
  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif

  assign is_rounded_conner = false
  if settings.edges_type == 'rounded_corners'
    assign is_rounded_conner = true
  endif
-%}

{% style %}
  .section--{{ section.id }} {
    padding-top: calc({{ section.settings.padding_top }}px * var(--mobile-padding-ratio));
    padding-bottom: calc({{ section.settings.padding_bottom }}px * var(--mobile-padding-ratio));
  }
  @media screen and (min-width: 768px) {
    .section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (min-width: 1280px) {
    {% if settings.page_width >= 1200  %}
      .main-cart__wrapper {
        flex-direction: row;
      }

      .main-cart__first {
        width: 70%
      }

      .main-cart__secondary {
        width: 30%
      }
    {% else %}
      .main-cart__wrapper {
        flex-direction: column;
      }

      .main-cart__first, .main-cart__secondary {
        width: 100%
      }
    {% endif %}
  }
{% endstyle %}

<div
  id="MainCart__Items"
  data-section-id="{{ section.id }}"
  x-data="xCart('{{ section.id }}')"
  class="section--{{ section.id }} cart-wrapper-{{ section.id }} page-width mx-auto"
  x-intersect.once="$store.xCartAnalytics.viewCart()"
>
  {%- if cart != empty -%}
    {% liquid
      if settings.estimate_show_in_cart != 'none'
        assign current_minute = 'now' | date: '%M'
        assign current_time_of_day = 'now' | date: '%H' | append: current_minute | plus: 0
        assign cutoff_time = settings.estimate_delivery_cutoff_hour | append: settings.estimate_delivery_cutoff_minute | plus: 0

        assign date_update = 0
        if current_time_of_day > cutoff_time
          assign date_update = 1
        endif
        assign to_date_seconds = date_update | times: 24 | times: 60 | times: 60
        assign update_date_month = 'now' | date: '%s' | plus: to_date_seconds | date: '%B'
        assign update_date_day = 'now' | date: '%s' | plus: to_date_seconds | date: '%d'
        assign update_date_string = 'date_time.month.' | append: update_date_month | t | append: ' ' | append: update_date_day
        assign is_update_date = true
        if update_date_string == cart.attributes['datetime-updated']
          assign is_update_date = false
        endif
      endif
    %}
    <div
      class="pb-4 md:pb-10 flex justify-between"
      {% if is_update_date %}
        x-init="updateDate(`{{ update_date_string }}`)"
      {% endif %}
    >
      <{{ section.settings.heading_tag }} class="flex items-center h2">{{ 'sections.cart.title' | t }}</{{ section.settings.heading_tag }}>
      <div class="flex items-center justify-end pb-1.5 lg:pb-2">
        <a
          class="text-medium relative text-link"
          href="{{ settings.cart_continue_shopping_link }}"
        >
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    </div>

    {% liquid
      assign hidden_etc = false
      for item in cart.items
        for property in item.properties
          if property.first == '_preorder'
            assign hidden_etc = true
          endif
        endfor
      endfor
    %}
    <div
      id="MainCart__ShippingDelivery"
      class="cart__shipping-and-delivery-wrapper {% if hidden_etc %} hidden{% endif %} pb-6 md:pb-10"
      x-init=""
    >
      {%- render 'shipping-and-delivery-cart', container_id: '#MainCart__ShippingDelivery', is_cart_drawer: false -%}
    </div>

    <div class="main-cart__wrapper flex flex-col md:gap-10 relative">
      <div class="main-cart__first w-full">
        <div
          class="main-cart__items-wrapper w-full"
          id="MainCart__GridItems"
        >
          <form
            action="{{ routes.cart_url }}"
            method="post"
            id="cart"
            class="relative w-full"
          >
            <div class="cart-items__header h7 flex flex-row px-[10px] py-[10px] border-b border-solid color-border-[rgba(var(--color-line-and-border))]">
              <div class="cart-items__header-product md:w-1/2 flex-auto">{{ 'sections.cart.headings.product' | t }}</div>
              <div class="cart-items__header-price hidden md:flex justify-start md:w-1/6">{{ 'sections.cart.headings.price' | t }}</div>
              <div class="cart-items__header-quantity hidden md:flex justify-start md:w-[calc(16.67%+16px)]">{{ 'sections.cart.headings.quantity' | t }}</div>
              <div class="cart-items__header-total flex justify-center md:justify-start md:w-1/6">{{ 'sections.cart.headings.total' | t }}</div>
            </div>

            <div class="cart-items__body flex flex-col w-full">
              {% render 'main-cart-items', is_rtl: is_rtl, is_rounded_conner: is_rounded_conner %}
            </div>
            <div
              class="absolute top-0 bottom-0 left-0 h-full w-full z-20"
              x-cloak
              x-show="isLoading"
            ></div>
          </form>
        </div>

        {% if settings.enable_estimate_shipping %}
          <div class="main-cart__estimate-shipping-wrapper pt-4 md:pt-12 pb-5 md:pb-2.5">
            {% render 'estimate-shipping-rate', is_cart_drawer: false %}
          </div>
        {% endif %}
      </div>

      <div class="main-cart__secondary w-full h-fit {% if section.settings.sticky_order_summary %} md:sticky top-5{% endif %}">
        {% render 'main-cart-summary', is_rtl: is_rtl, is_rounded_conner: is_rounded_conner %}
      </div>
    </div>
  {% else %}
    <div class="block items-center justify-center text-center pb-9" id="MainCart__Empty">
      <{{ section.settings.heading_tag }} class="h2 block mt-6 mb-6">{{ 'sections.cart.empty' | t }}</{{ section.settings.heading_tag }}>
      <custom-button>
        <a
          class="button button-primary inline-block leading-normal py-2.5 lg:py-3 px-6 {% if is_rounded_conner %} rounded-md{% endif %}"
          href="{{ settings.cart_continue_shopping_link }}"
        >
          {%- assign button_label = 'general.continue_shopping' | t -%}
          {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
        </a>
      </custom-button>
      {%- if shop.customer_accounts_enabled and customer == null -%}
        <div class="mt-10">
          <p class="block mb-4 text-medium">{{ 'sections.cart.login.title' | t }}</p>
          <p class="my-2 leading-tight">
            {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
          </p>
        </div>
      {%- endif -%}
    </div>
  {% endif %}
</div>

{% if settings.enable_estimate_shipping %}
  <script
    src="{{ 'estimate-shipping-rate.js' | asset_url }}"
    defer
  ></script>
{% endif %}

{%- if settings.cart_enable_terms_and_conditions -%}
  <script
    src="{{ 'cart-term.js' | asset_url }}"
    defer
  ></script>
{%- endif -%}

{% schema %}
{
  "name": "t:main_cart.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:main_cart.settings.paragraph"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h1",
      "label": "t:global.text.heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "sticky_order_summary",
      "label": "t:main_cart.settings.enable_sticky_order_summary",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.header.section_layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.top_padding",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.bottom_padding",
      "default": 28
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "t:main_cart.settings.section_layout.checkout_button",
      "default": true
    }
  ]
}
{% endschema %}
