{%- style -%}
  {% if section.settings.sticky_filtering %}
    :root{
      --height-sticky-filter: 50px;
    }
  {% endif %}
  .gap-{{ section.id }} {
    gap: {{ section.settings.spacing_mobile }}px;
  }
  .section--{{ section.id }} {
    padding-top: calc({{ section.settings.padding_top }}px * var(--mobile-padding-ratio));
    padding-bottom: calc({{ section.settings.padding_bottom }}px * var(--mobile-padding-ratio));
  }
  @media (min-width: 768px) {
    .section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .gap-{{ section.id }} {
      gap: {{ section.settings.spacing_desktop }}px;
    }
  }
{%- endstyle -%}
{%- liquid
  assign show_filter = true
  if collection.filters.size < 1
    assign show_filter = false
  endif
  for filter in collection.filters
    if filter.type == 'price_range' and collection.filters.size <= 1
      assign show_filter = false
    endif
  endfor

  assign enable_filter_and_sort = false
  if section.settings.enable_filtering or section.settings.enable_sorting
    assign enable_filter_and_sort = true
  endif

  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
-%}

{% render 'section-divider' %}
{{ 'main-collection.css' | asset_url | stylesheet_tag }}
<div
  id="{{ section.id }}"
  {% if enable_filter_and_sort %}
    x-data="xFiltersAndSortBy('{{ section.id }}', '{{ section.settings.filter_type }}', false, '{{ section.settings.expand_filter }}')" :class="!showFilterAside && 'filter-aside'"
  {% endif %}
  class="section--{{ section.id }} {{ section.settings.section_width }} rounded-corners-container color-{{ section.settings.color_scheme_light }} dark-color-{{ section.settings.color_scheme_dark }}"
>
  {% if enable_filter_and_sort -%}
    <div
      class="{% if section.settings.sticky_filtering %} sticky sticky-filter-top duration-500 z-20 bg-gradient{% endif %} empty:min-h-[50px]"
      id="header-filter"
    ></div>
  {%- endif %}

  {% if section.settings.enable_advanced_filter and section.settings.key_value != blank %}
    {% liquid
      assign key_value = section.settings.key_value | newline_to_br | strip_newlines | split: '<br />'
      assign device_type_list = "Desktop,Mobile" | split: ","
      for device_type in device_type_list
        assign filter_used = ''
        
        capture advanced_filter_content
          for advanced_filter_value in key_value limit: 3
            assign filter_label = advanced_filter_value | split: ":" | first | strip
            assign columns_desktop = advanced_filter_value | split: ":" | last | strip
            
            for filter in collection.filters
              assign sorted_values = filter.values
              assign filter_index = forloop.index
              assign filter_used_arr = filter_used | split: ';'
              
              unless filter_label != filter.label or filter_used_arr contains filter.label
                assign filter_used = filter_used | append: filter.label | append: ';'
                render 'advanced-filter', filter: filter, filter_index: filter_index, sorted_values: sorted_values, filter_type: section.settings.filter_type, enable_desktop_slider: section.settings.enable_desktop_slider, columns_desktop: columns_desktop, hide_unavaiable_filter: section.settings.hide_unavaiable_filter, image_ratio: section.settings.image_ratio_filter, is_rtl: is_rtl, type: device_type
              endunless
            endfor
          endfor
        endcapture
        if device_type == "Desktop"
          assign advanced_filter_content_desktop = advanced_filter_content
        else
          assign advanced_filter_content_mobile = advanced_filter_content
        endif
      endfor

      assign only_show_advanded_filter = false
      assign filter_used_arr = filter_used | split: ";"
      if collection.filters.size == filter_used_arr.size
        assign only_show_advanded_filter = true
      endif
      
      if section.settings.enable_filtering == false and filter_used_arr.size > 0
        assign only_show_advanded_filter = true
      endif
    %}
  {% endif %}

  {%- if enable_filter_and_sort and section.settings.filter_type == 'above' -%}
    {% comment %} Filter for above type {% endcomment %}
    <div class="facet-filter-wrapper
      {%- if section.settings.default_hide_filtering %} filter-aside:md:block md:hidden{% else %} md:block{% endif -%}
      {%- if section.settings.sticky_filtering %} md:sticky duration-300 sticky-filter-above-top z-[19] color-bg-[var(--element-background)]{% endif -%}
    "
    >
      {% render 'facets',
        results: collection,
        enable_filtering: section.settings.enable_filtering,
        enable_sorting: section.settings.enable_sorting,
        products_per_page: section.settings.products_per_page,
        collection_page: true,
        filter_type: section.settings.filter_type,
        sticky_filter: section.settings.sticky_filtering,
        show_filter: show_filter,
        expand_filter: section.settings.expand_filter,
        filter_used: filter_used,
        only_show_advanded_filter: only_show_advanded_filter,
        advanced_filter_content: advanced_filter_content_mobile
      %}
    </div>
  {%- endif -%}

  <div 
    class="desktop-advanced-filter hidden empty:hidden md:block mb-8 invisible mt-5" 
    x-intersect="$el.classList.remove('invisible')"
  >
    {{- advanced_filter_content_desktop -}}
  </div>
  
  <div
    class="facet-filter-container mt-3
      {%- if section.settings.filter_type == 'aside' and section.settings.enable_filtering and show_filter %} flex flex-col md:flex-row md:gap-7.5{% endif -%}
      {%- if enable_filter_and_sort == false %} md:mt-0
      {%- else %} md:mt-5
      {%- endif -%}
    "
  >
    {%- if enable_filter_and_sort and section.settings.filter_type != 'above' -%}
      <div 
        class="facet-filter-wrapper md:grow-0 md:shrink-0 md:basis-1/5 h-max
        {%- if section.settings.sticky_filtering and section.settings.filter_type == 'aside' %} md:sticky sticky-filter-aside-content-top md:z-[19] color-bg-gradient-[var(--gradient-background)] duration-300{% endif -%}
        {%- if section.settings.default_hide_filtering %}{% if section.settings.filter_type != 'drawer' %} md:hidden{% endif %} filter-aside:md:block{% else %} filter-aside:md:hidden{% endif -%}"
        {% if section.settings.enable_filtering and show_filter %}
          data-show-filter="true"
        {% else %}
          data-show-filter="false"
        {% endif %}
      >
        {% render 'facets',
          results: collection,
          enable_filtering: section.settings.enable_filtering,
          enable_sorting: section.settings.enable_sorting,
          products_per_page: section.settings.products_per_page,
          collection_page: true,
          filter_type: section.settings.filter_type,
          sticky_filter: section.settings.sticky_filtering,
          show_filter: show_filter,
          expand_filter: section.settings.expand_filter,
          filter_used: filter_used,
          only_show_advanded_filter: only_show_advanded_filter,
          advanced_filter_content: advanced_filter_content_mobile
        %}
      </div>
    {%- endif -%}
    <div
      class="{% if section.settings.filter_type == 'aside' %} flex-1{% endif %}"
      id="ProductGridContainer"
      x-intersect.once='
        $store.xCustomerEvent.fire("list_product_viewed", $el, {
          "list": {
            "id": "collection",
            "title": "{{ collection.title | escape }}"
          }
        })
      '
      {% if request.design_mode and section.settings.pagination != 'pagination' %}
        x-data="xPagination('{{ section.id }}')"
      {% endif %}
    >
      {%- paginate collection.products by section.settings.products_per_page -%}
        <div
          class="relative"
          {% if enable_filter_and_sort %}
            :class="listLayout ? 'list-layout' : 'grid-layout'"
          {% endif %}
        >
          {% if enable_filter_and_sort %}
            <div
              class="loading-cover left-0 absolute -top-2.5 md:-top-4 flex justify-center"
              x-show="isLoading"
              x-cloak
            >
              <span class="loading-bar"></span>
            </div>
          {% endif %}
          {%- if collection.products.size == 0 -%}
            <div id="product-grid">
              {% if collection.filters != blank %}
                <p class="text-center">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: 'remove-all-button text-link inline-text-link' }}
                </p>
              {%- else -%}
                <p class="text-center">{{ 'sections.collection_template.no_product_collection' | t }}</p>
              {% endif %}
              <div
                class="hidden"
                id="perpage-collection"
              ></div>
            </div>
          {%- else -%}
            <div
              id="ItemsGrid"
              class="anm-reveal-container grid grid-cols-{{ section.settings.products_per_row_on_mobile }} md:grid-cols-2 lg:grid-cols-{{ section.settings.products_per_row_on_desktop }} gap-{{ section.id }} md:list-layout:grid-cols-1 lg:list-layout:grid-cols-2{% if request.design_mode %}{% if enable_filter_and_sort %} opacity-0{% endif %}{% endif %}"
              {% if request.design_mode and enable_filter_and_sort %}
                :class="isLoading ? 'opacity-0' : 'opacity-100'"
              {% endif %}
            >
              {%- for product in collection.products -%}
                {% liquid
                  assign index = forloop.index
                  if forloop.index < 3
                    assign loading = 'eager'
                  else
                    assign loading = 'lazy'
                  endif
                %}
                {% for block in section.blocks %}
                  {% if block.settings.position == index %}
                    {% liquid
                      assign col_span = block.settings.number_of_grid_columns
                      if col_span > section.settings.products_per_row_on_desktop
                        assign col_span = section.settings.products_per_row_on_desktop
                      endif
                      assign col_span_mobile = block.settings.number_of_columns_mobile
                      if col_span_mobile > section.settings.products_per_row_on_mobile
                        assign col_span_mobile = section.settings.products_per_row_on_mobile
                      endif
                      assign class_tall_mobile = 'col-span-' | append: col_span_mobile | append: ' row-span-' | append: block.settings.number_of_row_mobile
                      assign class_tall_desktop = 'lg:col-span-' | append: col_span | append: ' lg:row-span-' | append: block.settings.number_of_grid_row | append: ' md:list-layout:col-span-1 lg:list-layout:col-span-' | append: block.settings.number_of_list_columns | append: ' lg:list-layout:row-span-' | append: block.settings.number_of_list_row
                      assign col_span = col_span | times: 1.0
                      assign columns_desktop = section.settings.products_per_row_on_desktop | divided_by: col_span
                      assign columns_mobile = section.settings.products_per_row_on_mobile | divided_by: col_span_mobile
                    %}
                    <div class="main-collection__promotion-block {{ class_tall_mobile }} {{ class_tall_desktop }}" {{ block.shopify_attributes }}>
                      {% render 'promotion-block',
                          blockID: block.id,
                          image_ratio: section.settings.image_ratio,
                          ratio: 100,
                          columns_desktop: columns_desktop,
                          columns_mobile: columns_mobile,
                          column_desktop_list: block.settings.number_of_list_columns,
                          products_per_row_on_mobile: section.settings.products_per_row_on_mobile,
                          block: block,
                          enable_desktop_slider: false,
                          image: block.settings.image,
                          button_label: block.settings.button_label,
                          button_link: block.settings.button_link,
                          open_new_window_button: block.settings.open_new_window_button,
                          content_position: block.settings.content_position,
                          alignment: block.settings.alignment,
                          heading: block.settings.heading,
                          content: block.settings.content,
                          image_overlay_opacity: block.settings.image_overlay_opacity,
                          title_size: block.settings.title_size,
                          text_size: block.settings.text_size,
                          list_layout: true,
                          show_button_style: block.settings.show_button_style,
                          collection_page: true,
                          color_scheme_light: block.settings.color_scheme_light,
                          color_scheme_dark: block.settings.color_scheme_dark,
                          loading: loading,
                          icon: 'none',
                          subheading: block.settings.subheading,
                          heading_highlight: true
                      %}
                    </div>

                  {% endif %}
                {% endfor %}
                <div class="grid-item">
                  {% liquid
                    assign index_param_variable = section.index | append: forloop.index | plus: 0
                    assign block_id_variable = paginate.current_page | append: forloop.index | plus: 0
                    assign columns_desktop_variable = section.settings.products_per_row_on_desktop | plus: 1
                    assign columns_mobile_variable = section.settings.products_per_row_on_mobile | plus: 0
                  %}
                  {%
                    render 'product-card',
                    index_param: index_param_variable,
                    index: forloop.index,
                    product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    show_shipping_information: section.settings.show_shipping_information,
                    show_inventory_status: section.settings.show_inventory_status,
                    show_sale_label: section.settings.show_sale_labels,
                    show_highlight_attributes: section.settings.show_highlight_attributes,
                    show_estimated_delivery: section.settings.show_estimated_delivery,
                    section_id: section.id,
                    block_id: block_id_variable,
                    collection: collection,
                    columns_desktop: columns_desktop_variable,
                    column_mobile: columns_mobile_variable,
                    show_quickview: section.settings.show_quickview,
                    collection_page: true,
                    show_description: section.settings.show_description,
                    show_price_range: true
                  %}
                </div>
              {%- endfor -%}
            </div>
            <div class="flex justify-center items-center mt-4 md:mt-7.5 flex-col-reverse lg:flex-row empty:hidden">
              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, paginate_type: 'underline', anchor: '', pagination: section.settings.pagination, products_per_page: section.settings.products_per_page %}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {%- endpaginate -%}
    </div>
  </div>
</div>
<script
  src="{{ 'product-form.js' | asset_url }}"
  defer="defer"
></script>
<script
  src="{{ 'product-card.js' | asset_url }}"
  defer
></script>
{% if section.settings.pagination != 'pagination' %}
  <script src="{{ 'pagination.js' | asset_url }}" defer></script>
{% endif %}
{% if settings.pc_show_highlight and settings.highlight_att_enable_auto_rotate %}
  <script src="{{ 'slide-element.js' | asset_url }}" defer></script>
{% endif %}
{% schema %}
{
  "name": "t:main_product_grid.name",
  "class": "maximize-section section-main-section-product-gird",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "label": "t:main_product_grid.settings.products_per_page",
      "min": 6,
      "max": 50,
      "step": 2,
      "default": 10
    },
    {
      "type": "range",
      "id": "products_per_row_on_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:global.section.products_per_row_desktop"
    },
    {
      "type": "select",
      "id": "products_per_row_on_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:global.section.columns.1_column"
        },
        {
          "value": "2",
          "label": "t:global.section.columns.2_columns"
        }
      ],
      "default": "1",
      "label": "t:global.section.products_per_row_mobile"
    },
    {
      "type": "select",
      "id": "pagination",
      "options": [
        {
          "value": "infinite_scroll",
          "label": "t:main_product_grid.settings.pagination.option_1"
        },
        {
          "value": "click_to_load",
          "label": "t:main_product_grid.settings.pagination.option_2"
        },
        {
          "value": "pagination",
          "label": "t:main_product_grid.settings.pagination.option_3"
        }
      ],
      "default": "pagination",
      "label": "t:global.carousel.pagination",
      "info": "t:main_product_grid.settings.pagination.info"
    },
    {
      "type": "header",
      "content": "t:global.header.product_card"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:global.product.show_vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:global.product.show_rating",
      "info": "t:global.product.show_product_rating_info"
    },
    {
      "type": "checkbox",
      "id": "show_quickview",
      "default": true,
      "label": "t:global.product.show_quick_view_button"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "default": true,
      "label": "t:main_product_grid.settings.product_card.show_description"
    },
    {
      "type": "header",
      "content": "t:main_product_grid.settings.filtering_sorting.header"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:main_product_grid.settings.filtering_sorting.enable_filtering",
      "info": "t:main_product_grid.settings.filtering_sorting.enable_filtering_info"
    },
    {
      "type": "checkbox",
      "id": "sticky_filtering",
      "default": false,
      "label": "t:main_product_grid.settings.filtering_sorting.sticky_filtering"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "drawer",
          "label": "t:main_product_grid.settings.filtering_sorting.filter_type.option_1"
        },
        {
          "value": "aside",
          "label": "t:main_product_grid.settings.filtering_sorting.filter_type.option_2"
        },
        {
          "value": "above",
          "label": "t:main_product_grid.settings.filtering_sorting.filter_type.option_3"
        }
      ],
      "default": "drawer",
      "label": "t:main_product_grid.settings.filtering_sorting.filter_type.label",
      "info": "t:main_product_grid.settings.filtering_sorting.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "default_hide_filtering",
      "default": false,
      "label": "t:main_product_grid.settings.filtering_sorting.collapse_filter",
      "info": "t:main_product_grid.settings.filtering_sorting.collapse_filter_info"
    },
    {
      "type": "checkbox",
      "id": "expand_filter",
      "default": false,
      "label": "t:main_product_grid.settings.filtering_sorting.expand_filter",
      "info": "t:main_product_grid.settings.filtering_sorting.expand_filter_info"
    },
    {
      "type": "checkbox",
      "id": "enable_collection_count",
      "default": true,
      "label": "t:main_product_grid.settings.filtering_sorting.enable_collection_count"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:main_product_grid.settings.filtering_sorting.enable_sorting"
    },
    {
      "type": "header",
      "content": "t:main_product_grid.settings.advanced_filter.header"
    },
    {
      "type": "checkbox",
      "id": "enable_advanced_filter",
      "default": false,
      "label": "t:main_product_grid.settings.advanced_filter.enable",
      "info": "t:main_product_grid.settings.advanced_filter.enable_info"
    },
    {
      "type": "textarea",
      "id": "key_value",
      "label": "t:main_product_grid.settings.advanced_filter.key_value",
      "info": "t:main_product_grid.settings.advanced_filter.key_value_info",
      "placeholder": "Color: 6"
    },
    {
      "type": "checkbox",
      "id": "hide_unavaiable_filter",
      "default": false,
      "label": "t:main_product_grid.settings.advanced_filter.hide_unavailable_filter"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "default": false,
      "label": "t:global.carousel.enable_carousel_on_desktop",
      "info": "t:main_product_grid.settings.advanced_filter.enable_desktop_slider_info"
    },
    {
      "type": "select",
      "id": "image_ratio_filter",
      "options": [
        {
          "value": "round",
          "label": "t:global.ratio.round"
        },
        {
          "value": "square",
          "label": "t:settings.shipping_delivery.settings.style.content_box_type.option_1"
        }
      ],
      "default": "round",
      "label": "t:global.image.image_style"
    },
    {
      "type": "header",
      "content": "t:global.header.section_layout"
    },
    {
      "type": "range",
      "id": "spacing_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.section.block_spacing_desktop",
      "default": 16
    },
    {
      "type": "range",
      "id": "spacing_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:global.section.block_spacing_mobile",
      "default": 16
    },
    {
      "type": "select",
      "label": "t:global.section.section_width.label",
      "id": "section_width",
      "options": [
        {
          "label": "t:global.section.section_width.option_1",
          "value": "page-width"
        },
        {
          "label": "t:global.section.section_width.option_2",
          "value": "full-width"
        },
        {
          "label": "t:global.section.section_width.option_3",
          "value": "full-width-padded"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.top_padding",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:global.section.bottom_padding",
      "default": 28
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:global.section.show_section_divider",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.header.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_light",
      "default": "scheme-1",
      "label": "t:global.colors.color_scheme_light"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_dark",
      "default": "scheme-2",
      "label": "t:global.colors.color_scheme_dark"
    }
  ],
  "blocks": [
    {
      "type": "promotion_block",
      "name": "t:collection_list.blocks.promotion.name",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:global.text.subheading",
          "default": "Promotion subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Promotion block",
          "label": "t:global.text.heading",
          "info": "t:global.text.highlight_info"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "t:global.text.title_size",
          "default": "small",
          "options": [
            {
              "label": "t:global.size.small",
              "value": "small"
            },
            {
              "label": "t:global.size.medium",
              "value": "medium"
            },
            {
              "label": "t:global.size.large",
              "value": "large"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Describe a promotion, make announcements, or welcome customers to your store.</p>",
          "label": "t:global.text.content",
          "info": "t:global.text.highlight_info"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:global.text.text_size",
          "default": "medium",
          "options": [
            {
              "label": "t:global.size.small",
              "value": "small"
            },
            {
              "label": "t:global.size.medium",
              "value": "medium"
            },
            {
              "label": "t:global.size.large",
              "value": "large"
            }
          ]
        },
        {
          "type": "select",
          "id": "highlight_effect",
          "label": "t:global.text.highlight_effect.label",
          "options": [
            {
              "value": "underline",
              "label": "t:global.text.highlight_effect.option_1"
            },
            {
              "value": "marker",
              "label": "t:global.text.highlight_effect.option_2"
            },
            {
              "value": "text-color-change",
              "label": "t:global.text.highlight_effect.option_3"
            },
            {
              "value": "shadow",
              "label": "t:global.text.highlight_effect.option_4"
            }
          ],
          "default": "underline"
        },
        {
          "type": "select",
          "id": "text_transform",
          "label": "t:global.text.transform.label",
          "options": [
            {
              "value": "none",
              "label": "t:global.text.transform.none"
            },
            {
              "value": "italic",
              "label": "t:global.text.transform.italic"
            },
            {
              "value": "uppercase",
              "label": "t:global.text.transform.uppercase"
            },
            {
              "value": "both",
              "label": "t:global.text.transform.italic_and_uppercase"
            }
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.background_image"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:global.overlay.image_overlay_opacity",
          "default": 10
        },
        {
          "type": "range",
          "id": "position",
          "min": 1,
          "max": 50,
          "step": 1,
          "label": "t:global.position.content_position",
          "default": 1
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:global.button.button_label",
          "default": "Discover Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:global.button.button_link"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button",
          "default": false,
          "label": "t:global.text.open_link_new_tab"
        },
        {
          "type": "select",
          "id": "show_button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:global.button.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:global.button.style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:global.button.style.text_link"
            }
          ],
          "label": "t:global.button.style.label",
          "default": "primary"
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "t:global.position.left"
            },
            {
              "value": "center",
              "label": "t:global.position.center"
            },
            {
              "value": "right",
              "label": "t:global.position.right"
            }
          ],
          "default": "center",
          "label": "t:global.alignment.content"
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "value": "start",
              "label": "t:global.position.top"
            },
            {
              "value": "center",
              "label": "t:global.position.center"
            },
            {
              "value": "end",
              "label": "t:global.position.bottom"
            }
          ],
          "label": "t:global.position.content_position",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:global.header.desktop_layout"
        },
        {
          "type": "range",
          "id": "number_of_grid_columns",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1,
          "label": "t:main_product_grid.blocks.desktop_layout.number_of_grid_columns"
        },
        {
          "type": "range",
          "id": "number_of_grid_row",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1,
          "label": "t:main_product_grid.blocks.desktop_layout.number_of_grid_row"
        },
        {
          "type": "select",
          "id": "number_of_list_columns",
          "options": [
            {
              "value": "1",
              "label": "t:global.section.columns.1_column"
            },
            {
              "value": "2",
              "label": "t:global.section.columns.2_columns"
            }
          ],
          "default": "1",
          "label": "t:main_product_grid.blocks.desktop_layout.number_of_list_columns"
        },
        {
          "type": "select",
          "id": "number_of_list_row",
          "options": [
            {
              "value": "1",
              "label": "t:global.section.columns.1_column"
            },
            {
              "value": "2",
              "label": "t:global.section.columns.2_columns"
            }
          ],
          "default": "1",
          "label": "t:main_product_grid.blocks.desktop_layout.number_of_list_row"
        },
        {
          "type": "header",
          "content": "t:global.header.mobile_layout"
        },
        {
          "type": "select",
          "id": "number_of_columns_mobile",
          "options": [
            {
              "value": "1",
              "label": "t:global.section.columns.1_column"
            },
            {
              "value": "2",
              "label": "t:global.section.columns.2_columns"
            }
          ],
          "default": "1",
          "label": "t:main_product_grid.blocks.mobile_layout.number_of_columns_mobile"
        },
        {
          "type": "select",
          "id": "number_of_row_mobile",
          "options": [
            {
              "value": "1",
              "label": "t:global.section.columns.1_column"
            },
            {
              "value": "2",
              "label": "t:global.section.columns.2_columns"
            }
          ],
          "default": "1",
          "label": "t:main_product_grid.blocks.mobile_layout.number_of_row_mobile"
        },
        {
          "type": "header",
          "content": "t:global.header.colors"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_light",
          "default": "scheme-3",
          "label": "t:global.colors.color_scheme_light"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_dark",
          "default": "scheme-3",
          "label": "t:global.colors.color_scheme_dark"
        }
      ]
    }
  ]
}
{% endschema %}
