<style type="text/css">
  .header-pwd__logo {
    max-width: {{ section.settings.logo_max_width }}px;
  }
</style>
<div id="x-header-container" class="header-pwd background-header color-text-header">
  <div class="header-pwd__wrapper page-width mx-auto flex flex-col px-5 pt-5 pb-6 p-break-words md:grid md:grid-cols-[1.5fr_1.5fr_1fr] items-center md:justify-between md:gap-12 md:pt-8 md:pb-8 md:pl-20 md:pr-20">
    {%- if section.settings.logo != blank -%}
      {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
      {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
      <img
        src="{{ section.settings.logo | image_url: width: section.settings.logo.width }}"
        alt="{{ logo_alt }}"
        sizes="{{ section.settings.logo_max_width }}px"
        srcset="{{ section.settings.logo | image_url: width: 50 }} 50w,
          {{ section.settings.logo | image_url: width: 100 }} 100w,
          {{ section.settings.logo | image_url: width: 150 }} 150w,
          {{ section.settings.logo | image_url: width: 200 }} 200w,
          {{ section.settings.logo | image_url: width: 250 }} 250w,
          {{ section.settings.logo | image_url: width: 300 }} 300w,
          {{ section.settings.logo | image_url: width: 400 }} 400w,
          {{ section.settings.logo | image_url: width: 500 }} 500w,
          {{ section.settings.logo | image_url: width: 600 }} 600w"
        width="{{ section.settings.logo.width }}"
        height="{{ section.settings.logo.height }}"
        class="header-pwd__logo"
      />
      {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
    {%- else -%}
      <h1 class="header-pwd__logo color-text-header text-center rtl:md:text-right md:text-left h2 mt-3 mb-3">
        {{ shop.name }}
      </h1>
    {%- endif -%}
    {%- if shop.password_message != blank -%}
      <div class="header-pwd__message">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    <password-modal class="header-pwd__logo__modal justify-end col-start-3 col-end-3 mt-6 md:mt-0">
      {%- form 'storefront_password', class: 'password-form' -%}
        <div
          x-data="{
            open:{% if form.errors %} true{% else %} false{% endif %},
            closePopup() {
              this.open = !this.open; $store.xMaximizeDrawer.handleClose();
            },
            openPopup() {
              this.open = !this.open;
              $store.xMaximizeDrawer.handleOpen('#PopupPassword');
            }
          }"
        >
          <div
            id="OpenPopupPassword"
            class="text-link pb-1 cursor-pointer relative"
            role="button"
            aria-haspopup="dialog"
            @click="openPopup()"
            tabindex="0"
            @keyup.enter="openPopup()"
            @keydown.enter.prevent
          >
            <span class="underlined-link flex items-center gap-2">
              <span class="w-4 h-6 inline-block">{% render 'icon-all', icon: 'icon-padlock' %}</span>
              {{ 'general.password_page.login_password_button' | t }}
            </span>
            <span class="hidden" aria-hidden="true">
              <span class="w-5 h-5 inline-block">{% render 'icon-all', icon: 'icon-close' %}</span>
            </span>
          </div>
          <div
            id="PopupPassword"
            class="color-bg-[rgba(var(--color-background))]"
            role="dialog"
            aria-labelledby="DialogHeading"
            aria-modal="true"
            x-show="open"
            x-cloak
            @keyup.escape="closePopup();"
            x-intersect.full="$store.xFocusElement.trapFocus('PopupPassword', 'ClosePopupPassword')"
          >
            <button
              type="button"
              id="ClosePopupPassword"
              class="modal__button-close-absolute"
              aria-label="{{ 'accessibility.close' | t }}"
              @click="closePopup()"
              @keyup.enter="closePopup()"
              @keydown.enter.prevent
            >
              <span class="button__close icon-close-large-desktop icon-close-large-mobile">{% render 'icon-all', icon: 'icon-close' %}</span>
            </button>
            <div 
              class="flex items-center justify-center w-full h-full py-16 md:px-12 md:max-w-[600px] md:mx-auto" tabindex="-1"
            >
              <div class="mx-4 md:mx-0 w-full flex items-center flex-col">
                <h2 class="heading-content-spacing color-text-header" id="DialogHeading">
                  {{ 'general.password_page.login_form_heading' | t }}
                </h2>
                <div class="heading-content-spacing flex flex-col items-center">
                  <div class="text-field__wrapper text-field__has-button">
                    <div class="text-field__content  md:w-80{% if form.errors %} password-field--error{% endif %}">
                      <input
                        type="password"
                        name="password"
                        id="Password"
                        class="text-field__input"
                        autocomplete="current-password"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="PasswordLoginForm-password-error"
                        {%- endif -%}
                        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      >
                      <label
                        class="text-field__label"
                        for="Password"
                      >
                        {{ 'general.password_page.login_form_password_placeholder' | t }}
                      </label>
                    </div>
                    <custom-button>
                      <button name="commit" class="button button-primary pt-1.5 pb-1.5 md:pt-2.5 md:pb-2.5 cursor-pointer empty:hidden">
                        {% assign button_label = 'general.password_page.login_form_submit' | t %}
                        {% render 'button-label', button_label: button_label, show_button_style: 'primary' %}
                      </button>
                    </custom-button>
                  </div>
                  {%- if form.errors -%}
                    <div id="PasswordLoginForm-password-error" class="flash-message error-message flex flex-row items-center mt-2" role="status">
                      <span>{{ 'general.password_page.login_form_error' | t }}</span>
                    </div>
                  {%- endif -%}
                </div>
                <p class="rte text-small">{{ 'general.password_page.admin_link_html' | t }}</p>
              </div>
            </div>
          </div>
        </div>
      {%- endform -%}
    </password-modal>
  </div>
</div>
{% schema %}
{
  "name": "t:main_password_header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:main_password_header.settings.logo_image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 150,
      "unit": "px",
      "label": "t:main_password_header.settings.custom_logo_width"
    }
  ]
}
{% endschema %}
