{% liquid
  assign columns_desktop = section.settings.columns_desktop | plus: 0

  if settings.lang_direction contains request.locale.iso_code
    assign is_rtl = true
  else
    assign is_rtl = false
  endif
%}
{% style %}
  .section--{{ section.id }} {
    padding-top: calc({{ section.settings.padding_top }}px * var(--mobile-padding-ratio));
    padding-bottom: calc({{ section.settings.padding_bottom }}px * var(--mobile-padding-ratio));
  }
  @media (min-width: 768px) {
    .section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% render 'section-divider' %}

<div data-section-id="{{ section.id }}" class="section--{{ section.id }} {% if product %} product-specifications-{{ product.id }}{% endif %} color-{{ section.settings.color_scheme_light }} dark-color-{{ section.settings.color_scheme_dark }} {{ section.settings.section_width }} rounded-corners-container">
  <div class="heading-{{ section.id }}">
    <{{ section.settings.heading_tag }} class="heading-{{ section.settings.heading_size }} text-{{ section.settings.heading_alignment }} heading-content-spacing anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">
      {{ section.settings.heading }}
    </{{ section.settings.heading_tag }}>
  </div>
  
  {% for block in section.blocks %}
    <div
      class="spec-list-item block-{{ block.id }} w-full h-auto {% if block.settings.show_in_tab %} rounded-corners border color-border-[rgba(var(--color-text),0.12)] pl-5 pr-5{% unless forloop.first %} mt-1.5{% endunless %}{% else %}{% unless forloop.first %} mt-6{% endunless %}{% endif %}"
      {% if block.settings.open_this_tab %}
        x-data="{ openTab: true }"
      {% else %}
        x-data="{ openTab: false }"
      {% endif %}
      {% if block.settings.show_in_tab %}
        :class="openTab && 'color-bg-[rgba(var(--color-text),0.06)]'"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      <div class="spec-summary relative text-{{ block.settings.heading_alignment }}{% if block.settings.show_in_tab %} cursor-pointer{% endif %}" @click="openTab = !openTab">
        <{{ block.settings.heading_tag }} class="heading-{{ block.settings.heading_size }}{% if block.settings.show_in_tab %} py-5{% endif %} anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">
          {{ block.settings.title }}
        </{{ block.settings.heading_tag }}>
        {% unless block.settings.show_in_tab %}
          <div class="description rte p-break-words anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">{{ block.settings.text }}</div>
        {% endunless %}
        {%- if block.settings.show_in_tab -%}
          <span
            class="w-3 duration-300 inline-block absolute top-1/2 -translate-y-1/2{% if block.settings.heading_alignment == 'right' %} left-0{% else %} right-0{% endif %}"
            :class="openTab && 'rotate-180'">
          {% render 'icon-all', icon: 'icon-caret' %}
        </span>
        {%- endif -%}
      </div>
      {% liquid
        assign list_spec = block.settings.list_of_spec | newline_to_br | strip_newlines | split: '<br />'

        assign spec_size = list_spec.size | minus: 1
        if block.settings.show_in_tab
          assign class_padding = "pb-5"
        else
          assign class_padding = "pt-5 pb-5"
        endif
      %}
      <div
        class="spec-details w-full h-auto
          {%- unless block.settings.show_in_tab %} mt-5 border color-border-[rgba(var(--color-text),0.12)] px-5 rounded-corners{% endunless -%}
          {%- if block.settings.image != blank %} {{ class_padding }}{% endif -%}"
        {% if block.settings.show_in_tab %}
          x-show="openTab"
          x-cloak
          x-collapse
          x-transition.opacity
        {% endif %}
      >
        {% if block.settings.show_in_tab %}
          <div class="description text-{{ block.settings.heading_alignment }} pb-4 rte p-break-words anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">
            {{ block.settings.text }}
          </div>
        {% endif %}
        <div{% if block.settings.image != blank %} class="spec-image flex{% if is_rtl %} ltr{% endif %} gap-5 lg:gap-[30px]{% if section.settings.desktop_image_position == "right" %} lg:flex-row-reverse{% else %} lg:flex-row{% endif %}{% if section.settings.mobile_image_position == "bottom" %} flex-col-reverse{% else %} flex-col{% endif %}"{% endif %}>
          {%- if block.settings.image != blank -%}
            {%- style -%}
              @media screen and (min-width: 1024px) {
                {% if section.settings.desktop_height == 'auto' %}
                  .natural-image-{{ section.id }} {
                    height: 0;
                    padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%
                  }
                {% endif %}
              }
              {% if section.settings.mobile_height == 'auto' %}
                @media screen and (max-width: 1024px) {
                  .natural-image-mobile-{{ section.id }} {
                    height: 0;
                    padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%
                  }
                }
              {% endif %}
            {%- endstyle -%}
            <div class="media-wrapper{% if section.settings.columns_desktop == "1" %} lg:w-1/2{% else %} lg:w-1/3{% endif %}">
              <div
                class="flex relative overflow-hidden rounded-corners {% if section.settings.mobile_height == 'auto' %}natural-image-mobile-{{ section.id }}{% endif %}{% if section.settings.desktop_height == 'auto' %} natural-image-{{ section.id }}{% endif %} h-[{{ section.settings.mobile_height }}] lg:h-[{{ section.settings.desktop_height }}]{% if section.settings.desktop_height == 'adapt' %} lg:h-full{% endif %}">
                <div
                  class="overflow-hidden absolute top-0 left-0 h-full w-full rounded-corners">
                  {% assign default_image_alt = 'accessibility.default_alt' | t %}
                  <picture>
                    <img
                      class="spec-media absolute top-0 left-0 bottom-0 right-0 w-full h-full object-cover"
                      srcset="{{ block.settings.image | image_url: width: 450 }} 450w,
                        {{ block.settings.image | image_url: width: 750 }} 750w,
                        {{ block.settings.image | image_url: width: 900 }} 900w,
                        {{ block.settings.image | image_url: width: 1100 }} 1100w,
                        {{ block.settings.image | image_url: width: 1500 }} 1500w,
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | image_url: width: 1500 }}"
                      alt="{{ block.settings.image.alt | default: default_image_alt | escape }}"
                      loading="lazy"
                      sizes="(min-width: 1024px){% if section.settings.full_width %} 35vw{% else %} {{ settings.page_width | divided_by: 3 }}px{% endif %}, (min-width: 768px) 50vw, 100vw"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      style="object-position: {{ block.settings.image.presentation.focal_point }}"
                    >
                  </picture>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="spec-group grow{% if is_rtl %} rtl{% endif %}{% if block.settings.image != blank %}{% if section.settings.columns_desktop == "1" %} lg:w-1/2{% else %} lg:w-2/3{% endif %}{% endif %}">
            <div class="grid md:grid-cols-{{ columns_desktop }} gap-x-[30px]">
              {% for i in (0..spec_size) %}
                {% if list_spec[i] != blank %}
                  {% liquid
                    assign spec = list_spec[i] | split: ':'
                    assign label = spec[0]
                    assign custom_metafield = spec[1] | remove: ' ' | split: '.'
                  %}
                  <div class="spec-row w-full h-full py-3.5 color-border-[rgba(var(--color-text),0.06)]{% unless forloop.first %} border-t{% endunless %}{% unless i < columns_desktop %} md:border-t{% else %} md:border-t-0{% endunless %} flex gap-5">
                    <span class="spec-col inline-block w-1/4 md:w-[35%] p-break-words anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">
                      <span class="anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">{{ label }}</span>
                    </span>
                    <div class="spec-col w-3/4 md:w-[65%] anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">
                      {% liquid
                        assign variant_current = product.metafields[custom_metafield.first][custom_metafield.last]
                        if product.selected_or_first_available_variant.metafields[custom_metafield.first][custom_metafield.last].value
                          assign variant_current = product.selected_or_first_available_variant.metafields[custom_metafield.first][custom_metafield.last]
                        endif
                      %}

                      {% if variant_current.value %}
                        {% case variant_current.type %}
                          {% when 'multi_line_text_field' %}
                            {{ variant_current.value | newline_to_br }}
                          {% when 'rich_text_field' %}
                            <div class="rte">{{ variant_current | metafield_tag }}</div>
                          {% else %}
                            {% if variant_current.list? %}
                              <ul class="single-line-text-fields list-inside list-disc">
                                {% for metafield in variant_current.value %}
                                  <li>{{ metafield }}</li>
                                {% endfor %}
                              </ul>
                            {% else %}
                              {{ variant_current.value }}
                            {% endif %}
                        {% endcase %}
                      {% else %}
                        {{ block.settings.text_for_empty_field }}
                      {% endif %}
                    </div>
                  </div>
                {% elsif block.settings.text_for_empty_field != blank %}
                  <div class="spec-row spec-empty w-full h-full py-3.5{% unless forloop.first %} border-t{% endunless %}{% unless i < columns_desktop %} md:border-t{% else %} md:border-t-0{% endunless %} flex gap-5">
                    {{ block.settings.text_for_empty_field }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "t:product_specifications.name",
  "tag": "section",
  "class": "maximize-section section-product-spec",
  "enabled_on": {
    "templates": [
      "product"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:global.text.heading",
      "default": "Product specifications"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:global.text.heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:global.size.small"
        },
        {
          "value": "medium",
          "label": "t:global.size.medium"
        },
        {
          "value": "large",
          "label": "t:global.size.large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "default": "h2",
      "label": "t:global.text.heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "p"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "default": "center",
      "label": "t:global.alignment.heading",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.header.desktop_layout"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "label": "t:global.section.number_of_columns",
      "options": [
        {
          "value": "1",
          "label": "t:global.section.columns.1_column"
        },
        {
          "value": "2",
          "label": "t:global.section.columns.2_columns"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "options": [
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "450px",
          "label": "450px"
        },
        {
          "value": "550px",
          "label": "550px"
        },
        {
          "value": "auto",
          "label": "t:global.ratio.natural"
        },
        {
          "value": "adapt",
          "label": "t:global.image.adapt_to_content"
        }
      ],
      "default": "400px",
      "label": "t:global.image.desktop_image_height"
    },
    {
      "type": "select",
      "id": "desktop_image_position",
      "label": "t:global.position.desktop_image_position",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:global.header.mobile_layout"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "250px",
          "label": "250px"
        },
        {
          "value": "300px",
          "label": "300px"
        },
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "auto",
          "label": "t:global.ratio.natural"
        }
      ],
      "default": "250px",
      "label": "t:global.image.mobile_image_height"
    },
    {
      "type": "select",
      "id": "mobile_image_position",
      "label": "t:global.position.mobile_image_position",
      "options": [
        {
          "value": "top",
          "label": "t:global.position.top"
        },
        {
          "value": "bottom",
          "label": "t:global.position.bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "t:global.header.section_layout"
    },
    {
      "type": "select",
      "label": "t:global.section.section_width.label",
      "id": "section_width",
      "options": [
        {
          "label": "t:global.section.section_width.option_1",
          "value": "page-width"
        },
        {
          "label": "t:global.section.section_width.option_2",
          "value": "full-width"
        },
        {
          "label": "t:global.section.section_width.option_3",
          "value": "full-width-padded"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:global.section.top_padding"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:global.section.bottom_padding"
    },
    {
      "id": "show_section_divider",
      "type": "checkbox",
      "default": false,
      "label": "t:global.section.show_section_divider"
    },
    {
      "type": "header",
      "content": "t:global.header.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_light",
      "default": "scheme-1",
      "label": "t:global.colors.color_scheme_light"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_dark",
      "default": "scheme-2",
      "label": "t:global.colors.color_scheme_dark"
    }
  ],
  "blocks": [
    {
      "name": "t:product_specifications.blocks.specification.name",
      "type": "spec",
      "limit": 5,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_in_tab",
          "default": false,
          "label": "t:main_product.blocks.description.show_in_tab"
        },
        {
          "type": "checkbox",
          "id": "open_this_tab",
          "default": false,
          "label": "t:main_product.blocks.description.open_by_default"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:global.text.heading",
          "default": "Technical details"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:global.text.heading_size",
          "options": [
            {
              "value": "small",
              "label": "t:global.size.small"
            },
            {
              "value": "medium",
              "label": "t:global.size.medium"
            },
            {
              "value": "large",
              "label": "t:global.size.large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "default": "h2",
          "label": "t:global.text.heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_alignment",
          "default": "center",
          "label": "t:global.alignment.heading",
          "options": [
            {
              "value": "left",
              "label": "t:global.position.left"
            },
            {
              "value": "center",
              "label": "t:global.position.center"
            },
            {
              "value": "right",
              "label": "t:global.position.right"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Let customers know more about your products by adding technical specifications and product features.</p>",
          "label": "t:global.text.text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.image"
        },
        {
          "type": "header",
          "content": "t:product_specifications.blocks.specification.settings.specification_detail.header"
        },
        {
          "type": "textarea",
          "id": "list_of_spec",
          "label": "t:product_specifications.blocks.specification.settings.specification_detail.list_of_spec",
          "info": "t:product_specifications.blocks.specification.settings.specification_detail.list_of_spec_info",
          "default": "Material:custom.material\nDimension:custom.dimension\nLength:custom.length\nHeight:custom.height"
        },
        {
          "type": "text",
          "id": "text_for_empty_field",
          "label": "t:comparison_overlay.settings.grid.text_empty_field",
          "default": "-"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:product_specifications.name",
      "blocks": [
        {
          "type": "spec"
        },
        {
          "type": "spec",
          "settings": {
            "show_in_tab": false,
            "open_this_tab": false,
            "title": "Technical details",
            "heading_size": "small",
            "heading_alignment": "center",
            "text": "<p>Let customers know more about your products by adding technical specifications and product features.</p>",
            "list_of_spec": "Project name: custom.project_name\nObjective: custom.objective\nFeatures: custom.features\nDesign requirements: custom.requirements\nEstablishment time: custom.establishment_time\nDeliverables: custom.deliverables",
            "text_for_empty_field": "-"
          }
        }
      ]
    }
  ]
}
{% endschema %}
