{% liquid
  assign block_first = section.blocks | first
  if block_first.settings.video_url.type == 'youtube' or block_first.settings.video_url.type == 'vimeo' or block_first.settings.video != null
    assign adapt_video = true
  else
    if block_first.settings.image != blank
      assign image_adapt = block_first.settings.image
    endif
  endif

  assign block_size = section.blocks.size
  assign lg_max_width_content_percent = block_size | times: 12.5
  assign lg_max_width_content_percent = 100 | minus: lg_max_width_content_percent
  assign xl_max_width_content_percent = block_size | times: 10
  assign xl_max_width_content_percent = 100 | minus: xl_max_width_content_percent

  assign color_schemes_light = settings.color_schemes_light
  assign color_schemes_dark = settings.color_schemes_dark

  assign enable_slide_autoplay = false
  if section.settings.auto_play != 0 and section.blocks.size > 1
    assign enable_slide_autoplay = true
  endif
%}

{% style %}
  .maximize-theme:not(.dark) .section--{{ section.id }} .wipe_wipe.enable-animation, .section--{{ section.id }} .segmented-banner__content:not(.active):before {
    {% if section.settings.transition_color_light.alpha != 0.0 %}
      background-color: rgba({{ section.settings.transition_color_light.red }} {{ section.settings.transition_color_light.green }} {{ section.settings.transition_color_light.blue }} / {{ section.settings.transition_color_light.alpha }});
    {% else %}
      background-color: rgba({{ color_schemes_light.settings.background.red }} {{ color_schemes_light.settings.background.green }} {{ color_schemes_light.settings.background.blue }} / {{ color_schemes_light.settings.background.alpha }});
    {% endif %}
  }
  .dark .section--{{ section.id }} .wipe_wipe.enable-animation, .dark .section--{{ section.id }} .segmented-banner__content:not(.active):before {
    {% if section.settings.transition_color_dark.alpha != 0.0 %}
      background-color: rgba({{ section.settings.transition_color_dark.red }} {{ section.settings.transition_color_dark.green }} {{ section.settings.transition_color_dark.blue }} / {{ section.settings.transition_color_dark.alpha }});
    {% else %}
      background-color: rgba({{ color_schemes_dark.settings.background.red }} {{ color_schemes_dark.settings.background.green }} {{ color_schemes_dark.settings.background.blue }} / {{ color_schemes_dark.settings.background.alpha }});
    {% endif %}
  }
  .section--{{ section.id }} {
    padding-top: calc({{ section.settings.padding_top }}px * var(--mobile-padding-ratio));
    padding-bottom: calc({{ section.settings.padding_bottom }}px * var(--mobile-padding-ratio));
  }
  .mobile-{{ section.id }}-natural {
    {%- if adapt_video != true and block_first and block_first.settings.mobile_image != blank -%}
      height:0;
      padding-bottom: {{ 1 | divided_by: block_first.settings.mobile_image.aspect_ratio | times: 100 }}%;
    {%- else -%}
      height: 550px;
    {%- endif -%}
  }
  @media (min-width: 768px) {
    .section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .desktop-{{ section.id }}-natural {
      {%- if image_adapt -%}
        height:0;
        padding-bottom: {{ 1 | divided_by: image_adapt.aspect_ratio | times: 100 }}%;
      {%- else -%}
        height: 650px;
      {%- endif -%}
    }
  }
{% endstyle %}

<div class="section--{{ section.id }} full-width px-0">
  {% if section.blocks.size > 0 %}
    <div
      class="segment-banner__wrapper relative
        {%- if section.settings.hero_desktop_height == "natural" %}
          {%- if adapt_video %} lg:pb-[56.25%]{% else %}{% if image_adapt != blank %} lg:h-0 desktop-{{ section.id }}-natural{% else %} lg:pb-0 lg:h-[650px]{% endif %}{% endif -%}
          {%- else %}{% unless request.visual_preview_mode %} lg:max-h-[100vh]{% endunless %} lg:h-[{{ section.settings.hero_desktop_height }}] lg:pb-0{% endif -%}
        {%- if section.settings.hero_mobile_height == "natural" %}
          {%- if adapt_video %} pb-[56.25%]{% else %}{% if block_first.settings.mobile_image != blank %} h-0 mobile-{{ section.id }}-natural{% else %} h-[550px]{% endif %}{% endif -%}
          {%- else %} h-[{{ section.settings.hero_mobile_height }}]{% endif -%}
        {%- if enable_slide_autoplay %} slide-auto-play{% endif -%}
      "
      x-data="xSegmentedBanner({{ block_size }}, '{{ section.id }}', {{ section.settings.auto_play }}, '{{ section.settings.pause_on_hover }}')"
      x-init="updateHeight()"
      {% if enable_slide_autoplay %}
        x-intersect="resumeAutoPlay()"
        x-intersect:leave="pauseAutoPlay()"
        @focusin="isHover = true; pauseAutoPlay()"
        @focusout="isHover = false; resumeAutoPlay()"
        {% if section.settings.pause_on_hover %}
          @mouseenter="isHover = true; pauseAutoPlay()"
          @mouseleave="isHover = false; resumeAutoPlay()"
        {% endif %}
      {% endif %}
    >
      <div class="segmented-banner__image-wrapper" x-ref="segmentedImageWrapper">
        {% for block in section.blocks %}
          {% if block.type == 'segment' %}
            <div
              class="segmented-banner__image color-{{ block.settings.color_scheme_light }} dark-color-{{ block.settings.color_scheme_dark }}{% if forloop.first %} is-active{% endif %}"
              {% if request.design_mode %}
                data-block-id="{{ block.id }}"
              {% endif %}
              :class="{ 'is-active': activeIndex === {{ forloop.index0 }}}"
              {{ block.shopify_attributes }}
            >
              <div class="absolute overflow-hidden top-0 left-0 w-full h-full">
                {% liquid
                  assign preload = false
                  if section.index == 1 and forloop.first
                    assign preload = true
                  endif

                  if forloop.first
                    assign is_active_media = true
                  else
                    assign is_active_media = false
                  endif
                %}
                {% render 'media',
                  enable_video_autoplay: true,
                  show_controls: false,
                  video_alt: block.settings.video_alt_text,
                  video: block.settings.video,
                  video_url: block.settings.video_url,
                  cover_image: block.settings.image,
                  mobile_cover_image: block.settings.mobile_image,
                  section: section,
                  sizes: '100vw',
                  class: 'absolute overflow-hidden top-0 left-0 w-full h-full',
                  buttons_position: 'top-0 justify-start',
                  show_sound_control: block.settings.show_sound_control,
                  show_button_play: false,
                  is_full_height: true,
                  show_placeholder_image: true,
                  preload: preload,
                  is_interaction_disabled: true,
                  is_active_media: is_active_media
                %}
              </div>
              <span class="absolute pointer-events-none top-0 left-0 bottom-0 right-0 z-10 scheme-image-overlay opacity-{{ block.settings.overlay_opacity }}"></span>
              <div class="z-10 absolute w-full top-0 bottom-0 flex">
                <div 
                  class="segmented-banner__img__content__wrapper justify-{{ block.settings.mobile_content_position }} md:justify-{{ block.settings.desktop_content_position }} text-{{ section.settings.content_alignment }} ltr items-{{ section.settings.content_alignment }} lg:max-w-[{{ lg_max_width_content_percent }}%] xl:max-w-[{{ xl_max_width_content_percent }}%]"
                  :style="'margin-bottom: ' + heightTitleBlock + 'px'"
                >
                  <div class="segmented-banner__img__content" :tabindex="activeIndex === {{ forloop.index0 }} ? '0' : '-1'">
                    {% assign delay_fade_el_class = 'delay-[calc(var(--segmented-banner-animation-duration-mobile)*0.5)] lg:delay-[calc(var(--segmented-banner-animation-duration-desktop)*0.5)]' %}
                    {% if block.settings.subheading != blank or block.settings.heading != blank or block.settings.text != blank %}
                      <div class="{% if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank %}heading-content-spacing{% endif %}">
                        {%- if block.settings.subheading != blank -%}
                          <p
                            class="sub-heading-{{ block.id }} h5 subheading p-break-words anm-text-overlay-slide"
                            :class="[activeIndex === {{ forloop.index0 }} ? 'is-visible' : '', (activeIndex === {{ forloop.index0 }} && isActiveIndexChanged) ? '{{ delay_fade_el_class }}' : '']"
                          >
                            {{ block.settings.subheading | escape }}
                          </p>
                        {%- endif -%}
                        {%- if block.settings.heading != blank -%}
                          <{{ block.settings.heading_tag }} 
                            class="p-break-words heading-{{ block.settings.heading_size }} color-text-[rgba(var(--color-heading))] block leading-tight image-treatment-text{% if block.settings.subheading != blank %} mt-0.5{% endif %} anm-text-overlay-slide"
                            :class="[activeIndex === {{ forloop.index0 }} ? 'is-visible' : '', (activeIndex === {{ forloop.index0 }} && isActiveIndexChanged) ? '{{ delay_fade_el_class }}' : '']"
                          >
                            {% render 'text-highlight',
                                id: block.id,
                                text: block.settings.heading,
                                highlight_effect: block.settings.highlight_effect,
                                text_transform: block.settings.text_transform,
                                custom_class: delay_fade_el_class,
                                disable_animation_fade: true
                            %}
                          </{{ block.settings.heading_tag }}>
                        {%- endif -%}
                        {% if block.settings.text != blank %}
                          <div
                            class="text-{{ block.id }} rte text-large{% if block.settings.subheading != blank or block.settings.heading != blank %} mt-3{% endif %} anm-text-overlay-slide"
                            :class="[activeIndex === {{ forloop.index0 }} ? 'is-visible' : '',(activeIndex === {{ forloop.index0 }} && isActiveIndexChanged) ? '{{ delay_fade_el_class }}' : '']"
                          >
                            {% render 'text-highlight',
                              id: block.id,
                              text: block.settings.text,
                              highlight_effect: block.settings.highlight_effect,
                              text_transform: block.settings.text_transform,
                              custom_class: delay_fade_el_class,
                              disable_animation_fade: true,
                              allow_html: true
                            %}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                      {% liquid
                        if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank
                          if block.settings.button_style_1 != "text-link" and block.settings.button_style_2 == "text-link"
                            assign button_padding = true
                          endif
                          if block.settings.button_style_1 == "text-link" and block.settings.button_style_2 != "text-link"
                            assign button_padding = true
                          endif
                        endif
                      %}
                      {% if button_padding %}
                        {% style %}
                          .buttons-{{ block.id }} .button-no-padding {
                          --button-padding-y-mobile: 10px;
                          --button-padding-y-desktop: 16px;
                          line-height: 1.4;
                          }
                        {% endstyle %}
                      {% endif %}
                      {% liquid
                        assign gap_x_button_wrapper = ' gap-x-1 md:gap-x-2'
                        if block.settings.button_style_1 == 'text-link' or block.settings.button_style_2 == 'text-link'
                          assign gap_x_button_wrapper = ' gap-x-3 md:gap-x-5'
                        endif
                      %}

                      <div 
                        class="buttons-{{ block.id }} pointer-events-auto p-0.5 inline-flex flex-wrap gap-y-2 p-break-words {{ gap_x_button_wrapper }} justify-{{ section.settings.content_alignment }} anm-text-overlay-slide"
                        :class="[activeIndex === {{ forloop.index0 }} ? 'is-visible' : '',(activeIndex === {{ forloop.index0 }} && isActiveIndexChanged) ? '{{ delay_fade_el_class }}' : '']"
                      >
                        {%- if block.settings.button_label_1 != blank -%}
                          {% render 'button', button_style: block.settings.button_style_1, button_label: block.settings.button_label_1, button_link: block.settings.button_link_1, open_new_window_button: block.settings.open_new_window_button_1, button_size: 'button-large' %}
                        {%- endif -%}
                        {%- if block.settings.button_label_2 != blank -%}
                          {% render 'button', button_style: block.settings.button_style_2, button_label: block.settings.button_label_2, button_link: block.settings.button_link_2, open_new_window_button: block.settings.open_new_window_button_2, button_size: 'button-large' %}
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="w-full h-full absolute inset-0 overflow-hidden">
        <div
          class="wipe_wipe z-10 h-full w-full scale-x-0"
          :class="activeAnimation && ' enable-animation'"
          x-on:animationend="activeAnimation = false;{% if enable_slide_autoplay %} handleAutoPlay();{% endif %}"
          x-cloak
        ></div>
      </div>
      <div
        class="segmented-banner__content__wrapper grid-cols-{{ block_size }} lg:w-[{{ 100 | minus: lg_max_width_content_percent }}%] xl:w-[{{ 100 | minus: xl_max_width_content_percent }}%]"
        x-bind:class="activeAnimation && 'pointer-events-none'"
        x-ref="segmentedBannerWrapper"
      >
        {% if enable_slide_autoplay %}
          {% style %}
            .section--{{ section.id }} .segmented-banner__content__overlay.progress.loading {
              transition: transform {{ section.settings.auto_play }}s ease-out ;
              will-change: transform;
              transform: translateX(0);
            }
            @media screen and (min-width: 768px) {
              .section--{{ section.id }} .segmented-banner__content__overlay.progress.loading {
                transform: translateY(0);
              }
            }
          {% endstyle %}
        {% endif %}
        {% for block in section.blocks %}
          <div
            class="segmented-banner__content color-{{ block.settings.color_scheme_light }} dark-color-{{ block.settings.color_scheme_dark }}
              {%- if forloop.first %} active{% endif -%}"
            @click="handleClick({{ forloop.index0 }})"
            @keydown.space="handleClick({{ forloop.index0 }}); updateFocsingElement()"
            @keydown.enter="handleClick({{ forloop.index0 }}); updateFocsingElement()"
            :tabindex="activeIndex == {{ forloop.index0 }} ? '-1' : '0'"
            :aria-disabled="activeIndex == {{ forloop.index0 }} ? true : false"
            role="button"
            aria-label="Segment {{ forloop.index0 }}"
            data-index="{{ forloop.index0 }}"
          >
            <div class="segmented-banner__content__overlay{% if forloop.index0 == 0 %} progress{% endif %}"
              {% if enable_slide_autoplay %}
                :class="{ 'progress': activeIndex === {{ forloop.index0 }}, 'loading': !activeAnimation && !isHover && activeProgessBar }"
              {% endif %}
            ></div>
            <div class="flex relative h-1/2 flex-col justify-between" :class="activeIndex !== {{ forloop.index0 }} && 'opacity-80'">
              <{{ block.settings.heading_tag }} class="heading-segmented-{{ block.settings.heading_size }} p-break-words font-bold delay-[var(--transition-slideshow-content)] anm-fade-element" x-intersect.once="$el.classList.add('is-visible')">
                {{ block.settings.heading | escape | remove: '[' | remove: ']' }}
              </{{ block.settings.heading_tag }}>
              <span 
                class="segmented-banner__content__banner-number w-fit h2 delay-[var(--transition-slideshow-content)] anm-fade-element" 
                x-intersect.once="$el.classList.add('is-visible')">
                  0{{ forloop.index }}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
      <div
        x-ref="segmented_banner_title_block_{{ section.id }}"
        class="absolute z-20 flex justify-center gap-2 lg:hidden overflow-hidden w-full bottom-0 px-3 lg:px-0"
        x-bind:class="activeAnimation && 'pointer-events-none'"
      >
        {% for block in section.blocks %}
          <div
            class="segmented-banner__content__paginate paginate-item-{{ block.id }} color-{{ block.settings.color_scheme_light }} dark-color-{{ block.settings.color_scheme_dark }}"
            @click="handleClick({{ forloop.index0 }})"
          >
            <div class="segmented-banner__content__overlay"
              {% if enable_slide_autoplay %}
                :class="activeIndex === {{ forloop.index0 }} && !activeAnimation && !isHover && activeProgessBar ? 'progress loading' : ''"
              {% endif %}
            ></div>
            <span
              class="inline-block w-full border-t"
              :class="activeIndex === {{ forloop.index0 }} ? 'color-border-[rgba(var(--color-heading))]' : 'color-border-[rgba(var(--color-heading),0.2)]'"
            >
            </span>
            <span class="delay-[var(--transition-slideshow-content)] anm-fade-element px-2 pt-2 pb-4" :class="activeIndex !== {{ forloop.index0 }} && 'opacity-80'" x-intersect.once="$el.classList.add('is-visible')">
              <span class="h6">0{{ forloop.index }}</span>
              <span class="lg:hidden h6">{{ block.settings.heading | escape | remove: '[' | remove: ']' }}</span>
            </span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

<script src="{{ 'segmented-banner.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "t:segmented_banner.name",
  "tag": "section",
  "class": "maximize-section section-hero-banner-slideshow",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ],
      "label": "t:global.alignment.content",
      "default": "center"
    },
    {
      "type": "range",
      "id": "auto_play",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:global.carousel.auto_play",
      "default": 5,
      "info": "t:global.carousel.auto_play_info"
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:global.carousel.pause_on_hover",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.header.desktop_layout"
    },
    {
      "type": "select",
      "id": "hero_desktop_height",
      "label": "t:segmented_banner.settings.desktop_layout.hero_desktop_height",
      "options": [
        {
          "value": "450px",
          "label": "450px"
        },
        {
          "value": "550px",
          "label": "550px"
        },
        {
          "value": "650px",
          "label": "650px"
        },
        {
          "value": "750px",
          "label": "750px"
        },
        {
          "value": "natural",
          "label": "t:global.image.adapt_to_first_image"
        },
        {
          "value": "100vh",
          "label": "t:global.image.fullscreen"
        }
      ],
      "default": "750px"
    },
    {
      "type": "header",
      "content": "t:global.header.mobile_layout"
    },
    {
      "type": "select",
      "id": "hero_mobile_height",
      "label": "t:segmented_banner.settings.mobile_layout.hero_mobile_height",
      "options": [
        {
          "value": "250px",
          "label": "250px"
        },
        {
          "value": "300px",
          "label": "300px"
        },
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "natural",
          "label": "t:global.image.adapt_to_first_image"
        },
        {
          "value": "90vh",
          "label": "t:global.image.fullscreen"
        }
      ],
      "default": "500px"
    },
    {
      "type": "header",
      "content": "t:global.header.section_layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:global.section.top_padding"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 28,
      "label": "t:global.section.bottom_padding"
    },
    {
      "type": "header",
      "content": "t:global.header.colors"
    },
    {
      "type": "color",
      "id": "transition_color_light",
      "label": "t:segmented_banner.settings.colors.transition_light",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "transition_color_dark",
      "label": "t:segmented_banner.settings.colors.transition_dark",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "type": "segment",
      "name": "t:segmented_banner.blocks.segment.name",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:global.image.mobile_image"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:global.overlay.overlay_opacity",
          "default": 20
        },
        {
          "type": "header",
          "content": "t:global.header.video"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:global.video.upload_video"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "label": "t:global.video.video_url",
          "info": "t:global.video.video_url_info"
        },
        {
          "type": "text",
          "id": "video_alt_text",
          "label": "t:global.video.video_alt_text",
          "info": "t:global.video.video_alt_text_info"
        },
        {
          "type": "checkbox",
          "id": "show_sound_control",
          "label": "t:global.video.show_sound_control",
          "info": "t:global.video.show_sound_control_info",
          "default": false
        },
        {
          "type": "header",
          "content": "t:segmented_banner.blocks.segment.settings.banner_content.header"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:global.text.subheading",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:global.text.heading",
          "default": "Segmented banner heading",
          "info": "t:global.text.highlight_info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:global.text.heading_size",
          "options": [
            {
              "value": "small",
              "label": "t:global.size.small"
            },
            {
              "value": "medium",
              "label": "t:global.size.medium"
            },
            {
              "value": "large",
              "label": "t:global.size.large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "default": "h2",
          "label": "t:global.text.heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "p"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "<p>Describe your store to your customer</p>",
          "info": "t:global.text.highlight_info"
        },
        {
          "type": "select",
          "id": "highlight_effect",
          "label": "t:global.text.highlight_effect.label",
          "options": [
            {
              "value": "underline",
              "label": "t:global.text.highlight_effect.option_1"
            },
            {
              "value": "marker",
              "label": "t:global.text.highlight_effect.option_2"
            },
            {
              "value": "text-color-change",
              "label": "t:global.text.highlight_effect.option_3"
            },
            {
              "value": "shadow",
              "label": "t:global.text.highlight_effect.option_4"
            }
          ],
          "default": "underline"
        },
        {
          "type": "select",
          "id": "text_transform",
          "label": "t:global.text.transform.label",
          "options": [
            {
              "value": "none",
              "label": "t:global.text.transform.none"
            },
            {
              "value": "italic",
              "label": "t:global.text.transform.italic"
            },
            {
              "value": "uppercase",
              "label": "t:global.text.transform.uppercase"
            },
            {
              "value": "both",
              "label": "t:global.text.transform.italic_and_uppercase"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "t:motion_image_banner.settings.after_motion.button_label_1",
          "default": "Discover now"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:motion_image_banner.settings.after_motion.button_link_1",
          "visible_if": "{{ block.settings.button_label_1 != blank }}"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button_1",
          "default": false,
          "label": "t:global.text.open_link_new_tab",
          "visible_if": "{{ block.settings.button_label_1 != blank }}"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "t:motion_image_banner.settings.after_motion.button_style_1",
          "options": [
            {
              "value": "primary",
              "label": "t:global.button.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:global.button.style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:global.button.style.text_link"
            }
          ],
          "default": "primary",
          "visible_if": "{{ block.settings.button_label_1 != blank }}"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:motion_image_banner.settings.after_motion.button_label_2"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:motion_image_banner.settings.after_motion.button_link_2",
          "visible_if": "{{ block.settings.button_label_2 != blank }}"
        },
        {
          "type": "checkbox",
          "id": "open_new_window_button_2",
          "default": false,
          "label": "t:global.text.open_link_new_tab",
          "visible_if": "{{ block.settings.button_label_2 != blank }}"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "t:motion_image_banner.settings.after_motion.button_style_2",
          "options": [
            {
              "value": "primary",
              "label": "t:global.button.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:global.button.style.secondary"
            },
            {
              "value": "text-link",
              "label": "t:global.button.style.text_link"
            }
          ],
          "default": "primary",
          "visible_if": "{{ block.settings.button_label_2 != blank }}"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "start",
              "label": "t:global.position.top"
            },
            {
              "value": "center",
              "label": "t:global.position.center"
            },
            {
              "value": "end",
              "label": "t:global.position.bottom"
            }
          ],
          "label": "t:global.position.desktop_content_position",
          "default": "center"
        },
        {
          "type": "select",
          "id": "mobile_content_position",
          "options": [
            {
              "value": "start",
              "label": "t:global.position.top"
            },
            {
              "value": "center",
              "label": "t:global.position.center"
            },
            {
              "value": "end",
              "label": "t:global.position.bottom"
            }
          ],
          "label": "t:global.position.mobile_content_position",
          "default": "center"
        },
        {
          "type": "header",
          "content": "t:global.header.colors"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_light",
          "default": "scheme-3",
          "label": "t:global.colors.color_scheme_light"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_dark",
          "default": "scheme-3",
          "label": "t:global.colors.color_scheme_dark"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:segmented_banner.name",
      "blocks": [
        {
          "type": "segment"
        },
        {
          "type": "segment"
        },
        {
          "type": "segment"
        }
      ]
    }
  ]
}
{% endschema %}
